[2015-09-20 20:20] daviddias opened #448 "[switch] idea: multihandshake for 0-RTT handshakes"
Right now, for each type of `connection upgrade`, we perform a multistream handshake in order to be able to support several protocols on top of the same transport. This adds a considerable amount of RTT's  to the connection before it is ready, which might represent a problem for slow links.

0 handshake can bring considerable amounts performance for streaming scenarios. What if we take the multist

[2015-10-28 21:57] diasdavid opened #1 "We are renaming the prefix of our JavaScript modules from 'node-' to 'js-'"
ref: https://github.com/ipfs/js-ipfs/issues/32

[2015-10-28 21:57] #1 closed

[2015-12-11 00:47] diasdavid opened #4 "WebCrypto"
# webcrypto

https://github.com/diasdavid/webcrypto

WebCryptoAPI polyfil to work in Node.js in the Browser (so that you don't have to be concerned about moving crypto code between a browser and server side app)

Context: https://github.com/nodejs/node/issues/2833
# How can you help
- The module is still being made, if someone wants to take the lead, it would be great :)

For reference, here is th

[2015-12-11 01:18] diasdavid opened #5 "js-multistream"
# js-multistream
https://github.com/diasdavid/js-multistream

Follows https://github.com/jbenet/multistream/tree/master/multistream spec

# How you can help
- make code coverage go up to 100%

[2015-12-11 01:20] diasdavid opened #6 "⛵️ Captain.log - libp2p JavaScript Implementation 🌟"
![](https://media.giphy.com/media/yrPe9ViyqOsQE/giphy.gif)

[2015-12-17 10:09] diasdavid opened #7 "transport: µTP"
Following [libp2p implementation in Go](https://github.com/ipfs/go-libp2p) and [go-ipfs](https://github.com/ipfs/go-ipfs) supporting utp as a transport. @masylum has initiated the work to build the [libp2p-utp](https://github.com/diasdavid/js-libp2p-utp) shim that enables libp2p to use [multiaddr](ub.com/jbenet/mu) instead of ip:port pairs and @mafintosh [is working on the single uTP implementatio

[2015-12-17 10:32] daviddias opened #8 "transport: UDT"
We want to support udt as one of the transports available to be used in libp2p.

Current endeavours:
- Node.js bindings for udt4 package https://www.npmjs.com/package/udt4 + discussion of integration https://github.com/diasdavid/js-libp2p-udt/issues/1
- JS implementation of udt https://www.npmjs.com/package/udt
- libp2p-udt shim https://github.com/diasdavid/js-libp2p-udt

How you can help:
- By te

[2015-12-17 10:58] diasdavid opened #9 "crypto channel: tls"
Currently [go-libp2p](https://github.com/ipfs/go-libp2p) implements `secio`, an in house baked crypto channel library. However, IPFS will be moving to [TLS eventually](https://github.com/ipfs/specs/issues/29), which means that libp2p must offer it as a crypto channel upgrade to a connection.

Our current endeavour is to have a TLS library that is compatible and exposes an [connection interface](ht

[2015-12-17 11:14] daviddias opened #10 "crypto channel: curveCP"
I've been researching and learning about CurveCP and I'm currently trying the actual state of the project. The Alpha was released on Fev 2011 and since then, I haven't find any more updates on it. Is there anyone watching very familiar with the state of the project and who is currently actively contributing to it?

Reference Links:
- http://curvecp.org/
- 1st announcement (with DNSSec intro) http:

[2015-12-23 09:44] diasdavid commented on #6
### LOG - Week of December 21

**Update:**

- libp2p swarm example is available https://github.com/diasdavid/js-libp2p/tree/master/examples/level1-swarm
- Initial work on utp https://github.com/diasdavid/js-libp2p/issues/7
- Initial work on tls https://github.com/diasdavid/js-libp2p/issues/9

**Next:**

- Update mdns-discovery to use the latest multicast-dns
- Review and agree on what will be the

[2016-02-20 03:37] rmhrisk commented on #4
https://github.com/PeculiarVentures/node-webcrypto-ossl

[2016-03-10 20:41] daviddias opened #447 "Bring libp2p-utp back"
ref:
- https://github.com/libp2p/js-libp2p-utp/issues/19
- https://github.com/libp2p/js-libp2p-utp/pull/74

[2016-03-14 22:46] kumavis opened #11 "readme - libp2p-webrtc link 404s"
on the readme me the `libp2p-webrtc` currently links to https://github.com/diasdavid/js-libp2p/blob/master

[2016-03-14 22:50] kumavis commented on #11
oh, seems like a github markdown bug
[code]

[2016-03-14 22:50] #11 closed

[2016-05-11 07:07] diasdavid opened #13 "transport: inMemory transports"
Support for Unix Domain Sockets and something similar that would work in the browser

//cc @dignifiedquire @nicolagreco

[2016-06-10 23:50] daviddias opened #446 "go-js Interop: Make the dialling/listening flow independent from identify"
Currently, there is a deadlock caused when connecting a go-ipfs and a js-ipfs node together, this is caused by how Identify is implemented. The tl;dr; is that go-ipfs executes the identify on the dialer side and blocks until that call is finished and js-ipfs won't 'handle' protocols until it finishes it's identify on the listening side causing a deadlock.

This issue revealed some other underlying

[2016-08-26 20:01] 18dew opened #21 "Error in Test"
Current test do not factor in changes in transport.add

[2016-08-29 15:32] diasdavid commented on #21
This module will be the base class for libp2p builds. Currently we have full builds at:

- https://github.com/ipfs/js-libp2p-ipfs
- https://github.com/ipfs/js-libp2p-ipfs-browser

Apologies for the confusion

[2016-09-07 19:01] diasdavid commented on #5
✔️

[2016-09-07 19:01] #5 closed

[2016-09-09 15:02] dignifiedquire opened #444 "[switch] [interop] Handle missing public key in identify"
go-libp2p does not send the public key in the identify process, but rather expects secio to handle this part. To be interoperable we should
- handle a missing public key in identify gracefully
- expose the retrieved public key from the peer on secio
- update the information in swarm after the retrieval of the key from secio

[2016-10-30 21:02] prestwich opened #31 "Use KadTools instead of reimplementing Kademlia?"
KadTools is very mature, and used by at least one production system. It includes several useful additions like basic Pub/sub and NAT traversal strategies.

https://github.com/kadtools

[2016-10-31 08:34] diasdavid commented on #31
Interesting, thank you for pointing to this, will investigate :)

[2016-11-26 13:16] JustinDrake opened #44 "Roadmap for the relay protocol"
`go-libp2p` has implemented a [relay protocol](https://github.com/libp2p/go-libp2p/blob/master/p2p/protocol/relay/relay.go) for a node to relay traffic between two directly connected nodes. Are there plans to implement this relay protocol in `js-libp2p`?

[2016-11-26 14:50] diasdavid commented on #44
It is 2014 Q4 - https://github.com/libp2p/libp2p/blob/master/ROADMAP.md#milestone---write-libp2p-relay-spec :)

[2016-11-26 14:50] #44 closed

[2016-11-26 14:51] #21 closed

[2016-11-26 14:57] JustinDrake commented on #44
Thanks! (Actually 2016 Q4.)

[2016-11-27 18:32] diasdavid commented on #13
@lgierth any thoughts on this one? How should an inMemory transport be referenced by multiaddr? Starting to think that this becomes easily messy and out of scope of libp2p.

[2016-11-27 18:33] diasdavid commented on #4
We moved to WebCrypto and now we are having two issues:

- https://github.com/libp2p/js-libp2p-crypto/issues/31
- https://github.com/libp2p/js-libp2p-crypto/issues/38

@rmhrisk thoughts? Let's follow up on those issues :)

[2016-11-27 18:33] #4 closed

[2016-11-27 18:36] diasdavid opened #45 "Implement/Integrate the ping function"
https://github.com/libp2p/js-libp2p-ping is one of the oldest features we have developed, but unfortunately got forgotten with time. @xicombd has done some work updating it and integrating it with the libp2p builds, now with this base class, we can implement ping once and have it everywhere.

- https://github.com/libp2p/js-libp2p-ping
- https://github.com/ipfs/js-libp2p-ipfs/pull/13
- https://gith

[2016-11-27 18:43] diasdavid opened #46 "Improve libp2p config"
Right now, it is impossible to signal through the config if we want to use a transport just for dialing and not for listening, in fact, go-ipfs makes the hard decision of disabling any dialing from a transport from where we are not listening.

The issue is that with this design, we have to make something hacky/hard coded to enable the WebSockets transport within libp2p-swarm for dialing in the bro

[2016-11-27 18:50] diasdavid opened #47 "Maintain `Packages` section up to date"
@RichardLitt do you happen to have a tool that we can use to update the https://github.com/libp2p/js-libp2p#packages section? The ideal would be to run a script over an array of org/repo and fill and update the table putting them into their respective collection.

- Bonus1: if we can have a way to signal the status of the implementation
- Bonus2: if we can help @VictorBjelkholm use it for the Webs

[2016-11-28 12:04] VictorBjelkholm commented on #47
Yeah, for the libp2p.io table, all we need is to be able to format it to yml or json, so should be simple :+1:

[2016-11-28 22:31] RichardLitt commented on #47
I do not currently have a tool that updates multiple GitHub repositories, although I've wanted to build one for a while. As I am due to greenlight the repos this quarter, now may be the time to do this. @lgierth I know you had a tool you use to hit multiple repos; is it the one currently in ipfs/devtools?

Alternatively, I could add a column to project-repos for this.

[2016-12-01 12:00] diasdavid commented on #45
- [x] https://github.com/libp2p/js-libp2p/pull/48
- [x] https://github.com/ipfs/js-libp2p-ipfs-nodejs/pull/42

[2016-12-01 12:29] diasdavid commented on #45
Ping is implemented throughout libp2p :)

[2016-12-01 12:29] #45 closed

[2016-12-02 18:42] diasdavid opened #49 "Integrate Railing.. well, when we have railing nodes"
0.3.0 was just released, updated and compatible with new libp2p

https://github.com/libp2p/js-libp2p-railing

now we just need railing nodes.

[2016-12-04 20:34] nunofmn commented on #49
Hey, I would like to work on this.

**Question:** should the libp2p-railing be integrated directly into the base js-libp2p? Shouldn't it be required as a discovery mechanism in the js-libp2p bundles?

[2016-12-04 23:56] diasdavid commented on #49
@nunofmn awesome!

The way it is set up means that it has to be passed as an extra module loaded by js-ipfs into libp2p, because only js-ipfs has access to the bootstrap list.

Another question is how to hot load swarm into it. Trying to figure out a nice way to plug in this discovery mechanism, that requires swarm (or libp2p) to work. So far, what is making sense is to have a mechanism to add mod

[2016-12-05 01:03] nunofmn commented on #49
Adding modules on-the-fly is useful and a good default solution, but maybe supporting some configuration-based initialization could be also useful (similar to the already existing one in js-libp2p-ipfs)

[code]
This way in the base js-libp2p is then possible to initialize the discovery modules, since the swarm instance is already available.

The only disadvantage is that is necessary a common "con

[2016-12-05 05:31] diasdavid commented on #49
you still run into the issue of having to pass `swarm` for the verification to happen.

[2016-12-05 05:48] diasdavid commented on #7
# here
https://github.com/libp2p/js-libp2p-utp

[2016-12-05 05:48] #7 closed

[2016-12-05 05:48] #13 closed

[2016-12-05 11:01] nunofmn commented on #49
In the base class you can now do something like this:

[code]

[2016-12-11 20:12] diasdavid commented on #49
@nunofmn here is what we are going to do.

- the bundles get a new `options` object passed https://github.com/ipfs/js-libp2p-ipfs-nodejs/pull/46
- the discovery mechanisms (for now) might or not receive as the last argument of their constructor, a reference to the libp2p instance itself. So in case of libp2p-railing, you would pass the libp2p node, and access swarm from there. Through this direct

[2016-12-19 13:12] daviddias opened #445 "[switch] Filter out matching IP:PORT pairs in Identify"
Once Identify is completed, before we update the info we have about one node, we have to filter out the IP:PORT pairs that are the same as ours (for example, when two nodes are in different networks but both announce `127.0.0.1:5002`), this currently causes a bug because the nodes will try to dial to themselves and then the secio handshake fails, since the public key isn't going to hash to the sam

[2017-01-07 01:23] AlexFreeland opened #51 "Peer Routing and Content Routing (DHT)"
Apologies if this is not the right place for this... still trying to wrap my head around the myriad repositories tied up with this project!

I'm just wondering if there is a roadmap (or similar) for the js-libp2p DHT functionality.  I've had a bit of a poke around and discovered the -kad-routing and -kad-record-store modules, but these only provide a subset of the overall functionality described i

[2017-01-07 09:03] diasdavid commented on #51
Hi @AlexFreeland, thank you for your feedback, it is highly appreciated

We know it is a little confusing at the moment, but there is a key reason for it. The simple answer is, the DHT present in go-ipfs, will be available in JavaScript at https://github.com/libp2p/js-libp2p-dht and that is going to be the 'first DHT'.

The 'second DHT', comes from the separation of concerns of Peer Routing and Co

[2017-01-07 22:36] AlexFreeland commented on #51
Thanks for the response @diasdavid

So to clarify: the "second DHT" will entail separate peer and content routing modules, somewhat analogous to the division of responsibilities between https://github.com/libp2p/js-libp2p-kad-routing and https://github.com/libp2p/js-libp2p-kad-record-store?  Is the intention to update or supersede these repositories?

On a related note: I notice that implementatio

[2017-01-20 05:02] gavinmcdermott opened #53 "DHTs and NATs"
Hey @diasdavid,

With some of the advances we've made on Nomad, @ReidWilliams and I now have a couple specific questions regarding `libp2p` for our next steps / where we might contribute.

### Relevant Background & State

We are almost wrapped up porting Nomad over to a js-only package (the `pure-js` branch is [here](https://github.com/IDEO-coLAB/nomad/tree/feat/pure-js)). Our intent / end goal is

[2017-01-20 11:07] diasdavid commented on #53
Hi @gavinmcdermott @ReidWilliams  o/ Good to hear back from you :)

We should definitely jump into some kind of fast communication medium (like an hangout), to catch up, there are lot of details that need to be covered, but the bulk of it is:

- Is the DHT work going to happen this Quarter? Yes, later this Quarter, see the ROADMAP at https://waffle.io/ipfs/roadmaps. Right now we are doing all of t

[2017-01-20 18:30] gavinmcdermott commented on #53
Awesome @diasdavid ! I'll ping you on IRC to follow up on these in that case—look forward to catching up!

[2017-01-20 18:37] dignifiedquire commented on #53
hey @gavinmcdermott yes the DHT is coming later this quarter, unless @diasdavid literally ties me up somewhere ;)

[2017-01-20 19:37] gavinmcdermott commented on #53
Thanks @dignifiedquire - I'm keen on this!

[2017-02-09 18:28] greenkeeper[bot] opened #55 "An in-range update of peer-id is breaking the build 🚨"
## Version **0.8.2** of [peer-id](https://github.com/libp2p/js-peer-id) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/libp2p/js-libp2p/compare/greenkeeper%2Fpeer-id-0.8.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      peer-id
    </td>
  </tr>
  <tr>
    <th align=left>
      Curr

[2017-02-09 19:00] greenkeeper[bot] opened #56 "An in-range update of peer-info is breaking the build 🚨"
## Version **0.8.3** of [peer-info](https://github.com/libp2p/js-peer-info) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/libp2p/js-libp2p/compare/greenkeeper%2Fpeer-info-0.8.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      peer-info
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-02-09 19:44] greenkeeper[bot] opened #57 "An in-range update of peer-book is breaking the build 🚨"
## Version **0.3.1** of [peer-book](https://github.com/diasdavid/js-peer-book) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/libp2p/js-libp2p/compare/greenkeeper%2Fpeer-book-0.3.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      peer-book
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-02-11 07:32] greenkeeper[bot] opened #58 "An in-range update of libp2p-swarm is breaking the build 🚨"
## Version **0.26.17** of [libp2p-swarm](https://github.com/libp2p/js-libp2p-swarm) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/libp2p/js-libp2p/compare/greenkeeper%2Flibp2p-swarm-0.26.17">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      libp2p-swarm
    </td>
  </tr>
  <tr>
    <t

[2017-02-11 19:24] #58 closed

[2017-02-12 18:20] #57 closed

[2017-02-12 18:20] #56 closed

[2017-02-12 18:21] #55 closed

[2017-03-17 05:47] dryajov opened #425 "[circuit-relay] Circuit features/functionality discussion"
Here are some notes after my conversation with @diasdavid.

1. We need a way to ask the relay for all its relayed peer connections (@diasdavid, I forgot why we needed this, can you please explain? Would this be related to point 2 in this list?)
   - After thinking about this a bit, I think what we discussed is:
      - When a peer connects to me, get its connected peers, and have it relay connecti

[2017-03-21 19:36] greenkeeper[bot] opened #62 "An in-range update of libp2p-swarm is breaking the build 🚨"
## Version **0.26.19** of [libp2p-swarm](https://github.com/libp2p/js-libp2p-swarm) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/libp2p/js-libp2p/compare/greenkeeper%2Flibp2p-swarm-0.26.19">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      libp2p-swarm
    </td>
  </tr>
  <tr>
    <t

[2017-03-21 19:53] greenkeeper[bot] opened #63 "An in-range update of libp2p-ping is breaking the build 🚨"
## Version **0.3.2** of [libp2p-ping](https://github.com/libp2p/js-libp2p-ping) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/libp2p/js-libp2p/compare/greenkeeper%2Flibp2p-ping-0.3.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      libp2p-ping
    </td>
  </tr>
  <tr>
    <th align=

[2017-03-22 11:08] #62 closed

[2017-03-22 11:08] #63 closed

[2017-03-26 12:08] jackkleeman opened #65 "Checking for WebSockets constructor name fails under uglification"
Currently to add the WebSockets transport index.js does a check for the constructor.name being 'WebSockets'. This fails under uglification unless 'WebSockets' is made a reserved word in the uglify config, as constructor names are one of the things uglify removes. I recommend that either this is documented, or a different solution is devised; there is already a TODO in the code suggesting that this

[2017-03-26 18:13] dignifiedquire commented on #65
This is unfortunate, we use this pattern in a couple of places. I guess we need to find a new way to do these kinds of detections.

[2017-03-27 12:54] diasdavid commented on #65
Trying to come up with an elegant solution and I always end up in making something that looks too complicated. The crux of this problem is the fact that we might handle several versions of the same module that are compatible with each other, but because of the dependency tree, they coexist.

Seems that we need to go 🦆 typing all the way, which isn't the best, but will suffice for the majority (if

[2017-03-27 14:48] diasdavid opened #67 "Consider: Break `dial` without protocol into its own method"
As proposed by @dignifiedquire https://github.com/libp2p/js-libp2p/pull/64#discussion_r108156014

[2017-03-27 14:50] diasdavid commented on #49
This ⛴  has sailed!

[2017-03-27 14:50] #49 closed

[2017-03-27 15:04] diasdavid opened #68 "Preserve PeerInfos discovered"
As brought up here: https://github.com/libp2p/js-libp2p/pull/64/files#r108192190

With the DHT, we will want to preserve PeerInfos discovered. This is also the start of having a way to add info about each Peer we know for statistics.

[2017-03-27 15:25] dignifiedquire commented on #68
I would suggest using the `peerBook` to keep a record of all peers and details we have seen. In addition keeping a simple map `peers` or `connectedPeers` which are only `{[id: PeerIdString]:  Multiaddr}` and record the information about current connections

[2017-03-27 15:35] diasdavid commented on #68
Another feature to add is the ability to dump to disk the PeerBook, so that we can shutdown and boot the node and get back almost every connection

[2017-03-27 15:47] dignifiedquire commented on #68
yes, that should be easy to do now that we have the datastore

[2017-03-27 15:50] dignifiedquire commented on #68
we could actually move the peerbook to be a direct wrapper round reading and writing to the datastore instead of in memory that way we consume less memory and it's directly backed up

[2017-03-27 16:07] diasdavid commented on #68
@dignifiedquire that would be quite nice! As long as there is some queueing for the writes, so that we don't stress with a 'good to have but not strictly necessary' operation that does lot of IO

[2017-03-27 16:12] dignifiedquire commented on #68
I can easily write datastore wrapper that batches ops if many come in at once :) but those read and writes to leveldb/indexedb are pretty cheap as well.

[2017-03-27 16:12] dignifiedquire commented on #68
Though warning, it will make the whole peerbook api async

[2017-03-27 17:04] diasdavid commented on #68
@dignifiedquire we can keep it sync, with an interval that flushes it.

[2017-03-27 20:10] diasdavid commented on #68
@dignifiedquire on repo open, it should just load all the peerBook into memory.

[2017-03-27 20:35] greenkeeper[bot] opened #71 "An in-range update of libp2p-swarm is breaking the build 🚨"
## Version **0.26.20** of [libp2p-swarm](https://www.npmjs.com/package/libp2p-swarm) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/libp2p/js-libp2p/compare/greenkeeper%2Flibp2p-swarm-0.26.20">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      libp2p-swarm
    </td>
  </tr>
  <tr>
    <

[2017-03-28 17:38] dignifiedquire opened #74 "Event `peer:disconnect`"
I need to detect the event of peers disconnecting on the DHT. Proposed api

[code]

[2017-03-28 17:39] dignifiedquire commented on #74
cc @diasdavid

[2017-03-28 19:24] diasdavid commented on #74
there is a `peer-mux-closed` event that is exactly what you are asking, bitswap uses it: https://github.com/ipfs/js-ipfs-bitswap/blob/master/src/components/network/index.js#L41

I'm happy to rename it.

[2017-03-28 19:26] dignifiedquire commented on #74
@diasdavid that's on the swarm level, with the new api we have the nice `libp2p.on('peer')` that's why I was suggesting this

[2017-03-28 19:48] diasdavid commented on #74
Ah, but that is peer discovered, not peer connected. We could move to:

- `libp2p.on('peer:discovery')` (current just 'peer')
- `libp2p.on('peer:connect')` (current just 'peer')
- `libp2p.on('peer:disconnect')` (current just 'peer')

[2017-03-28 21:06] dignifiedquire commented on #74
I like that, the current setup is confusing (at least it was for me)

[2017-03-29 06:36] diasdavid commented on #74
A CR my kind sir 🎩

- [ ] https://github.com/libp2p/js-libp2p/pull/75
- [ ] https://github.com/ipfs/js-ipfs-bitswap/pull/133
- [ ] https://github.com/ipfs/js-ipfs/pull/818

[2017-03-29 07:28] #74 closed

[2017-05-03 11:11] victorb opened #89 "[Cordova] Cordova + Phonegap TCP Transport"
In the browser, we don't have access to TCP Sockets as we do with nodejs. However, when in cordova/phonegap environment, you have access to a webview for running JS but also a plugin architecture, where you can expose native functionality as a JS API. Hence, there could be a transport written for cordova/phonegap in Android/iOS that enables us to have a nodejs-like js-ipfs instance in a webview.

[2017-05-03 17:01] dryajov commented on #89
Seems like the APIs are quite different among those plugins and the on that js-libp2p-tcp uses -which is Node's. We can either write a new transport specific for cordova or shim the node api on top of one of those plugins.

[2017-05-06 17:08] dryajov commented on #89
Looks like there is a node api plugin for cordova already - https://github.com/feross/chrome-net :)

[2017-06-22 09:37] joowh85 opened #91 "Module not found: Can't resolve 'dgram'"
I install some libp2p's packages on my Node.js project and I wrote some codes like below.

const libp2p = require('libp2p')
const TCP = require('libp2p-tcp')
const WS = require('libp2p-websockets')
const spdy = require('libp2p-spdy')
const secio = require('libp2p-secio')
const MulticastDNS = require('libp2p-mdns')
const DHT = require('libp2p-kad-dht')

But the multicast-dns module was occurs some

[2017-06-28 18:27] diasdavid opened #92 "Thinking of using js-libp2p directly in IPFS"
Instead of using separate modules ([libp2p-ipfs-nodejs]() and [libp2p-ipfs-browser]()) I'm thinking in just using the base class from within js-ipfs.

This would mean:

- Fewer points, less maintenance
- Examples would live in this repo
- All the tests would be here, easier to find and maintain
- Easy to ramp up new contributors and users.

Thoughts?

[2017-06-28 18:30] #71 closed

[2017-06-28 18:32] dryajov commented on #92
Yeah, it seems like at this point most of the code is pretty portable across node and browsers, so I see no reason for having two distinct entry points in libp2p.

[2017-06-28 18:36] pgte commented on #92
In principle I agree, the code in both looks very similar.

[2017-07-03 07:45] diasdavid commented on #92
Awesome, thanks for the feedback @pgte and @dryajov. Work is happening here:

- https://github.com/ipfs/js-ipfs/pull/895
- https://github.com/libp2p/js-libp2p/pull/94

Closing this one 👍

[2017-07-03 07:45] #92 closed

[2017-07-03 07:59] diasdavid opened #95 "🌟 Make stellar examples for libp2p fun! 🌟"
With https://github.com/libp2p/js-libp2p/pull/94, it is now the perfect opportunity to improve libp2p examples.

We need:
- [x] Make every current example create their own bundle (MVP bundle)
- [ ] Create examples for:
  - [x] [Using multiple transports to dial and listen](https://github.com/libp2p/js-libp2p/tree/master/examples/transports)
  - [x] [Protocol and Stream Muxing](https://github.com/l

[2017-07-03 08:00] diasdavid commented on #95
I'm assigning myself for this, but help is also welcome :) It requires a good amount of work and review to create powerful examples.

[2017-07-03 08:00] diasdavid commented on #91
Which version of npm and nodejs are you using?

[2017-07-03 08:28] diasdavid commented on #89
That chrome net is a great find @dryajov. We can actually enable js-ipfs to just take in a whole custom libp2p instance so that runtimes like Cordoba can use the caps they have.

@xSkyripper, how does that sound? This shouldn't be hard to make it happen.

[2017-07-03 08:28] diasdavid commented on #68
This has been done \o/

[2017-07-03 08:28] #68 closed

[2017-07-04 15:35] VictorBjelkholm commented on #95
As a reference, @whyrusleeping also created a thread on discuss.ipfs.io for collecting this: https://discuss.ipfs.io/t/call-for-libp2p-demos/677/1

I think it'll be really good to have the same examples for both go-libp2p as js-libp2p, so we could write language-independent documentation for libp2p. Bonus points if the examples also work js <> go

We should also flesh out the examples a bit more,

[2017-07-04 16:34] diasdavid commented on #95
Thanks @VictorBjelkholm

Agreed!

[2017-07-05 09:25] diasdavid commented on #95
Cross referencing to: https://github.com/libp2p/go-libp2p/issues/202

[2017-07-05 09:36] VictorBjelkholm commented on #95
More examples:

- VOIP
- Webcam sharing ala talky.io

[2017-07-05 17:18] diasdavid opened #98 "Be a state machine. Just like js-ipfs :)"

[2017-07-07 18:22] diasdavid commented on #91
@joowh85 not being able to replicate this one. Could to try with a fresh npm install?

[2017-07-09 11:34] diasdavid commented on #95
The ones made so far:

  - [x] [Using multiple transports to dial and listen](https://github.com/libp2p/js-libp2p/tree/master/examples/transports)
  - [x] [Protocol and Stream Muxing](https://github.com/libp2p/js-libp2p/tree/master/examples/protocol-and-stream-muxing)
  - [x] [Encrypted Communications](https://github.com/libp2p/js-libp2p/tree/master/examples/encrypted-communications)
  - [x] [Disc

[2017-07-09 13:45] daviddias opened #104 "NAT Traversal"
Currently, the only mechanism to pierce through NATs in js-libp2p is the WebRTC transport. NAT Traversal is a feature that is hard to get 100% complete as there will be always more NAT implementations that will not work with the strategies we have in place. Ultimately the last resort is Relay (Circuit or Packet Switched).

There is plenty of work available for NAT Traversal, WebRTC is kind of a ca

[2017-07-09 13:47] diasdavid commented on #53
Hi @gavinmcdermott, long time no see! I hope everything is ok.

I've been revamping, polishing and cleaning a lot of stuff in libp2p land to help people get started. One of the steps is curating the issues so that they become the most objective possible. I'm breaking this one into two:

- NAT https://github.com/libp2p/js-libp2p/issues/104
- DHT https://github.com/libp2p/js-libp2p/issues/51

Please

[2017-07-09 13:47] #53 closed

[2017-07-09 13:48] diasdavid commented on #95
[WIP PubSub](https://github.com/libp2p/js-libp2p/pull/103)

[2017-07-09 15:54] diasdavid commented on #95
Another one bites the dust!
- [x] [Does it work in the browser? woot](https://github.com/libp2p/js-libp2p/tree/master/examples/libp2p-in-the-browser)

[2017-07-09 18:58] #91 closed

[2017-07-09 19:27] daviddias opened #106 "🦊 MetaMask"
@kumavis I'm pulling https://github.com/ipfs/js-libp2p-ipfs-browser/issues/127 to here as I've converged all the testing and bundling to this module :) (also added a ton new [examples!](https://github.com/libp2p/js-libp2p/tree/master/examples))

Could you share an update in the state of MetaMask libp2p support? You had an awesome demo a while back, where can I find that video?

[2017-07-09 20:57] kumavis commented on #106
I cant see the original issue but I think it was a general libp2p-metamask tracking issue

js-ipfs has been evoilving nicely and i've become more familiar with its internals, so things are moving forward

here is our tracking issue for it https://github.com/MetaMask/eth-ipfs-browser-client/issues/1

my work is now moving up from basic eth-ipfs integration to:
 - eth data availability via a parity

[2017-07-09 20:58] kumavis commented on #106
here is a demo that I will show off on the next meeting https://kumavis.github.io/metamask-mesh/

[2017-07-09 22:45] diasdavid commented on #6
# LOG - July 9, 2017

![](https://i.giphy.com/media/iKOcmnyTJ3Daw/giphy.webp)

## I'm here to share a fully new update on this libp2p's captain log! 🌟📖🌟

### ⬢ libp2p now has a logo!

And of course, it is a hexagon ⬢

![image](https://user-images.githubusercontent.com/1211152/27998126-d561fb08-64fe-11e7-923a-e78962f9d91f.png)

We are super happy about it, it symbolizes the composability of libp2p'

[2017-07-10 10:01] pgte opened #108 "depends on async but does not declare it"
Version 0.9.1 of libp2p [depends on the `async` package](https://github.com/libp2p/js-libp2p/blob/v0.9.1/src/index.js#L6) but [does not declare it in package.json](https://github.com/libp2p/js-libp2p/blob/v0.9.1/package.json).

[2017-07-11 18:40] diasdavid commented on #108
solved in 0.10 and onwards.

[2017-07-11 18:40] #108 closed

[2017-07-12 20:31] indigofiredragon opened #110 "metamask"
ok i sent a partial coin with my either wallet some how all my coins sent i am not good at metamask they all went it says i dont have a private key and it will not let me trade  eitherdelta this is a compex issue talking to someone would be better for me then tryingto explain this issue
For account,  #################################there is no private key available. You can still transact if you

[2017-07-13 02:58] indigofiredragon commented on #110
looking at it my .001 test token went in the right account but the rest went into some other account I need help please seriously my wife has Cancer and we need this money to get her home to see her grandbabby being born if this doesnt happen im done.

[2017-07-13 07:44] diasdavid commented on #110
Hi @indigofiredragon, I believe you got the wrong repo, this is not MetaMask's repo.

See:
- https://github.com/metamask
- https://github.com/MetaMask/faq

@kumavis might be able to give a hand :) Closing this issue.

[2017-07-13 07:44] #110 closed

[2017-07-14 09:22] indigofiredragon commented on #110
to be honest I do not understand any of this i am new to this i am not a
young man i mad a huge error i cant get into my account and i cant get my
tokens out of either delta this is my life savings. with this one xfer i t
would change my life. my wife has termainal cancer so i am not thinking
right. I believe i xfered this into a new account i dont have the password
a tech fro the ico asked me to

[2017-07-14 19:44] flyswatter commented on #110
Hi @indigofiredragon, please open an issue on our support center:
http://metamask.consensyssupport.happyfox.com/kb/

[2017-07-14 19:53] kumavis commented on #110
@indigofiredragon also please join our slack for live support http://slack.metamask.io

[2017-07-20 19:46] diasdavid commented on #95
Coming hot right from the Oven!

- [x] [PeerRouting and ContentRouting](https://github.com/libp2p/js-libp2p/pull/107)

[2017-07-21 02:44] diasdavid commented on #95
This one is hawt right now

- [x] [PubSub on libp2p](https://github.com/libp2p/js-libp2p/pull/103)

[2017-07-21 19:39] diasdavid commented on #95
Pinging @dryajov to see if he would be interested in making the Circuit example :)

[2017-07-21 19:41] diasdavid commented on #51
Hi @AlexFreeland, got an update for you :) Check:
https://github.com/libp2p/js-libp2p/tree/master/examples/peer-and-content-routing

Note, consider the current implementation as `⍺` :)

[2017-07-21 19:41] diasdavid commented on #53
@gavinmcdermott see my update here: https://github.com/libp2p/js-libp2p/issues/51#issuecomment-317094474 :)

[2017-07-21 22:58] dryajov commented on #95
@diasdavid absolutely, been putting it off too long already :)

[2017-07-22 17:58] diasdavid opened #111 "BYOKM - Bring Your Own Keys Module"
Following https://github.com/libp2p/js-libp2p-crypto/pull/102, we will add support to inject other crypto libraries, so that users can pick the ones that are faster for their runtime, without constraining the whole ecosystem.

[2017-07-29 17:06] diasdavid commented on #104
One more resource: - https://nice.freedesktop.org/wiki/

[2017-08-09 15:43] mqzry commented on #65
_Warning: I did not look at the code yet._
Can't you just specify a regex to the mangle-regex option of uglify that matches functions starting with a capital? You do get a dependency on how the transpiler picks the prototype.name for some constructor.name.

Can you explain the crux of the problem a bit more? I might try to solve this issue

[2017-08-09 20:58] dryajov commented on #65
Actually `libp2p` (as well as `libp2p-swarm`) uses the `.tag` property as the primary way to determine the name of the transport, it uses `.constructor.name` only as a fallback, so it should be possible to just set the `.tag` as the name of the transport. I like this solution and I explicitly set `.tag` to `Circtuit` in the `libp2p-circuit`, for example.

[2017-08-29 08:52] mkg20001 opened #117 "libp2p-websocket-star"
I have created a module called [libp2p-websocket-star](https://github.com/mkg20001/js-libp2p-websocket-star) that works similar to libp2p-webrtc-star just without webrtc.

What do you guys think?

[2017-08-29 09:40] mkg20001 commented on #117
I've now added it to [mkg-tool](https://github.com/mkg20001/mkg-tool) and created a public signaling server at `/libp2p-webrtc-star/ip4/148.251.206.162/tcp/9090/ws/`. It works great

[2017-08-29 09:58] diasdavid commented on #117
That's pretty cool, you probably want to add a specific multiaddr for it to not be confused with the webrtc-star transport :)

[2017-08-29 10:00] diasdavid commented on #117
This is going to enable a lot of people that want to use js-ipfs P2P like but are having troubles with WebRTC.

@lgierth can we get one of the servers running hosted by us?

[2017-08-29 13:45] lgierth commented on #117
What does it does?

Can we just make it part of the regular websockets transport?

[2017-08-29 13:52] mkg20001 commented on #117
It's a rewritten version of the libp2p-webrtc-star transport that creates the streams over the signaling server (socket.io) directly instead of over webrtc.
I doubt it's a good idea to merge the websocket transport with that.

[2017-08-29 14:00] diasdavid commented on #117
I agree with @mkg20001. It has a different mechanism.

[2017-08-29 14:17] lgierth commented on #117
I'm all for it -- but let's make sure this multiaddr scheme is correct, @diasdavid you mentioned in the past the webrtc-star scheme needs an overhaul because it doesn't correctly represent encapsulation.

[2017-08-29 14:36] diasdavid commented on #117
Yeah, here https://github.com/libp2p/js-libp2p-webrtc-star/issues/110. Let's figure out this tomorrow over coffee ☕️ as proposed :)

[2017-08-30 08:29] mkg20001 commented on #117
I've written a small solution (currently not on github) to how to make the listening process more secure:
Before listening a ~4kb pseudo random string is generated and a hash is created using `b58encode(sha5(sha5(key)))` that is then added to the address as another ipfs id with `.encapsulate("ipfs/"+hash)`. (This should later be changed to use it's own multiaddr like `/instance/<hash>` or `/id/<ha

[2017-08-30 09:03] diasdavid commented on #117
Before listening a ~4kb pseudo random string is generated and a hash is created using b58encode(sha5(sha5(key))) that is then added to the address as another ipfs id with .encapsulate("ipfs/"+hash). (This should later be changed to use it's own multiaddr like /instance/<hash> or /id/<hash>)

Worry not, [`secio`](https://github.com/libp2p/js-libp2p/tree/master/examples/encrypted-communications) han

[2017-08-30 09:05] mkg20001 commented on #117
So simply deny listening on the same multiaddr if something is already listening on it?

[2017-08-30 09:20] diasdavid commented on #117
The rendezvous point should not deny. It should just update the table. Nodes might roam from place to place. The verification is end to end

[2017-08-30 09:35] mkg20001 commented on #117
My main issue is that with this simple patch (on libp2p-websocket-star, current master):
[code]
every dial to every peer on the signaling server is redirected to the current node

[2017-08-30 10:03] mkg20001 commented on #117
Webrtc hack: libp2p/js-libp2p-webrtc-star#116

[2017-09-02 18:24] diasdavid commented on #117
Hey @mkg20001, would you move libp2p-websockets-star to the libp2p org? This will be a very useful transport for a lot of use cases and by making it part of the org just makes discoverability simpler and easier to maintain.

I'll be updating today how multiaddrs work for libp2p-webrtc star as decided in https://github.com/ipfs/pm/pull/492/files

[2017-09-02 19:49] mkg20001 commented on #117
@diasdavid Of course I can do that as long as I keep permissions for the repository.
I'm currently visiting some family members so I won't be very active for 4 days if you might got questions.

[2017-09-02 19:56] diasdavid commented on #117
absolutely, I'll add you to the team that manages the repo :)

Wanna migrate it to me so that then I can move to the libp2p org (Github doesn't allow users out of the org to move repos in), I'm looking to work on it this weekend.

Enjoy the time with the family! :)

[2017-09-03 09:00] daviddias opened #118 "uTP"
There is a current implementation of utp but is not complete: https://github.com/libp2p/js-libp2p-utp

[2017-09-04 08:34] daviddias opened #120 "Delegated Routing"
Tasks:
- [x] Expose findPeers and findProovs in the Gateway
- [x] Create module that exposes:
  - [x] Peer Routing - https://github.com/libp2p/js-libp2p-delegated-peer-routing
  - [x] Content Routing - https://github.com/libp2p/js-libp2p-delegated-content-routing

[2017-09-05 15:18] mkg20001 commented on #117
@diasdavid I've moved the repo to your account. Can you move it to libp2p and add me as a repo admin?

[2017-09-05 15:32] diasdavid commented on #117
Done! Thank you @mkg20001 :):)

[2017-09-06 14:12] diasdavid commented on #117
Let's continue the discussion on the module itself :)

[2017-09-06 14:12] #117 closed

[2017-09-12 06:45] diasdavid commented on #120
@lgierth any update on the first task of the list?

[2017-10-12 22:35] wanderer opened #441 "[switch] closing mutliplexed connections"
Its would be nice to have an easy way to tell if a multiplexed connection is still in use by a protocol or not. This is needed to be able to close unneeded connections.

[2017-10-16 01:27] wanderer opened #125 "Expose instance of libp2p to discovery instances"
It would be nice if the libp2p instance was exposed to discovery instances. For example I would like [libp2p-gossip-discovery](https://github.com/wanderer/js-libp2p-gossip-discovery) to follow the discovery interface, but it need access to the instances peerBook and `dail` to populate correctly.

[2017-10-17 14:56] diasdavid commented on #125
We currently don't have a global namespace where any module can pick up on the properties of a libp2p node (from peerInfo, swarm etc). We can't really do that because how JS dep management works and how require behaves, however, we could use DI for it.

That said, you won't need any of the above to achieve your goal (thanks for providing an example). You just need to:

1. Create a libp2p node with

[2017-10-18 17:52] wanderer commented on #125
yep i think that makes sense

[2017-10-18 17:52] #125 closed

[2017-10-19 20:56] pvh opened #126 "DHT routing example code does not discover peers and exits irregularly"
- **Version**: 2a81fc75a8e6ff106e872f6a392b0d04cd488439
- **Platform**: ubuntu 17.10 / node v8.7.0
- **Subsystem**: js-libp2p-dht-kad

#### Type: Example routing code crashes

#### Severity: high

#### Description: the example code does not execute successfully

#### Steps to reproduce the error:
1. checkout js-libp2p
2. `copy examples/peer-and-content-routing/{12}.js` somewhere
3. `npm install` a

[2017-10-19 20:58] dryajov commented on #126
thanks for reporting this, @pvh !

[2017-10-20 13:27] nunofmn commented on #126
It seems that `100 ms` is not enough time to peers establish connections.
By increasing to `300 ms` was possible to discover other peers
[code]
I'm going to open a PR to increase the delay.

[2017-10-20 15:49] pvh commented on #126
On a different machine here the examples work with a 100ms timeout but not a 10ms timeout, so it appears you've found the right cause, Nuno. I would suggest a more descriptive error message is worth doing. Also, if you're fixing the examples the link from the README.md is broken.

[2017-11-06 18:41] mkg20001 commented on #9
How does this look? https://github.com/mkg20001/libp2p-tls
I had to add some "magic" to make the peers determine which peer is going to be the tls-server/client randomly.
Currently it's using nodeJS native "tls" module which is openssl based.
Browser support using forge is planned

[2017-11-06 18:44] dignifiedquire commented on #9
@mkg20001 I that is probably TLS 1.2. I believe the goal of moving to TLS was only to do so with 1.3.

[2017-11-06 19:30] mkg20001 commented on #9
@dignifiedquire https://github.com/ipfs/specs/issues/29#issuecomment-239906315 . Here it says both will get implemented

[2017-11-06 19:31] mkg20001 commented on #9
Btw, the "magic" thing is just a 7/8 bytes protocol buffers packet with a random integer (the peer which randomly chooses the highest number is determined the server)

[2017-11-06 19:34] dignifiedquire commented on #9
@mkg20001 thanks I didn't remember that and cool that you are implementing it :)

[2017-11-08 11:54] pgte opened #130 "dependency injection during boot time"
Some libp2p modules require or would benefit from knowing the `peerId` and other values. It happens that, at the time the declarative options are created, the peerId is not yet known. As an example, libp2p-websocket-star [would require the `PeerId` object to prevent spoofing](https://github.com/libp2p/js-libp2p/pull/122#discussion_r147589693). It happens that this value is not known before boot.

[2017-11-08 11:54] pgte commented on #130
One problem with this setting is the discovery. Usually, a discovery module is extracted from the transport module, something like this:

[code]

One option to mitigate this would be to implicitely add the discovery module if the transport instance contains a `.discovery` attribute.

Another workaround would be to cache it like this:

[code]

Thoughts?

[2017-11-08 11:56] pgte commented on #130
/cc @diasdavid @mkg20001

[2017-11-08 11:59] pgte commented on #130
(Probably should replace `peerId` with `peerInfo`, but not really relevant for the overall discussion of the DI method here).

[2017-11-08 12:46] dryajov commented on #130
Another approach might be passing an instance of swarm to the transport during initialization, the peerId/peerInfo can be extracted from it. We already do that for DHT and Circuit.

[2017-11-26 22:18] diasdavid commented on #130
Let's continue evaluating this, I need to think more about it but I am in the same page that we need DI.

[2017-11-28 08:25] diasdavid opened #134 "Removing the Central Rendezvous Points for the *-star transports"
tl;dr; libp2p doesn't need _central rendezvous points_ by design, the existing ones were created to facilitate and enable certain transports to exist quickly while the remaining building blocks. If you use webrtc-star or websocket-star today, you will get the Relay or Signalling happening through Circuit Relay once it is fully ready.

**Context**

We have two transports, __webrtc-star__ and __webs

[2017-12-15 07:37] diasdavid opened #139 "The WebSockets Transport is not closing the connections graciously"
Found while developing the PDD Stories https://github.com/libp2p/js-libp2p/pull/137.

To repro:

[code]

The expected result should be that the two process ends successfully, however, peer-b never ends as it never received the end event.

[2017-12-15 08:42] diasdavid opened #140 "Time to expose PubSub as a libp2p primitive on the libp2p Class"
I believe it is time to expose PubSub as a core libp2p primitive as well instead of it being an external module that mounts on top of libp2p. Thoughts?

[2017-12-15 17:36] richardschneider commented on #140
- Does this imply dropping the experimental status of pubsub?
- Might be premature, still have open pubsusb issues https://github.com/ipfs/js-ipfs/issues/1136, https://github.com/ipfs/js-ipfs/issues/1132 and https://github.com/ipfs/js-ipfs/issues/1129

[2017-12-15 17:39] diasdavid commented on #140
It doesn't. PubSub is experimental on IPFS and will continue to be. In libp2p  everything is plug&play/on&off, users could always use it but had to do more work.

[2017-12-27 15:19] mkg20001 opened #142 "libp2p-tor/libp2p-onion Transport?"
- **Version**: _does not apply_
- **Platform**: Linux
- **Subsystem**: transports

#### Type: Feature

#### Severity: Low

#### Description: Tor transport for libp2p

Is there a Tor transport for js-libp2p?

A tor transport that can listen on hidden services as well as ephermal hidden services and dial them would be great.

[2018-01-04 00:55] ich1baN commented on #110
Kumavis that's sort of a bullshit move to make... there are tons of people who are not apart of the live support that could have benefitted from a historical thread by reading through it.

[2018-01-04 01:00] lgierth commented on #110
It's not, and please stay civil.

[2018-01-04 10:56] kotepillar opened #145 "this example "nat-traversal" behind js-libp2p is still empty, I"
- **Version**:
- **Platform**:
- **Subsystem**:

#### Type:

#### Severity:
 Very Low
#### Description:
the nat-traversal example still empty from six months ago
#### Steps to reproduce the error:
https://github.com/libp2p/js-libp2p/tree/master/examples

[2018-01-04 10:58] kotepillar opened #146 "the example readme of "echo" still empty"
- **Version**:
- **Platform**:
- **Subsystem**:

#### Type:

#### Severity:
Very Low
#### Description:
the example readme of "echo" still empty
#### Steps to reproduce the error:

[2018-01-04 11:37] diasdavid commented on #146
Code is there https://github.com/libp2p/js-libp2p/tree/master/examples/echo/src, wanna test it out and try take a stab at the readme?

[2018-01-09 18:57] mkg20001 commented on #139
Actually it's a bug in the test:
https://github.com/libp2p/js-libp2p/blob/master/pdd/pdd-transport--story-2--peer-b.js#L36-L46
This connects the sink and source of conn and returns the `pull.onEnd` because `onEnd` is a sink and not a through. See: https://github.com/pull-stream/pull-stream/blob/master/sinks/on-end.js

I've created a test for that case but haven't committed that yet. As this does n

[2018-01-09 19:16] mkg20001 commented on #139
Added fix to pr #150

[2018-01-10 14:53] #139 closed

[2018-01-12 15:24] dryajov commented on #130
overall, 👍 for DI, should make things a lot more testable and such!

[2018-01-13 19:07] paralin commented on #142
https://github.com/OpenBazaar/go-onion-transport

[2018-01-13 19:10] mkg20001 commented on #142
I'm asking for a JavaScript transport and not one written in Golang.
(I was already aware of that transport anyways...)

[2018-01-14 00:11] paralin commented on #142
Just linking to add context to the issue. But, I would say this is going to be pretty difficult if you actually want to run Tor in the browser.

[2018-01-23 07:23] diasdavid commented on #120
@lgierth mind updating this issue with what we discussed and the latest developments? Thank you!

[2018-01-23 09:02] lgierth commented on #120
Here are my notes:

- expose dht/findpeer, dht/findprovs, swarm/connect, refs commands
  - https://github.com/ipfs/go-ipfs/pull/4595
- implement dht/putpeer command
- issue for "awesome delegated routing" endeavour
- update libp2p interfaces: peer-routing and content-routing
- comment on js-ipfs relay plans
  - announce /p2p-circuit addrs
  - configure static list of ~20 well-known relay nodes, pi

[2018-02-01 15:44] florianlenz opened #156 "speed of peerRouting VS contentRouting"
- **Version**: 0.15.2
- **Platform**: OSX
- **Subsystem**: NodeJs

#### Type:

#### Severity

#### Description:

#### Steps to reproduce the error:
1. Clone this repo: `https://github.com/Bit-Nation/group-chat-poc`
2. Checkout commit `96d9b013929d1f57b7ae30c5d67d4c843537b5f8`
3. Run `npm install`
4. Start the provider `node provide.js` and wait a few seconds for the node to dial to peers
5. Start

[2018-02-03 23:27] hacdias opened #157 "Implement statistics to support Connection Management"
In order to implement `stats/bw` on `js-ipfs`, we need to have some way to measure the bandwidth that comes in and out of `js-ipfs`. It should also support peer and protocol basis metrics.

Some refs:

- https://github.com/ipfs/js-ipfs-bitswap/issues/165
- https://github.com/ipfs/js-ipfs/pull/1198

/cc @pgte @diasdavid

[2018-02-05 11:25] #51 closed

[2018-02-05 11:25] diasdavid commented on #98
@pgte is this still something you would like to pursue?

[2018-02-05 11:47] diasdavid opened #159 "libp2p.next()"
This is the tracking issue for the next generation of the JavaScript implementation of js-libp2p. In this coming version we want:

- [x] Expose PubSub as a core primitive
  - https://github.com/libp2p/js-libp2p/issues/140
- [x] Make mplex a real thing
  - https://github.com/libp2p/js-libp2p-mplex/issues/68 and opened pull-stream only use for take https://github.com/libp2p/js-libp2p-mplex/issues/73

[2018-02-05 12:15] mkg20001 commented on #130
Currently I'm using a `.setSwarm(swarm)` function after transport creation to hack around this limitation in https://github.com/libp2p/js-libp2p-websocket-star/pull/43
Something similar could be implemented. Like `if (typeof transport._setSwarm === 'function') transport._setSwarm(swarm)` after transport creation in libp2p.
Or even better: Just use the currently mostly-unused option object and add

[2018-02-05 12:42] mkg20001 commented on #130
PR https://github.com/libp2p/js-libp2p/pull/160

[2018-02-05 16:20] diasdavid commented on #126
Thanks for fixing this @nunofmn and @pvh for catching :)

[2018-02-05 16:20] #126 closed

[2018-02-05 17:04] dryajov commented on #130
@mkg20001 why not just pass `swarm` as a constructor argument?

[2018-02-05 17:05] mkg20001 commented on #130
Because usually transports get created _before_ the libp2p object gets created (afaik)

[2018-02-05 17:20] dryajov commented on #130
@mkg20001 you're right, swarm gets created after the protos get instantiated.

[2018-02-06 06:30] diasdavid commented on #130
Here is what I'm thinking the right way to go about this.

Each libp2p module should expose:

[code]

[2018-02-06 07:57] richardschneider commented on #130
Why re-invent the wheel?  If we we want `IOC/DI` then let's find one that has been well tested and used.

Fast search of NPM came up with https://www.npmjs.com/package/inversify

[2018-02-06 09:22] pgte commented on #98
Yes.

[2018-02-06 10:17] diasdavid commented on #130
Fair point, however, I don't see how that module will help us. It does way more things than what we need and it is TypeScript only.

We don't want full DI with a TypeSystem (although that would be great), we are looking to add support for libp2p modules to use libp2p itself.

[2018-02-07 07:08] diasdavid commented on #118
Revamp in progress https://github.com/libp2p/js-libp2p-utp/pull/74

[2018-02-07 07:09] diasdavid commented on #67
Thinking of making this a "dialOnProtocol" and "dial"

[2018-02-07 08:37] #67 closed

[2018-02-10 05:45] jollysean commented on #7
Does this work on cellular network of 3G/4G?
Any tests done yet. Please let me know if I can build one

[2018-02-10 18:34] lgierth commented on #98
What does this entail? Is it something that other libp2p impls should be doing too?

[2018-02-11 07:09] diasdavid commented on #98
@lgierth not at all. It is just how the libp2p Node in JS changes its state.

[2018-02-12 11:38] pgte commented on #157
It turns out I also need global stats to implement this connection manager API: https://github.com/libp2p/js-libp2p-connection-manager/tree/master#api

[2018-02-12 12:34] pgte commented on #157
@diasdavid what would be, in your opinion, the best place in the libp2p stack to monitor total traffic (if that's even possible)?

[2018-02-12 12:37] diasdavid commented on #157
It can be a module that implements that functionality and gets plugged into js-libp2p.

[2018-02-12 12:37] pgte commented on #157
@diasdavid and how would it hook itself into watching the traffic?

[2018-02-14 08:29] diasdavid opened #163 "Support for libp2p Private Networks"
Following https://github.com/libp2p/specs/pull/10

[2018-02-14 08:47] diasdavid commented on #106
ref: https://github.com/MetaMask/mesh-testing

[2018-02-14 16:13] pgte commented on #157
@diasdavid ping :)

[2018-02-14 17:35] diasdavid commented on #157
@pgte wanna make a suggestion for that one?

[2018-02-15 10:23] pgte commented on #157
OK, took me a bit to figure out how switch is handling all the outgoing and incoming connections, but here goes:

Some requirements: we need to observe unencrypted traffic in protocol-specific streams so we can compute total (unencrypted) traffic by peer, protocol, direction (upload / download) and the combinations of these ({ peer, protocol }, {peer, direction}, {peer, protocol, direction}).

In

[2018-02-15 16:30] diasdavid commented on #157
Unencrypted? I guess you mean that you need to observe traffic as it reaches the socket before going to SECIO (which adds a lot of overhead). The traffic won't be in plaintext once the SECIO handshake happens though.

One other option is piggybacking on the fact that we already do [`Connection`](https://github.com/libp2p/interface-connection/blob/master/src/connection.js) wraps to propagate things

[2018-02-15 17:38] pgte commented on #157
@diasdavid what I mean is the exact opposite: inside the encrypted stream is an unencrypted stream. I think we should not measure the encryption overhead. Also, not sure what go-ipfs does, we should miimc that..

@diasdavid about pigging back on Connection, what would be the insertion points?

[2018-02-15 18:02] diasdavid commented on #157
I see, you meant to measure the outbound throughput, before encryption and after encryption.

A Connection can be both the wrap around the socket or a wrap around a muxed stream. We should have a way to visualize how much traffic the stream is contribution to the overall traffic over the socket. libp2p-switch has access to all of these, it can do that work of attaching this _readers_ to the Connec

[2018-02-15 18:20] pgte commented on #157
@diasdavid yup, and Ithink I  want inbound traffic too, also discounting the encryption overhead.

I see the insertion points on dialled connections [here](https://github.com/libp2p/js-libp2p-switch/blob/75ba1c156d24c2a4814ef48b1ebdab71f6eaf3d9/src/dial.js#L24), but I don't see that when accepting a new connection. @diasdavid Am I missing something?

[2018-02-15 18:36] diasdavid commented on #157
Hope this answers your question:

Incoming Connection via socket (direct from transport):
- https://github.com/libp2p/js-libp2p-switch/blob/master/src/transport.js#L60-L62
- https://github.com/libp2p/js-libp2p-switch/blob/master/src/transport.js#L77

Incoming Connection via stream (from the muxer):
- https://github.com/libp2p/js-libp2p-switch/blob/75ba1c156d24c2a4814ef48b1ebdab71f6eaf3d9/src/dial.

[2018-02-15 18:38] pgte commented on #157
@diasdavid Ha, multistream-select already returns a `Connection`. That's what I was missing. Thanks!

[2018-02-20 08:43] diasdavid commented on #46
Please review proposal here https://github.com/libp2p/js-libp2p/pull/166

[2018-02-20 08:50] diasdavid commented on #140
Done on version 0.18.0 :)

[2018-02-20 08:50] #140 closed

[2018-02-20 08:51] diasdavid commented on #145
@kotepillar true. It's a WIP https://github.com/libp2p/js-libp2p/tree/master/examples/nat-traversal#wip---this-example-is-still-in-the-works :) We will update it there once it is ready.

[2018-02-20 08:51] #145 closed

[2018-02-20 08:54] diasdavid commented on #111
This will be possible once #130 is complete :)

[2018-02-20 08:54] diasdavid commented on #142
@mkg20001 this would be really cool! Is there any JS impl we can use?

[2018-02-20 08:56] diasdavid commented on #156
Hi @florianlenz thanks for the report. Seems that the bug is coming from https://github.com/libp2p/js-libp2p-kad-dht, still experimental. Do you think you can add a failing test there that would enable us to track down the issue? Thanks!

[2018-02-20 09:02] diasdavid commented on #98
@pgte you have a ton of experience on this and have pointed out multiple issues with the current state-machine in js-ipfs. Do you have any recommendations? Modules to use, examples to take inspiration from so that we don't fall in the same thing? I want to implement it asap for #159

[2018-02-20 09:15] pgte commented on #98
@diasdavid I think it can be boiled down to this:

* define a FSM (states and transitions) for a libp2p node
* let the user commands drive transitions of the state machine
* act on state changes instead of user commands

Some states transitions are initiated by the machine itself. Apply the same principle: do not act directly, only start transitions, decoupling state transition from handling the s

[2018-02-20 09:24] pgte commented on #98
Ha, also another think, to your consideration:
(This doesn't apply directly to libp2p, I think, but can perhaps be translated to IPFS more directly.)

Allow operations while offline. If the operation requires the node to be online, wait until it is inline instead of failing.
For instance, pubsub publish can perhaps fail silently if the node is offline (since the API offers no delivery guarantees).

[2018-02-20 09:28] diasdavid commented on #98
Thank you! We use fsm-event in js-ipfs https://github.com/ipfs/js-ipfs/blob/master/src/core/state.js#L7 but I know you had some issues with how it was implemented. Could you elaborate on those?

[2018-02-20 09:37] pgte commented on #98
Sure. As an example, let's see `ipfs.start()`: https://github.com/ipfs/js-ipfs/blob/master/src/core/components/start.js

It's confounding [issuing the state transition](https://github.com/ipfs/js-ipfs/blob/master/src/core/components/start.js#L28) and [implementing the state transition](https://github.com/ipfs/js-ipfs/blob/master/src/core/components/start.js#L30-L51).

Sine it's not driven by the F

[2018-02-20 09:38] diasdavid commented on #120
The Peer Routing flows will use the findPeer call directly. While the Content Routing flow will be:
- for providing:
  - Ask the delegated peer to fetch the content
  - Ask the delegated peer to become a provider (which happens by fetching the content in the first place)
- for finding providers
  - Ask the delegated peer to tell us who is providing
  - Ask the delegated peer to fetch that data
  -

[2018-02-20 09:39] pgte commented on #98
If a command is asynchronous, it can implemented by:

* commanding the transition
* waiting until the desired state has been reached

Pseudo-code:

[code]

[2018-02-20 09:40] pgte commented on #98
(in this last example, an `error` would be a special state that signals an irrecoverable error.

[2018-02-20 15:22] RangerMauve commented on #142
The onion routing could be done using the new relay feature where each hop is encrypted so that only the peer it's for knows where to go next. Of course this wouldn't have interoperability with Tor, but one could have a go node with both relay and the tor transport and use it as a sort of "exit node" that goes to the actual Tor network while using a libp2p-specific onion router before getting to i

[2018-02-20 15:24] RangerMauve commented on #120
Where are the specs for this functionality?

[2018-02-20 18:25] dryajov commented on #130
I'll leave this here for consideration - https://github.com/dryajov/opium, it's pure es6 (needs to be updated to remote all the babel stuff that is not needed anymore). But its a full fledged IoC library.

[2018-02-21 22:42] jozanza commented on #98
I'm interesting in helping out with this issue. What's the best way to get involved? :)

[2018-02-22 06:34] Elvenisboy opened #167 "pubsub example is not work"
- **Version**: 0.18.0
- **Platform**: linux
- **Subsystem**:

#### Type: Bug

#### Severity: Low

#### Description: the pubsub in the example is not work

#### Steps to reproduce the error:

first, i write code like this
[code]
And nodejs tell me that
[code]

then I read the pubsub source, I found that i need to write a callback function, so i add a () => {}
But, I can't get  subscribe in console.

[2018-02-22 07:03] Elvenisboy commented on #167
emmmm, I will complete the example later

[2018-02-22 07:03] #167 closed

[2018-02-22 07:06] diasdavid commented on #167
Thanks for reporting @Elvenisboy, just fixed it https://github.com/libp2p/js-libp2p/commit/e531b1bf3dcd412f3c1ae96bc159d1a3cb44a121 :)

[2018-02-23 10:35] pgte opened #168 "Expose switch stats"
Now that libp2p-switch is about to get [some networking stats](https://github.com/libp2p/js-libp2p-switch/pull/243), we probably should expose and document them in libp2p.

My proposal is simply directly exposing `switch.stats` into `libp2p.stats` and porting over the documentation.

Thoughts?

[2018-02-23 12:36] diasdavid commented on #168
@pgte can be 👍

[2018-02-25 11:07] mkg20001 opened #170 "synchronously closing one side of the connection breaks libp2p"
- **Version**: libp2p v18
- **Platform**: server: `Linux - 4.4.0-97-generic #120-Ubuntu SMP Tue Sep 19 17:28:18 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`, client: `Linux - 4.13.0-36-generic #40-Ubuntu SMP Fri Feb 16 20:07:48 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`, node (same on both): `v8.9.4`

- **Subsystem**: transport, muxer

#### Type: bug

#### Severity: high

#### Description: synchronously

[2018-02-25 11:16] mkg20001 commented on #170
Note: both mplex and spdy show this behaviour

[2018-02-26 11:56] diasdavid commented on #170
@mkg20001 can you add a test that reproduces this?

[2018-02-26 12:22] mkg20001 commented on #170
@diasdavid https://github.com/mkg20001/libp2p-reprd-test-case

[2018-02-27 17:25] mkg20001 opened #171 "Error: Multiplexer is destroyed` on the server when libp2p circuit is doing something while the client crashes just after connecting"
- **Version**: v18
- **Platform**: `Linux - 4.4.0-116-generic #140-Ubuntu SMP Mon Feb 12 21:23:04 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`, `node -v: v8.9.4`
- **Subsystem**: muxer

#### Type: bug

#### Severity: high

#### Description: `Error: Multiplexer is destroyed` on the server when libp2p floodsub is doing something while the client crashes just after connecting

#### Steps to reproduce the

[2018-02-27 17:28] mkg20001 commented on #171
Edit: Turns out circuit and not floodsub is causing this: `at Dialer.canHop (/home/maciej/Projekte/libp2p/libp2p-nodetrust/server/node_modules/libp2p-circuit/src/circuit/dialer.js:81:7)`

[2018-02-27 17:35] diasdavid commented on #171
@dryajov ^^

[2018-02-27 18:07] dryajov commented on #171
@mkg20001 It seems to happen when circuit is trying to send the `canHop` message to the other peer, that happens to be the first thing that circuit will do when another peer just connected, but I don't see much going on besides that from the attached log.

One thing that comes to mind is, are you running on the same machine or are your nodes on different machines, if so, it might be a connection d

[2018-02-27 18:17] mkg20001 commented on #171
@dryajov This was already run with `DEBUG=libp2p*`. What I was saying that the server is crashing _when the connection gets dropped_ due to the other peer crashing. I'm reporting this issue because this could easily be abused to crash important nodes maliciously.

[2018-02-27 18:20] mkg20001 commented on #171
Edit: Also note that in the log the error below "this is the actual crash" is server side and not on the client (the client was supposed to crash after receiving the servers response)

[2018-02-27 18:24] dryajov commented on #171
Got you, thanks for clarifying.

Does something similar happen when circuit is disabled? I think `canHop` just happens to be the next thing that happens in the sequence of events? We should definitely handle muxer errors more graciously.

[2018-02-27 18:32] mkg20001 commented on #171
Yes. This time it took 2 runs to crash the server.

[server-logs.txt](https://github.com/libp2p/js-libp2p/files/1764207/server-logs.txt)

[2018-02-27 18:34] dryajov commented on #171
Ah, this is it -

[code]

We're mixing callbacks and throws....

[2018-02-27 18:43] dryajov commented on #171
Here is the line - https://github.com/libp2p/js-libp2p-mplex/blob/bfc6b113e0026618cb72899b39d162eddeb42b3f/src/muxer.js#L54

We're never handling the `throw` anywhere.

[2018-02-27 19:50] dryajov commented on #171
I think this should help - https://github.com/libp2p/js-libp2p-mplex/pull/75/files

Note that there are other throws, but they don't seem to be used anywhere. Specifically in -https://github.com/libp2p/js-libp2p-mplex/blob/bfc6b113e0026618cb72899b39d162eddeb42b3f/src/internals/index.js#L106 which gets called by https://github.com/libp2p/js-libp2p-mplex/blob/bfc6b113e0026618cb72899b39d162eddeb42b3f

[2018-02-28 01:06] dryajov commented on #171
Here is the required change in libp2p-switch https://github.com/libp2p/js-libp2p-switch/pull/245

[2018-03-01 12:50] mkg20001 opened #172 "[feature request]: Support changing transports at runtime"
- **Version**: next, hopefully
- **Platform**: Any
- **Subsystem**: transport

#### Type: feature

#### Severity: low

#### Description: Support changing transports at runtime

It would be great if there would be some non-hacky way to change the transports in the switch.

For example a module using DI that requires a transport that is not currently present in the switch could add it just in time

[2018-03-01 12:53] mkg20001 opened #173 "[feature request]: Support changing listeners at runtime"
- **Version**: next, hopefully
- **Platform**: Any
- **Subsystem**: transport

#### Type: feature

#### Severity: low

#### Description: Support changing listeners at runtime

It would be great if there would be some non-hacky way to change the listeners a transport listens on.

For example [libp2p-nodetrust](https://github.com/mkg20001/libp2p-nodetrust) needs to create a websockets-secure listene

[2018-03-02 13:30] diasdavid commented on #170
@mkg20001 can you convert that into a PR with a test for this module?

[2018-03-07 19:59] kumavis commented on #106
Having fun generating topo graphs and crashing the `ws-star` server.
Next goal is visualizing pub-sub message movements across the mesh : )

![image](https://user-images.githubusercontent.com/1474978/37115032-dd808774-21fe-11e8-8b57-a115de29f31b.png)

[2018-03-07 20:09] kumavis opened #175 "[feature request]: Low-Level Connection Management"
### idea:
some additional controls over establishing/denying connections
- hooks for denying connections before they are established (when possible)
- ConnectionManager configuration that can limit the number of connections per transport

### usecase:
MetaMask is building an Ethereum light client for the browser using libp2p.
We intend to use webrtc which is resource intensive and can only safely

[2018-03-08 05:47] Elvenisboy opened #176 "when listener handle a protocol, how to deal error?"
- **Version**:0.18.0
- **Platform**:linux
- **Subsystem**:

#### Type: Question

#### Severity: Low

#### Description:

sometimes, when a listener peer handle, it may get some errors, like dialer offline.
How to deal with these errors? use `console.log(error)`  may be a bad idea. If use hangup, I can't get peerInfo from Connection.

#### Steps to reproduce the error:

[2018-03-12 11:07] pgte opened #418 "[conn-manager] denying connections before they're established"
Allow hooks for denying connections before they are established.

First (and wisely)  requested by @kumavis [here](https://github.com/libp2p/js-libp2p/issues/175).

[2018-03-12 11:08] pgte commented on #175
@kumavis that's great feedback, thanks!
Opened these issues on [libp2p-connection-manager](https://github.com/libp2p/js-libp2p-connection-manager/issues).

[2018-03-15 15:09] #168 closed

[2018-03-19 05:27] diasdavid commented on #157
I see this is all done now -- https://github.com/libp2p/js-libp2p#switch-stats-api --, great work @pgte ❤️

[2018-03-19 05:27] #157 closed

[2018-03-29 08:50] mkg20001 opened #179 "Error: no protocol with code: 56"
- **Version**: libp2p `0.19.0`
- **Platform**: `Linux - 4.4.0-97-generic #120-Ubuntu SMP Tue Sep 19 17:28:18 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`
- **Subsystem**: identify?

#### Type: Bug

#### Severity: Critical

#### Description: `Error: no protocol with code: 56`

#### Steps to reproduce the error:
[logs.txt](https://github.com/libp2p/js-libp2p/files/1859271/logs.txt)

Just run a node with

[2018-03-29 08:51] mkg20001 commented on #170
@diasdavid I tried to implement the test case but the error does not seem to occur. Either this is fixed already or it's because both peers are running in the same process.

[2018-03-29 09:01] mkg20001 opened #180 "Allow transports to expose a flag if the can be dialed with without having a listener"
- **Version**:
- **Platform**:
- **Subsystem**: transports

#### Type: enhancement

#### Severity: Low

#### Description: Allow transports to expose a flag if the can be dialed with without having a listener

Currently websockets can be used to dial peers without having a listener through a hack. But it is possible to dial peers over, say TCP, without having a listener setup for that, too. So why

[2018-03-29 15:54] dryajov commented on #179
Hmm, 56 is has been assigned to `/dnsaddr` (changed from 53) in the latest `js-multiaddr` release (3.1.0). Are you running two nodes with different versions of `js-multiaddr` or you happen to have two conflicting versions of it somewhere in your js-ipfs install?

Agree, this shouldn't crash the node.

[2018-03-29 15:58] dryajov commented on #170
This seems to be related to the multiplexer throwing that is being worked on in - https://github.com/libp2p/js-libp2p-mplex/pull/75/files.

[2018-03-29 18:06] mkg20001 commented on #179
I don't know where it's really coming from. The intent behind opening this issue is to prevent such things from happening again and again (after /p2p-ws-star got created, /dns => /dnsaddr rename - this might be the issue - and many other breaking changes that will follow)

[2018-03-29 18:24] hubertokf opened #181 "Can I REST over libp2p Connection?"
I dont know if i can ask this here, but here it go.

I want to make an API with js-libp2p. I know that I can handle a protocol simply using handle function, but it do not give responses. For example: If i make a request to /api/resources/ i want to get a list of resources (ok, i do have procedures to get those resources from database e.g ). I just want to give a json (object) response.

Is there a

[2018-03-30 05:52] dryajov commented on #181
Hrm... no. If I understand your question correctly you want to use protocol identifiers as RPC endpoints? In that case, that's not the correct usage. Even tho it might look like an endpoint name, it's not that, `/api/resource` is a multistream protocol name, using it as some sort of RPC endpoint would not be the correct thing to do.

As for returning a JSON or any other data from your handler, you

[2018-04-03 08:40] diasdavid commented on #65
@fsdiogo is handling this.

[2018-04-03 14:58] fsdiogo commented on #65
PR https://github.com/libp2p/js-libp2p/pull/182 fixes this.

[2018-04-06 09:39] pgte opened #183 "Setup connection-manager and expose it"
- [x] install [`libp2p-connection-manager`](https://github.com/libp2p/js-libp2p-connection-manager)
- [x] instantiate it and hook it up
- [x] expose it

[2018-04-09 18:34] pgte commented on #183
The API still needs to be discussed / reviewed / approved

[2018-04-10 07:44] pgte opened #417 "[conn-manager] prevent flapping"
In some circumstances, these events might happen in a lopp:

* a measure is slightly above a threshold
* that triggers a preemptive disconnect
* the measure goes down to slightly below the threshold
* a new connection is accepted
* repeat

To prevent this,  dampening should be reflected on the measure. In some cases, it already is.

By default, some statistics (like data sent and received) uses th

[2018-04-12 15:40] rmnoff opened #185 "Connecting local nodes"
- **Version**: 0.20.0
- **Platform**: MacOS

#### Type: Question

#### Description:
Hello everyone! I am currently trying to implement a direct connection between two local nodes generated using the code below:

[code]

Unfortunately, I can't understand why am I unable to connect one node to another by using this function:

[code]

I am passing an existing peerId to this function and the node I us

[2018-04-13 01:20] agahEbrahimi opened #186 "Chat Example"
Is the chat example complete and usable or is it development?

[2018-04-15 15:35] #186 closed

[2018-04-16 13:45] rmnoff commented on #185
Solved.

[2018-04-16 13:45] #185 closed

[2018-04-16 14:02] rmnoff opened #188 "Circuit isn't working by default"
- **Version**: 0.20.0
- **Platform**: MacOS 10.12.6
- **Subsystem**: None.

#### Type: Bug?

#### Severity: High

#### Description: Default nodes have no Circuit enabled.
I am using libp2p and same scripts on two different notebooks connected to different networks and I am unable to find one peer by another. While running nodes under same network it works perfectly.
The error I face is here:
[code

[2018-04-16 14:17] agahEbrahimi commented on #104
So there aren't any NAT Traversal techniques in js-libp2p? Not even Nat Port mapping?

[2018-04-16 16:32] dryajov commented on #104
Work on this is planned already, and will begin very soon.

[2018-04-16 22:59] dryajov commented on #188
That's a misleading message, in reality it means that dialing failed including circuit. Here is a PR that addresses it - https://github.com/libp2p/js-libp2p-switch/pull/250.

Are you sure that the nodes in another network are reachable over the address that is being used? For example, can you dial a node in that network?

If you want to enable circuit, the node needs to be passed this config optio

[2018-04-17 10:40] rmnoff commented on #188
@dryajov thank you! Now I have a much better view on the error I receive. Btw, have u found out and work around? I just want to have a good data-transporting channel. I love p2p and I would love to use it rather than any other libraries. I will try to enable circuit the way you proposed and text back here if it won't work or something. I would love to ask you if there is any other more convenient

[2018-04-17 17:11] dryajov commented on #188
@rmnoff could you please describe your use case in more detail?

- you mentioned that the nodes you're trying to connect are in different networks, could you elaborate on that please?
  - are these nodes able to see each other in any way?
  - if so, are you able to dial one node over its public address from another node?

If you want a more real time communication channel, I suggest you join our I

[2018-04-17 17:12] dryajov commented on #188
Also, take a look at the https://github.com/ipfs/js-ipfs/blob/master/examples/circuit-relaying/README.md, for a more indepth explanation of circuit relay, make sure you explore the rest of the examples as well, both here in the libp2p repo and ipfs proper.

Cheers!

[2018-04-18 17:34] mkg20001 opened #189 "Should a node be able to dial itself?"
- **Version**: \*
- **Platform**: \*
- **Subsystem**: transport, dialer

#### Type: question

#### Severity: low

#### Description: Should a node be able to dial itself?

#### Steps to reproduce the error:

 1. Create a node and start it
 2. `node.dial(node.peerInfo, () => {}`

Currently a node is able to dial itself.
Problem:
 - What if there are 2 nodes with the same peer-id because someone mess

[2018-04-19 00:56] hubertokf commented on #181
RPC was the keyword!

Apologies about the delay. When i read you talking about RPC, i realized that it is what I need. So I found [libp2p-rpc](https://github.com/beingmohit/libp2p-rpc).

Thank you very much about the tip :+1:

[2018-04-19 14:05] dignifiedquire commented on #120
Implementations are being done here:

- https://github.com/libp2p/js-libp2p-delegated-peer-routing/pull/1
- https://github.com/libp2p/js-libp2p-delegated-content-routing/pull/1

[2018-04-19 18:36] Cole128 commented on #104
Can't ipfs's NAT traversal just be reimplemented here? Why is it being worked on separately?

[2018-04-23 09:00] pgte opened #416 "[conn-manager] peer value should be HOP-aware"
A connection to another peer can host connections to other peers through the HOP transport.
When disconnecting from a peer, the value of that connections shouldn't be only the single value of that peer, but also should contain the value of all the peers that are connected through it.

First discussed [here](https://github.com/libp2p/js-libp2p-connection-manager/issues/2#issuecomment-382306181).

[2018-04-23 09:42] pgte opened #440 "[switch] start and stop accepting connections"
For each different transport individually, in order to do connection throttling, it's important to be able to start and stop the listener by command of the user.

[2018-04-23 13:50] fsdiogo commented on #65
Check https://github.com/ipfs/js-ipfs/issues/1321 for more info.

[2018-04-23 13:50] #65 closed

[2018-04-24 08:30] pgte opened #415 "[conn-manager] internal peer value"
Wisely brought up by @dryajov [here](https://github.com/libp2p/js-libp2p-connection-manager/issues/10#issuecomment-383755530), there are peers that provide value to certain protocols (namely DHT) that perhaps should see the value reflected.

If so, how do we expose that internally? How do we combine this value with the user-defined value? Should we generalize this to other protocols? ...

[2018-04-25 08:28] diasdavid commented on #6
I'm officially closing this edition of the Captain.log. It was fun times to write this update to you all but overtime it become a too large time sink and with very little impact given that we have now:

- Weekly Calls https://github.com/ipfs/js-ipfs/blob/master/MGMT.md
- Project Tracking https://github.com/ipfs/js-ipfs/blob/master/MGMT.md

See you in the other channels!

[2018-04-25 08:28] #6 closed

[2018-04-30 18:07] #179 closed

[2018-05-05 21:41] diasdavid commented on #118
A bonus idea from a productive chat with @mafintosh today. We can actually enable libp2p-utp and other transports that don't do gracious closing just by removing the assumption that the transport do that and let the protocol that gets mounted on top assume that responsibility.

The reality is that almost every protocol on top of js-libp2p is already doing that.

[2018-05-07 07:55] pgte opened #414 "[conn-manager] internal values and preservation"
Currently, the connection manager delegates entirely to the application the definition of values for each peer. This is not optimal, since some peers may have value to internal subsystems in libp2p, like, for instance, the DHT, where, for instance, it may be important to keep some connections around so that the DHT is well connected.

[2018-05-07 17:12] mkg20001 commented on #118
The shim in my fix pr changes the close behaviour from "recieve or send close -> closes both sides" to "only send if the client aborts the source and ends the sink (pull-stream)". This assumes that the client using the transport uses another way to exchange a FIN message (as otherwise the "sink got closed" event never gets transmitted, thus leaving the connection open forever). Is that the case fo

[2018-05-08 19:04] dryajov commented on #188
should be fixed with - https://github.com/libp2p/js-libp2p-switch/pull/250

[2018-05-08 19:04] #188 closed

[2018-05-08 19:11] dryajov opened #191 "Tests are failing against master"
- **Version**: master
- **Platform**: All (at least it appears so)
- **Subsystem**: libp2p, libp2p-secio

#### Type: Bug

#### Severity: Medium

#### Description:
Master is failing to build with:
- https://travis-ci.org/libp2p/js-libp2p
- https://circleci.com/gh/libp2p/js-libp2p/540#tests/containers/0

<img width="689" alt="screen shot 2018-05-08 at 1 02 42 pm" src="https://user-images.githubuserc

[2018-05-12 18:29] diasdavid opened #194 "wrtc >= 0.1.2 introduces a bug"
reported initially at #191, diagnosed at #193

[2018-05-12 18:46] diasdavid commented on #189
It shouldn't. Let's catch that on libp2p-switch and return it as a error.

[2018-05-19 16:00] mkg20001 opened #195 "[README] Background->Talks: Broken links"
There are a few broken links at the "Talks" section

 - demo-1 (404): https://ethereumfoundation.org/devcon2/wp-content/uploads/2016/10/libp2p_demo1-1.mp4
 - slides (404): https://ethereumfoundation.org/devcon/wp-content/uploads/2016/10/libp2p-HEART-devp2p-IPFS-PLUS-Ethereum-networking.pdf

[2018-05-22 12:17] #189 closed

[2018-05-23 14:39] mkg20001 opened #197 "[Idea/Discussion] "Managed" libp2p node"
- **Version**: none, yet
- **Platform**: *
- **Subsystem**: config?

#### Type: feature

#### Severity: low/med

#### Description: "Managed" libp2p node

Basically every time when a project gets created that only uses libp2p and not IPFS the creator has to reinvent a good way to store and read the config, among other things.

In IPFS this is already handled as the config simply gets stored in the

[2018-05-28 13:42] diasdavid opened #198 "Circuit Relay test is failing."
@jacobheun could this have been introduced with the refactor? It seems that the muxer on the connection is not being correctly set up when a Relay connection happens.

[code]

//cc @dryajov

[2018-05-28 14:43] jacobheun commented on #198
@diasdavid I'll take a look at this, I think it's just an issue with resiliency when a peer hangs up while we're also shutting down. If a peer hangs up at the same time we're shutting down (such as with test cases), it's possible we could remove the muxed connection on the hang up, as we're iterating on them to shut each of them down, making the connection undefined.  I'll make sure this is the ca

[2018-05-29 20:43] dryajov commented on #104
Quick update and outline of what is currently being worked on:

- I've put together an initial implementation of a nat mapper that will allow creating port mappings using different available techniques (upnp, pmp, pcp, hole punching, etc...). Currently, pmp and upnp are being supported, with pcp and hole punching planed once the rest settles in.
  - the code is here (heavy wip) - https://github.co

[2018-05-29 22:19] jacobheun commented on #198
My assumption was correct, I have the update ready here https://github.com/libp2p/js-libp2p-switch/pull/260.  The PR also links to the passing CI tests for libp2p via the chore/update-switch branch.

[2018-05-30 08:51] mkg20001 commented on #195
It's gone:
![gone.png](https://user-images.githubusercontent.com/7735145/40709575-bf6ac0d0-63f6-11e8-9550-76f823785a73.png)

Isn't it crazy that a file related to the IPFS project possibly got lost? Let's just save demo-2 before that's gone too... [/ipfs/QmVL3vsiD4tPjjuKRw7rKyB5oM1QWaWHh3uKi63hCscRhj](https://ipfs.io/ipfs/QmVL3vsiD4tPjjuKRw7rKyB5oM1QWaWHh3uKi63hCscRhj)

[2018-05-31 21:51] dryajov opened #200 "NAT Flow"
Here is an outline of the overall plan for NAT traversal. This implies both port mapping/punching as well as using other techniques such as circuit relaying and dialme flows:

- Have a [nat module](https://github.com/libp2p/js-libp2p-nat-mngr) to take care of all things NAT
- Circuit relays work like TURN servers
  - circuit relays and NAT port mapping/punching provides pretty good connectivity fo

[2018-05-31 21:52] dryajov commented on #104
I've added an issue describing the NAT flow here - https://github.com/libp2p/js-libp2p/issues/200

[2018-06-01 16:59] jacobheun commented on #198
@diasdavid this is fixed in the latest release of switch, 0.40.3.  There's another issue with the tests failing. I'll see if I can figure out what's going on there.

[code]

https://ci.ipfs.team/blue/organizations/jenkins/libp2p%2Fjs-libp2p/detail/chore%2Fupdate-switch/5/pipeline

[2018-06-01 17:46] jacobheun commented on #198
js-libp2p-webrtc-star v0.15.2 is breaking the tests, looking into it.

[2018-06-04 08:47] diasdavid commented on #198
Thank you @jacobheun :)

[2018-06-04 08:53] diasdavid commented on #181
Great find! https://github.com/beingmohit/libp2p-rpc \o/

[2018-06-05 13:34] daviddias opened #201 "Configure Protocol Muxing sequence"
With https://github.com/libp2p/js-libp2p/pull/166/files, the libp2p constructor will be fully refactored and with it comes the option to pass a Protocol Muxing sequence.

My proposal is on communicate this is on https://github.com/libp2p/js-libp2p/pull/166/files#r193032278, however, I'm not married to that solution just yet. Example below:

[code]

[2018-06-05 13:44] daviddias opened #202 "Add support for Addrs {listen, announce, noAnnounce}"
With https://github.com/libp2p/js-libp2p/pull/166/files, the libp2p constructor will be fully refactored and with it comes the libp2p config.

We want to give the user the ability to(with example):

[code]

Proposed in: https://github.com/libp2p/js-libp2p/pull/166#discussion_r193074930

[2018-06-06 18:20] jacobheun commented on #198
The underlying issue appears to be with multistream-select and block-streams, which were added via https://github.com/libp2p/js-libp2p-webrtc-star/pull/145, they are not playing well together.

I am looking into why that's the case. I have tested this against `pull-block` and `block-streams` and both consistently hang, which explains the hang in the tests we are seeing in libp2p.

@diasdavid I thi

[2018-06-07 12:22] diasdavid commented on #198
@jacobheun thank you so much for the debugging. I've added you and @pgte to have publish access of libp2p-webrtc-star so that you can unpublish the right version (https://www.npmjs.com/package/libp2p-webrtc-star/access) I'm afraid that with limited time and massive context switch that I might do a poor job of reverting those changes.

[2018-06-07 14:58] jacobheun commented on #198
libp2p-webrtc-star 0.15.1 has been marked as latest and the 0.15.2 changes have been rolled back into master. This issue will be resolved with the release of #203

[2018-06-17 15:19] mkg20001 commented on #134
ws-star is soon going to be replaced by the rendezvous protocol, so this can almost be ticked as complete.

webrtc-star is being rewritten to be more decentralized https://github.com/libp2p/js-libp2p-webrtc-star/pull/148 using [interface-data-exchange](https://github.com/mkg20001/interface-data-exchange). Thoughts?

[2018-06-20 08:14] alanshaw opened #204 "Cannot npm install with Node.js 10"
The `wrtc` module does not have a prebuilt binary for version `0.1.1` (currently pinned to this specific version in package.json).

[code]

I installed `cmake` using `brew install cmake` and whilst `npm install` succeeded, running `npm test` failed with the following:

[code]

I'm on macOS 10.13.4 running Node.js 10.4.1.

[2018-06-23 08:36] jacogr opened #208 "libp2p (and friends) index.d.ts for TypeScript"
- **Version**: latest
- **Platform**: TypeScript
- **Subsystem**: libraries

#### Type: Question

#### Severity: Very Low

#### Description:

I've been starting with TypeScript definitions, https://github.com/polkadot-js/ts/blob/master/types/libp2p/index.d.ts - these are exceptionally early, ugly, hacky, untested with still some way to go.

My question is the following: would be be appropriate to

[2018-06-26 11:59] VictorBjelkholm commented on #204
Currently the CI builds for js-libp2p + Node.js 10.4.1 fails because of this:

![image](https://user-images.githubusercontent.com/459764/41910153-1c34e7e8-7949-11e8-903c-59cbd38f56ce.png)

[2018-06-28 08:17] #95 closed

[2018-06-28 08:37] diasdavid commented on #204
Related:
- https://github.com/js-platform/node-webrtc/issues/255
- https://github.com/js-platform/node-webrtc/issues/256

[2018-06-28 08:38] #198 closed

[2018-06-28 08:38] diasdavid commented on #146
It got filled with #166 check it out! :)

[2018-06-28 08:38] #146 closed

[2018-06-28 08:39] diasdavid commented on #9
@mafintosh I believe you mentioned you had an implementation of TLS 1.3, did I get that right?

[2018-06-28 17:05] jacobheun commented on #46
With #166 merged I think we could add transport configuration for something like `isDialer` and then push all dialer only transports into the switch transports after startup. This could be enabled by default, as that is already a set expectation with web sockets.

[2018-06-28 17:06] diasdavid commented on #46
@jacobheun related, see https://github.com/libp2p/js-libp2p/issues/201

[2018-06-29 17:05] sequoiar commented on #200
+1 traverse FW/NAT

[2018-06-29 22:30] diasdavid commented on #194
Fixed with #211

[2018-06-29 22:30] #194 closed

[2018-06-29 22:46] diasdavid opened #212 "Get a nice packages table just like js-ipfs"
Inspiration - https://github.com/ipfs/js-ipfs#packages

[2018-07-02 12:39] vaibhav6233m opened #213 "Cannot connect to nodes over the internet behind NAT. Throwing random errors."
- **Version**: b7f67f27643383fcb452d150dd61078be354addc
- **Platform**: Linux x64
- **Subsystem**: Ubuntu

#### Type: Bug

#### Severity: High

#### Description:

I want to use the libp2p functionality for building a p2p network where the nodes are sharing some contentID and other nodes can discover these nodes using the FindContentProvider functionality in DHT.

What actually happening is that th

[2018-07-02 12:41] diasdavid opened #214 "Next release of js-libp2p should get proper fanfare, just like js-ipfs :)"
Like:
  - https://github.com/ipfs/js-ipfs/issues/1375
  - https://github.com/ipfs/js-ipfs/issues/1320
  - and others

[2018-07-04 09:43] daviddias opened #215 "Network Visualization Tool"
We need a libp2p network visualization tool in order to improve our debugging abilities and also for research purposes.

@vasco-santos is going to take the lead on this. There is some previous work worth checking out but it doesn't mean that it should be the base.

- libp2p pubsub testnet - https://github.com/gavinmcdermott/js-libp2p-pstn-stats
- iptb - ipfs testbed - https://github.com/ipfs/iptb

[2018-07-04 16:57] mkg20001 opened #217 "The APIs dont match: Constructor in readme "(_config)", constructor in src/ "(_modules, _peerInfo, _peerBook, _options)""
- **Version**: 0.20.4
- **Platform**: Ubuntu 16.04 x64
- **Subsystem**: js-libp2p

#### Type: bug

#### Severity: high

#### Description: The APIs dont match: Constructor in readme "(_config)", constructor in src/ "(_modules, _peerInfo, _peerBook, _options)"

#### Steps to reproduce the error:

1. Follow the docs on the README (on npm)
2. Realize the APIs don't match

The example uses the new-styl

[2018-07-04 23:38] kumavis commented on #215
we've built out own for metamask light client / kitsunet / mustekala research
currently relies on a telemetry server all nodes connect to

has a live updating graph of the topo
![image](https://user-images.githubusercontent.com/1474978/42296266-8ec963e6-7fa8-11e8-9679-c8f8044cf30a.png)
observing + measuring pubsub is next : )

[2018-07-05 03:08] lanzafame commented on #215
I would love to see a [hiveplot](http://hiveplot.net) as it would allow for visual comparison between different network topologies.

[2018-07-05 06:06] diasdavid commented on #217
@mkg20001 you are looking at the README of libp2p 0.22 and using it with libp2p 0.20.4. Simply update to 0.22

[2018-07-05 09:34] mkg20001 commented on #217
@diasdavid Ok. Noticed my local-npm server was just outdated again...

[2018-07-05 09:34] #217 closed

[2018-07-05 09:39] diasdavid commented on #183
Done with https://github.com/libp2p/js-libp2p/pull/184 and getting exposed in js-ipfs 0.30 as well! https://github.com/ipfs/js-ipfs/issues/1375

[2018-07-05 09:39] #183 closed

[2018-07-05 09:41] diasdavid commented on #175
@kumavis if you have some spare cycles, test out the connection manager already released in libp2p 0.22 and that will also get released in js-ipfs 0.30 https://github.com/ipfs/js-ipfs/issues/1375

[2018-07-05 09:42] diasdavid commented on #171
@jacobheun was this handled by your other PRs?

[2018-07-05 09:44] diasdavid commented on #46
DONE \o/ :D

[2018-07-05 09:44] #46 closed

[2018-07-05 09:45] diasdavid commented on #47
Follow on #212

[2018-07-05 09:45] #47 closed

[2018-07-05 09:50] diasdavid commented on #212
Note that there is a script to generate it https://github.com/ipfs/js-ipfs/blob/master/scripts/generate-package-table-for-readme.js

[2018-07-05 13:56] jacobheun commented on #171
@diasdavid this was ultimately resolved by https://github.com/libp2p/js-libp2p-mplex/pull/79, which catches the error and returns it via the callback. This should be closable. This fix is available in libp2p-mplex 0.8.0.

[2018-07-05 15:03] diasdavid commented on #197
@mkg20001 I believe what you really want is https://github.com/libp2p/libp2p/issues/22

[2018-07-05 15:17] #212 closed

[2018-07-05 15:20] diasdavid commented on #171
RAD! :D Thanks for double checking :)

[2018-07-05 15:20] #171 closed

[2018-07-06 23:23] kumavis commented on #215
added a pubsub mode
![image](https://user-images.githubusercontent.com/1474978/42403828-e1b10032-8138-11e8-933d-1718006a699f.png)

[2018-07-07 15:55] diasdavid commented on #215
See also notes from a hold wish on having a dashboard for the DHT https://github.com/ipfs/notes/issues/34

[2018-07-09 09:00] jacobheun opened #438 "[switch] Stats tests are not being run"
Since the stats test file is not a `.spec.js` file, they are not run automatically so it must be included by the browser / node test runner files. We should do an evaluation of the test suite to make sure everything is being run and in the proper environments.

[2018-07-09 18:28] cretz opened #219 "PeerInfo required in config but not in README"
At https://github.com/libp2p/js-libp2p/blob/187d5840860edc28f3a71d564c9c49099373b53e/src/config.js#L10 it has peer info required, but in the README it says "`peerInfo`: instance of PeerInfo that contains the PeerId, Keys and multiaddrs of the libp2p Node. Optional.". I would just like to be a client to the DHT to lookup providers so I think, like the Go impl, you shouldn't need peer info for it bu

[2018-07-09 20:26] cretz opened #220 "DHT + WebSocket example/support for libp2p-in-the-browser"
Probably already on the roadmap, I just didn't see an issue (but still close this if it's not a worthy request). Specifically, add the experimental KAD DHT like in the `peer-and-content-routing` example in to the `libp2p-in-the-browser` example.

I personally am struggling to `findProviders` when connecting to the DHT. I get immediate response on the JS side (undefined error, empty peer list) and

[2018-07-10 17:23] cretz commented on #220
Ok, I am debugging this issue. The first one was that I had a muxer for version `/mplex/6.3.0` which is default at https://github.com/libp2p/go-libp2p/blob/934606d0f292f265eab890101233d18ffeabfda0/defaults.go#L29 but it's `/mplex/6.7.0` at https://github.com/libp2p/js-libp2p-mplex/blob/bb5b7c03e716001f29c064cd149f8bf40c4f23aa/src/codec.js#L3 and for some reason when it errored at https://github.co

[2018-07-10 18:56] cretz commented on #220
Ok, I advanced to the next step. I have a single node given to bootstrap. Then the `peer:discovery` event is invoked, but sadly the DHT's routing table still doesn't have the peer. I call dial from in there, but in the callback, sadly the DHT's routing table still doesn't have the peer. I get an event for `peer:connect`, but sadly the DHT's routing table still doesn't have the peer. At some point

[2018-07-18 10:06] pgte opened #222 "getting peerId (or peerInfo) instance in transport"
Currently, the libp2p transport and discovery modules config accepts instances or classes. Inside the transport constructor call I need access to the `peerInfo` instance. Could this be done inside [the constructor call](https://github.com/libp2p/js-libp2p/blob/8533936ffa9c56436dfdb6825cd83000b46c853c/src/index.js#L133) ?

[2018-07-18 10:08] pgte opened #223 "transport and discovery modules: use a function instead of a class"
Currently, you can define a transport or discovery module as an instance or a class.
Instead of a class, why not a function call [here](https://github.com/libp2p/js-libp2p/blob/8533936ffa9c56436dfdb6825cd83000b46c853c/src/index.js#L133) and [here](https://github.com/libp2p/js-libp2p/blob/8533936ffa9c56436dfdb6825cd83000b46c853c/src/index.js#L165)? This way, the provider has control over which inst

[2018-07-18 10:29] jacobheun commented on #222
The transport interface currently doesn't take peerInfo as an argument for the constructor. Are you using a custom transport? I'm curious what the use case is to see if updating the interface would be useful.

Since the peerInfo needs to be known for libp2p instance creation, you can currently work around this by passing that to a new transport instance and then using the transport instance during

[2018-07-18 10:49] pgte commented on #222
@jacobheun yes, I'm using a custom transport that wraps another transport, see [here](https://github.com/ipfs-shipyard/peer-star-app/blob/master/src/transport/ipfs.js#L26).

What workaround were you proposing?

[2018-07-18 12:35] jacobheun commented on #222
Okay, so you're doing what I was talking about where you are initializing websocketstar, but it looks like that becomes seemingly impossible to do through the ipfs abstraction.

I feel like the right thing to do here is to have js-ipfs allow for custom libp2p generators to be added via configuration. It currently allows for providing a repo instance, but libp2p would need some of the info from ini

[2018-07-18 12:42] jacobheun commented on #223
What data would you want to see passed into that function? I assume you are talking about using generators for the transports and discovery modules?

[2018-07-18 13:53] pgte commented on #223
Ideally I would like the peerInfo or peerId to be passed in.
This is more about the interface being a function and not a class.
The arguments of this call is being explored in #222.

[2018-07-19 10:20] alanshaw opened #224 "Connection manager is not started"
I can't see where the connection manager is started! It is instantiated but `start` is never called 😟

https://github.com/libp2p/js-libp2p/blob/d9059dbad9b33e2c1434b5c13ff500ed34aa348f/src/index.js#L45

refs https://github.com/ipfs/js-ipfs/issues/1435#issuecomment-406113817

[2018-07-19 13:44] jacobheun commented on #224
I don't know if this was intentional or not to have it not start by default, but I think it needs to be auto started.

[2018-07-22 18:29] #224 closed

[2018-07-22 18:36] diasdavid opened #226 "⚡️ 0.23 RELEASE 🚀"
# 🗺 What's left for release

- [ ] [Private Networks](https://github.com/libp2p/js-libp2p/pull/210)
- [x] [Start/Stop Conn Manager Automatically](https://github.com/libp2p/js-libp2p/pull/225)

# 🔦 Highlights

# 🏗 API Changes

# ✅ Release Checklist

- Robustness and quality
  - [ ] Ensure that all tests are passing, this includes:
    - [ ] unit
    - [ ] interop
    - [ ] sharness
  - [ ] Run test

[2018-07-23 19:36] sylar217 commented on #95
Do we have plans to have example for WebCam/LiveStreaming/VoIP on libp2p?

[2018-07-24 13:07] pgte commented on #222
@jacobheun that would help if we the generator somehow gets a peerId like you showed.

[2018-07-25 02:59] lgierth opened #227 "Failing "TCP + WebSockets + WebRTCStar" tests"
- **Version**: libp2p/js-libp2p@7f68a1343392f10c37a50b9afed2ef677c250653
- **Platform**: Linux swift 4.15.0-29-generic #31-Ubuntu SMP Tue Jul 17 15:39:52 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
- **Subsystem**: transports

#### Type: bug

#### Severity: unknown

#### Description:

#### Steps to reproduce the error:

[code]

[2018-07-25 15:11] mateodelnorte commented on #104
Hi all. What's the current state of affairs here? Any way for additional individuals to help out?

[2018-07-25 19:46] jacobheun commented on #120
Both libp2p/js-libp2p-delegated-peer-routing and libp2p/js-libp2p-delegated-content-routing are about ready for release. I've got a local branch I am working on to integrate those into libp2p. The biggest issue right now is that https://ipfs.io is not working for those two.

I will make sure the local tests aren't hitting external endpoints, but the default peer and content routing won't work unti

[2018-07-26 22:42] lgierth commented on #120
Ah yeah, there's a branch that needs merging. I'll be on it once the urgent DWeb Summit tasks are done.

[2018-07-26 23:21] vitali2y commented on #215
[vis.js](http://visjs.org/network_examples.html) is great ([app example](https://github.com/vitali2y/marketplace/blob/master/docs/marketplace_demo_win10.png)).

[2018-07-27 02:29] lanzafame commented on #215
@Kubuxu did you get any decent results out of your exploration into hiveplots?

[2018-07-27 12:39] jacobheun commented on #222
I've got an open PR for this support, ipfs/js-ipfs#1470. I included a working [example of configuration](https://github.com/ipfs/js-ipfs/blob/6543854dbb2fac6ffe34b68fe01aa35a8ffa0ae7/examples/custom-libp2p/index.js) as well, that shows creating a transport with the ipfs nodes peerId

[2018-07-27 12:43] diasdavid commented on #226
There you go! https://twitter.com/daviddias/status/1022824309537026048

<img width="639" alt="image" src="https://user-images.githubusercontent.com/1211152/43321203-6a7e4186-91ab-11e8-8e96-9f78ef9f8ed9.png">

update your modules today!

[2018-07-27 13:31] jacobheun commented on #163
Support for private networks released in 0.23.0

[2018-07-27 13:31] #163 closed

[2018-07-27 13:36] diasdavid commented on #163
Woooot! Awesome work!!

[2018-07-28 01:37] threejeez opened #229 "Node Crashes In crypto.js When Dialed"
- **Version**: 0.23.0
- **Platform**: Linux ip-172-31-90-222 4.14.33-51.37.amzn1.x86_64 #1 SMP Thu May 3 20:07:43 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
- **Subsystem**: SECIO

#### Type: Question

#### Severity: Low

#### Description:

I am running a very basic bootstrap node on EC2 and only when I give it a peerId (instead of letting it generate it's own) it crashes when dialed in crypto.js. Th

[2018-07-30 13:08] jacobheun commented on #229
The reason SECIO is failing is that the PeerId is being created without any public or private keys, you're just giving it an id string. Not sure why this is working locally for you without looking more into your setup; if you created that id string on your machine it's possible there is some keychain storing going on there, but I'm not positive.

If you're trying to replicate the re-creation of a

[2018-07-30 13:21] jacobheun commented on #104
We are planning on picking this back up this quarter, it's just lower on the priority list at the moment. The next steps for moving this forward are to finalize the specs, https://github.com/libp2p/specs/pull/64, and work on getting the initial work of the nat manager finished, https://github.com/libp2p/js-libp2p-nat-mngr/pull/1.

The spec will be the big blocker to get resolved, so that nat manag

[2018-07-30 15:29] threejeez commented on #229
Thanks. Yeah, it could be some Mac magic that makes it work locally?

I tried generating an RSA keypair via `ssh-keygen -t rsa` and supply the private key to `PeerId.createFromPrivKey` and get the following exception at [line 89 in libp2p-crypto/src/keys/index.js](https://github.com/libp2p/js-libp2p-crypto/blob/master/src/keys/index.js#L89):

[code]

[2018-07-30 15:43] threejeez commented on #229
I tried regenerating the key in the same way and am now getting the following error: `Groups are not supported`. Am I generating the key improperly??

[2018-07-30 18:51] jacobheun commented on #229
So, it looks like `createFromPrivKey` is actually expecting a ProtoBuf so it errors when it's just getting a key. I've got a working snippet using a private key, it would be nice if this was added into peer-id so it could be created from the private key buffer without needing to externally use `libp2p-crypto`.

[code]

[2018-07-30 21:13] jacobheun commented on #229
I created https://github.com/libp2p/js-peer-id/issues/82 to hopefully get this improved. If you're interested in submitting a PR for it, that would be great!

[2018-07-30 21:13] #229 closed

[2018-07-31 14:26] threejeez commented on #229
Awesome! Will take a look at it... perhaps I'll throw my hat in the ring 🎩😁
Thanks again for your help!

[2018-08-03 18:05] threejeez opened #230 "Internal IP address is used on EC2 hosts instead of Elastic IP Address"
- **Version**: 0.23.0
- **Platform**: Linux ip-10-0-1-123 4.14.55-62.37.amzn1.x86_64 #1 SMP Fri Jul 20 00:44:08 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
- **Subsystem**: TCP, SECIO, KadDHT

#### Type: Question/Enhancement

#### Severity: High

#### Description:

I'm running a bootstrap node (B) and a node that connects to it that provides some content (C). Both nodes are running on an EC2 host and

[2018-08-06 07:51] bjzhang commented on #215
Hi, I am interested in this project. Where could I know the recent progress of this project?
Besides, I saw an Network Visualization Tool in filecoin demo in Dwebsummit. Is it the same of relative project?
Thanks.

[2018-08-06 14:19] threejeez commented on #230
Correct me if I'm wrong, but I think this has to do with NAT traversal and is related to issue https://github.com/libp2p/js-libp2p/issues/104

[2018-08-06 16:22] lgierth opened #231 "Clarify readme "bundles" section"
We just had someone in IRC confused about the relationship between the bundles and js-libp2p. I feel like the section should avoid the word skeleton, which sounds like death and lack of substance, and feels more like a quantification of project status vs. a qualification of the js-libp2p repo's function within the js-libp2p project.

Instead it should probably say something like:

- This is an umb

[2018-08-06 16:29] Isan-Rivkin commented on #231
It's me on the IRC and agreed :D

[2018-08-06 21:56] Mr0grog commented on #231
Hmmm, what’s the story with the `libp2p-ipfs-nodejs` and `libp2p-ipfs-browser` links? They read like they should link to actual packages (which seemed surprising, since I know how js-ipfs uses libp2p), but then I clicked them and realized they just linked to js-ipfs’s internal configuration. Were these once intended to become wrapper packages of some sort? I definitely agree it’s confusing.

Are t

[2018-08-06 21:58] Mr0grog commented on #231
Scratch the above name — I think “Compos*able* Functionality” is better.

[2018-08-09 19:00] jacobheun commented on #230
This is something that we should be able to address with NAT Traversal. Ideally the Nat Manager will be able to allow node C, via the relay through node B, to have node P dial it on its public address so the direct connection can be made.

[2018-08-13 18:38] vmx opened #234 "Example in README errors"
- **Version**: 0.23.0
- **Platform**: Linux

#### Type: Question/enhancement

#### Severity: Low

#### Description:

I tried to use the example of the README as a template. I then got an error like

[code]

I thought my peer-id was wrong. I then figured out that the problem was the

    connProtector: new Protector(/*protector specific opts*/),

what about commenting that out and adding a comment

[2018-08-13 19:35] jacobheun commented on #234
`peerRouting` and `contentRouting` will be used for the upcoming delegated routing work, they should just get remove in the interim. I think commenting out `connProtector` is a good approach.

[2018-08-13 19:44] vmx commented on #234
I'll do a PR tomorrow.

[2018-08-14 12:17] #234 closed

[2018-08-14 12:25] jacobheun commented on #219
Fixed by #236 readme update.

[2018-08-14 12:25] #219 closed

[2018-08-14 12:35] jacobheun commented on #214
We did it! https://github.com/libp2p/js-libp2p/issues/226

More fanfare coming to a new release near you!

[2018-08-14 12:35] #214 closed

[2018-08-14 12:36] jacobheun opened #237 "Make the readme more user friendly"
Will the many recent updates to libp2p and our Q3 objective to get more people using libp2p directly, it's time to do a full review/audit of the readme. There are issues like #231 that cause confusion and other api inconsistencies that are being addressed; such as #235 and #236. We need to do a full audit of the readme to make sure it's as easy as possible for new users to get started and existing

[2018-08-15 17:45] diasdavid commented on #227
All good now :) @vasco-santos can you log here what was the issue?

[2018-08-15 17:45] #227 closed

[2018-08-17 09:45] ajayrao80 opened #238 "Can't use libp2p-websocket-star with libp2p version from and after 0.21.0"
Version: libp2p 0.23.1
libp2p-websocket-star 0.8.1
node js version 10.0

Platform: Windows 10, 64 bit

[code]

Above code throws an error:
`
[code]
`
#### Severity: Critical

#### Description:
Using libp2p-websocket-star with latest libp2p throws an error of "'peerInfo' is required".

#### Steps to reproduce the error: Run the above code with libp2p (version : 0.21.0 - 0.23.1) and libp2p-websocket

[2018-08-17 13:30] jacobheun commented on #238
Hi @ajayrao80 with 0.21.0 there was a breaking change for the libp2p constructor, it now only takes a single argument, options.

You will need to change
[code]
to
[code]

This should resolve the validation error issue. The readme and examples folder have been updated for the latest usage.

[2018-08-18 07:59] ajayrao80 commented on #238
Thanks. That worked

[2018-08-18 07:59] #238 closed

[2018-08-18 08:27] ajayrao80 opened #239 "libp2p pubsub room failing to find peers"
Version: libp2p 0.23.1
libp2p-websocket-star 0.8.1
Node js 10.0

Platform: 64-bit (Windows 10).
Type: Bug (Maybe)

Severity: High

Description: I'm trying to create a libp2p pubsub room. I have two instances (in same machine) joined the same room but can't find each other. I've set a time interval to check the number of peers in the room but it's 0 always.

Here's the code:

[code]

[2018-08-19 16:08] ajayrao80 commented on #239
I have an update on this. When one of the instances is ipfs, it works fine. But when both instances are libp2p instances, it doesn't work. Anybody has any idea why?

[2018-08-20 13:38] jacobheun commented on #239
Libp2p doesn't currently automatically handle dialing to peers that are discovered. This works with an ipfs node because ipfs is listening to the 'peer:discovery' event on the node and triggering dials to each peer it finds. While your nodes might be setup to the same room, they're not connected yet, so pubsub won't work.

The current pubsub example uses MulticastDNS for discovery but the idea is

[2018-08-20 14:39] ajayrao80 commented on #239
That worked. Thank you so much.

[2018-08-20 14:39] #239 closed

[2018-08-22 23:44] machawk1 opened #243 "Demo link in README is bad/removed"
- **Version**: N/A
- **Platform**: N/A
- **Subsystem**: N/A

#### Type:
Bug (docs)

#### Severity:

Very Low

#### Description:

In the Background section of the libp2p README, there are links to videos of two demos. The one titled "demo-1" results in a 404.

#### Steps to reproduce the error:
Click on the "demo-1" link in the README's background section. Note the 404.

[2018-09-10 09:08] ajayrao80 opened #244 "Already piped error"
Type: Bug
Severity: Low

Description: Occasionally I get already piped error. I have no idea what it is and why it occurs. I thought it has something to do with dialing and tried catching it but I failed.
Can anyone please explain what it is and how to get around it

[2018-09-10 09:17] jacobheun commented on #244
@ajayrao80 do you have a stacktrace of the error? Also, what version of `multistream-select` do you have locally?

[2018-09-10 09:30] ajayrao80 commented on #244
`multistream-select` version: 0.14.2

Here's the stack trace:

[code]
Also, I know why it's happening. Once the node connects with another node, and if one of them goes offline, and when they come back they try to connect again. But because they were connected before it throws an error. Is there any way to handle that. I tried putting the entire dial thing on try catch block, it didn't work.

[2018-09-10 09:38] jacobheun commented on #244
multistream-select@0.14.3 should catch this error. Can you try updating your package lock? I'm working on a release for libp2p-switch to upgrade to 0.14.3 explicitly.

That is good to know! I'm also currently working on making libp2p-switch a full state machine, I will see if I can include a root resolution for this issue there. In the mean time multistream-select@0.14.3 should catch the throw.

[2018-09-10 12:52] ajayrao80 commented on #244
Thanks! That worked!!

[2018-09-10 12:52] #244 closed

[2018-09-11 15:24] ajayrao80 opened #245 "Websocket connection error"
#### Type: Question
#### Severity: Low

#### Description: When a node is disconnected from the internet, when internet comes back, it shows the below error. Obviously because it can't open a webscoket connection with another node. But my question is, can we catch it?

[code]

[2018-09-13 09:26] jacobheun commented on #245
It would be good to wrap the code in `libp2p-websockets`, https://github.com/libp2p/js-libp2p-websockets/blob/f59cf88cc237a34b0024e25392d7323ff6129c6b/src/index.js#L26-L31, with a try-catch and return the error via the callback.

With the variety of transports libp2p has, we should have them each conform to not throwing errors and instead returning them via callbacks to make the dial handler code

[2018-09-13 17:21] vmx opened #246 "streammuxer order changes behaviour"
- **Version**: 0.23.1
- **Platform**: Linux

#### Type: Bug

#### Severity: High

#### Description:

When sending data > 8k to a client it gets chunked into 8k blocks when the `streamMuxer` is set to `[ spdy, mplex ]`. If it is set to `[ mplex, spdy ]` it works as expected and the client receives the full block.

So the order of the stream muxers matter.

#### Steps to reproduce the error:

Checko

[2018-09-18 10:47] davepuchyr opened #423 "[circuit-relay] In-browser NAT traversal via js-libp2p-circuit"
Hi, @jacobheun,

Would you be so kind as to add an in-browser example for js-libp2p-circuit similar to https://github.com/libp2p/js-libp2p/tree/master/examples/libp2p-in-the-browser?  I have a libp2p dependent app that works perfectly when the (browser) nodes have public ip addresses, but fails when NAT is involved and I can't figure out how to incorporate js-libp2p-circuit in the mix.

Kind regar

[2018-09-19 13:39] jacobheun commented on #130
Reviewing this, it seems like the original problem that needed to be solved with DI was the boot time dependency injection, specifically knowing the `peerInfo` so that it could be handed off to modules, like transports.

Using Libp2p exclusively, this should be doable. One of the big problems was trying to customize libp2p within IPFS. The latest version of IPFS now supports passing a function tha

[2018-09-19 13:41] jacobheun commented on #222
Support for this was released in js-ipfs@0.32.0

[2018-09-19 13:41] #222 closed

[2018-09-19 14:06] jacobheun commented on #156
Closing this due to inactivity. The current content and peer routing example https://github.com/libp2p/js-libp2p/tree/master/examples/peer-and-content-routing is returning those calls. The original code linked in the issue doesn't look like it was enabled the dht, which would cause the issue.

If you're still having issues, please feel free to reopen this.

[2018-09-19 14:06] #156 closed

[2018-09-19 17:48] jacobheun opened #249 "⚡️ 0.24 RELEASE 🚀"
# 🗺 What's left for release
- [x] [Custom Content/Peer Routing Support](https://github.com/libp2p/js-libp2p/pull/242)
- [x] [Relay enabled by default](https://github.com/libp2p/js-libp2p/pull/254)
- [x] [Libp2p as a State Machine](https://github.com/libp2p/js-libp2p/issues/98)

# 🔦 Highlights
## 🚦 Custom Content/Peer Routing Support
Libp2p will now support custom content and peer routers, which wi

[2018-09-28 07:26] jacobheun opened #253 "Enable relay by default (not hop)"
Replicating [go-libp2p#440](https://github.com/libp2p/go-libp2p/issues/440) here as I think we should do it.

Enabling circuit relay by default would be a great, quick win for improved connectivity for libp2p nodes. Since interop was resolved in August, https://github.com/ipfs/interop/pull/27, I think it's reasonable for us to move forward with this change.

This should just involve updating the d

[2018-09-28 07:27] jacobheun commented on #253
@vasco-santos @diasdavid does this seem reasonable to you?

[2018-09-28 10:48] vasco-santos commented on #253
I believe that it would be an improvement for our users. So +1 on that

Finally, I completely agree that IPFS should also be using it by default

[2018-09-28 11:33] jacobheun commented on #253
I opened up #254 to add this. I think this would be good to add in the 0.24 release (#249).

[2018-10-01 19:04] dryajov opened #422 "[circuit-relay] Add missing stream-handler tests."
StreamHandler tests are missing, they need to be added.

[2018-10-01 23:43] dryajov opened #413 "[conn-manager] Detecting slow/stale connections"
Currently, there is no mechanism to detect if a connection has become stale (other side died) or slow/unresponsive. I've been thinking of ways to solve it, and a couple come to mind.

### 1) Ping/pong mechanism

Implement a ping/pong mechanism and if latency is too high or no response has been received within a time period, then disconnect/cleanup.

Pros:

- No ambiguity to weather the connection

[2018-10-07 23:03] jacobheun opened #259 "Ensure all libp2p packages have lead maintainters"
The current list of libp2p packages, https://github.com/libp2p/js-libp2p/blob/3226632d83e8684e32b00eeb398b21158b94586d/README.md#packages, is missing lead maintainers for many of the packages.  We need to ensure there is a lead maintainer in place to keep them well maintained.

Reference: https://github.com/libp2p/js-libp2p/pull/258

For posterity, once lead maintainer assignment is complete, ensu

[2018-10-08 12:12] jacobheun commented on #259
Notes from a quick chat @vasco-santos and I had:

Interface-libp2p : Deprecate?
Interface-connection : Jacob
Interface-transport: Jacob
Libp2p-utp: Vasco (already)
Libp2p-udp: Not Implemented
Libp2p-udt: Not Implemented
Libp2p-websockets: Jacob (already)
Libp2p-websockets-star-rendezvous:  Jacob (already)
Libp2p-secio: Friedel (already). (Maybe change this)
Interface-stream-muxer: Jacob
Interface-

[2018-10-12 07:20] achingbrain opened #260 "dns4 dialling fails"
Just wondering if I'm doing something wrong:

[code]

Results in:

[code]

This is with a `js-ipfs` daemon - running the same thing with a `go-ipfs` daemon works as expected.

[2018-10-15 11:29] jacobheun commented on #260
There was an update to mafmt and libp2p-tcp recently to add support for tcp over dns. If you update to `libp2p-tcp@0.13.0` that should resolve the issue.  I'll close this for now, but feel free to open if that doesn't solve the problem.

[2018-10-15 11:29] #260 closed

[2018-10-18 14:18] daviddias opened #261 "WebBluetooth"
WebBluetooth now works in the Browser! *1, *2, *3

https://developers.google.com/web/updates/2018/10/nic70

*1 Only on Chrome
*2 Only on Windows
*3 It is a great start \o/

[2018-10-18 14:29] daviddias opened #262 "Sound Transport! Chrip & Quiet.js"
We need to get this transport working for libp2p - https://chirp.io/ \o/ Super cool!

[2018-10-18 14:45] VictorBjelkholm commented on #261
I think it works on macOS and Linux (tested chrome + linux a week ago and was working).

Implementing this will be tricky though. It requires the user to interact with the page (`onClick` event triggered or similar) before device selection can happen and the user has to explicitly select device. I think we could probably make it work anyway by providing some was of triggering bluetooth-discovery f

[2018-10-18 14:57] jacobheun opened #437 "[switch] Support multiple crypto modules"
As mentioned at https://github.com/libp2p/js-libp2p-switch/pull/278#issuecomment-427147407 we don't currently support multiple crypto modules in Switch, even though multiple modules can be given. While the listener will select the proper crypto module via multistream-select, the dialer only ever uses a single crypto module.

The dialer and listener need to be able to negotiate which crypto they wa

[2018-10-18 17:15] lidel commented on #261
In the future, in WebExtension context the above requirement could be replaced by a "bluetooth" permission added to the manifest of IPFS Companion :trollface:

This is potentially _huge_: gives us alternative local discovery and  transport that do not depend on existence of any local network.

[2018-10-19 11:17] jacobheun opened #263 "Should we deprecate `.dialProtocol`?"
Currently `.dial` and `.dialProtocol` call out to the same `.dial` method on libp2p-switch. Switch handles the non-existance of a protocol and dials appropriately. In an effort to simplify the interface, I think we should deprecate `.dialProtocol` and consolidate into a single, overloaded `.dial` method that mimics Switch.

`.dialProtocol` already does this overloading, so you can just supply the

[2018-10-19 14:31] #253 closed

[2018-10-19 15:37] #98 closed

[2018-10-22 10:34] alanshaw opened #436 "[switch] ensure all connections are closed on switch stop"
I'm using `why-is-node-running` to inspect what's causing node to keep running after `ipfs.stop()` is called. I think the "latency-monitor" one is a red herring as these timeouts are unref'd:

[code]

[2018-10-22 13:30] jacobheun commented on #249
Release Candidate 0.24.0-rc.1 has been published to npm and can be installed via `npm i libp2p@next`. We'll be doing integration testing this week to make sure there are no regression issues.

[2018-10-24 09:47] gitGksgk opened #264 "discovery mechanism in the example can't show discovery mechanism.. it itself cannot discover"
- **Version**: 0.23.1
- **Platform**: win10
- **Subsystem**: unkown

#### Type: BUG

#### Severity: Medium

#### Description:
O' I've no idea how to make this work, but the discovery mechanism example isn't really discovering. there're two mechanisms in the example.
    1.js uses bootstraper and just keep telling "discovered sth", which after comparison, is sth already in the bootstraper' s list.

[2018-10-24 09:59] gitGksgk commented on #264
tried remove private part and switch to public net, set up two nodes connected to each other. Then use `node 1.js` and tried to connect to them. same behavior. connection to one of the two node is successful but cannot discover the other.

[2018-10-24 11:14] jacobheun commented on #264
Is there something specific you're trying to do, I'm not really clear on what your goal is? Are you trying to setup discovery for a private network?

In regards to the example, it's working as intended. The two discovery libraries being used are `libp2p-bootstrap` and `libp2p-mdns`.

`libp2p-bootstrap` just takes a list of multiaddrs and converts them into `PeerInfo` which is emitted as discovery,

[2018-10-24 11:42] gitGksgk commented on #264
@jacobheun  thanks for your reply. Yes I'm setting up discovery in browser node for a private network, during which I find that js-ipfs's discovery seems not to functioning correctly. The expected result is, when node A connected to node B in a private net, node A automatically discovers and connects to other nodes "known" by node B.

[2018-10-24 12:04] jacobheun commented on #264
@gitGksgk DHT will be a good route to go for now. There are some other things in progress that will help mitigate the need for dht in the browser in the future, such as leverage delegated routing from the browser to a go-ipfs node https://github.com/libp2p/js-libp2p/blob/master/examples/delegated-routing/src/libp2p-bundle.js (go still needs to release support for this).  There is also a rendezvous

[2018-10-26 11:57] gitGksgk commented on #264
@jacobheun thanks for your guide! it helps a lot. I tried to dig into these examples. However, both rendezvous and delegated-routing requires setting up sth besides the two nodes willing to connect each other..  sth like "connect agent"...

[2018-10-26 13:31] daviddias opened #266 "Awesome Endeavour: Async Iterators"
@libp2p/javascript-team see thread at [Awesome Endeavour: Async Iterators](https://github.com/ipfs/js-ipfs/issues/1670)

**Migration Notice: As libp2p modules migrate to async/await there will be some level of incompatibility when trying to include the latest release of modules. You can see the latest support minor versions of each module below.**

[code]

## JS Libp2p Refactor

As more of the dep

[2018-10-28 03:27] klueq opened #267 "Can libp2p.dial be used to send arbitrary messages?"
Is it possible to use this API to send arbitrary messages to a chosen peer id?

[2018-10-28 05:11] klueq opened #268 "Update reference to wss0.bootstrap.libp2p.io to be node0.preload.ipfs.io"
I'm getting "invalid cert" errors in the console:

[code]

https://websocket.org/echo.html also says that wss0.bootstrap.libp2p.io doesn't work.

However js-ipfs connects to the ipfs network and can download a file.

See a small demo at https://klueq.github.io

[2018-10-29 14:55] jacobheun commented on #267
In order to send/receive messages the libp2p nodes need to use a specific protocol. This allows them each to register a handler for that protocol so they know how to process the messages. In that chat example, https://github.com/libp2p/js-libp2p/blob/master/examples/chat/src/listener.js#L30, the handler is for text.  You can make the handler do anything for your specific protocol, including the ha

[2018-10-30 03:16] klueq commented on #267
I want to implement a basic idea of a "distributed shared folder" where each user keeps a copy, maybe partial, of the folder and they sync the list of files between each other. In more detail:

https://github.com/klueq/shared-folder-ipfs/blob/master/docs/sync.md

The chat example looks very promising. How efficient is this mechanism compared to sending a UDP message, if we could do that in JS? For

[2018-10-30 11:22] gitGksgk commented on #264
successfully get browser node discover other peers. closing~

[2018-10-30 11:22] #264 closed

[2018-10-30 17:21] jacobheun commented on #268
Yes, it's been changed to wss://node0.preload.ipfs.io. Both point to the same node, however the certificate is only valid for node0.preload.ipfs.io, so the connection fails for the old url.

The reference to this needs to get removed from the repo, I think it's only in the browser example at the moment.

[2018-10-31 09:16] diasdavid commented on #249
What's the ETA on this one?

[2018-10-31 09:41] diasdavid commented on #259
@vasco-santos can you finalize https://github.com/libp2p/js-libp2p/pull/265 asap so that we have a clear way to glance through all the packages and see the ones that miss a Lead Maintainer?

[2018-10-31 12:33] jacobheun commented on #249
I'm fixing some issues with the examples and working on a dependency issue with `libp2p-spdy`. This should get released tomorrow at the latest!

[2018-11-01 16:46] alanshaw opened #421 "[circuit-relay] Callback was already called"
To reproduce, start JS IPFS daemon with circuit relay enabled. Wait...(might be long), eventually:

[code]

[2018-11-02 05:35] klueq opened #272 "Equivalent of `ipfs dht findprovs`?"
How can I find providers of a certain file by its CID? In go-ipfs I can do something like this:

[code]

[2018-11-02 14:15] diasdavid commented on #272
@klueq that would be the contentRouting.findProviders call, see this example: https://github.com/libp2p/js-libp2p/tree/master/examples/peer-and-content-routing#2-using-content-routing-to-find-providers-of-content

[2018-11-02 14:15] #272 closed

[2018-11-03 07:02] klueq opened #274 "Uncaught Error: dialed to the wrong peer, Ids do not match"
I'm getting the following error when the latest js-libp2p is built with the latest js-ipfs + the DHT PR:

[code]

This error doesn't seem to break anything.

Repro, just in case: https://klueq.github.io/?https://ipfs.io/ipfs/QmdFgDWRTB4L3Ks87615kSc6yQStXxRTfp1hmYUfDGTeBe/index.js

The console log dump:

[code]

[2018-11-03 07:08] klueq opened #275 "Error: No content routers available"
DHT doesn't seem to work because of this. Built the latest js-ipfs + the DHT PR + the latest js-libp2p:

https://klueq.github.io/?https://ipfs.io/ipfs/QmdFgDWRTB4L3Ks87615kSc6yQStXxRTfp1hmYUfDGTeBe/index.js

Then tried to use DHT:

- `ipfs.dht.findprovs('QmXXtHtDwXFbCTzMDjacZxid6CCNY4m5oM6MgBhyPVT3Tr')`
- `ipfs._libp2pNode.contentRouting.findProviders('QmXXtHtDwXFbCTzMDjacZxid6CCNY4m5oM6MgBhyPVT3T

[2018-11-03 08:12] jacobheun commented on #275
In the latest release candidate `No content routers available` indicates that you have not supplied any custom content routers and that the DHT is not enabled.  The index.js file you linked looks to be the whole build file so I wasn't able to fund your specific code.

Can you check that you've turned the dht on via the `js-ipfs` options?

[2018-11-03 08:15] jacobheun commented on #274
The error indicates there was an issue identifying the peer so the dial will stop. We should catch this error so it's not thrown and ensure there's not an issue in the chain preventing secio from getting the correct peerID to verify against.

[2018-11-03 08:29] klueq commented on #275
What are the js-ipfs options? The ones that go to the `IPFS` ctor? I thought DHT is enabled by default.

What I did is I pulled the latest js-ipfs, added there changes from ipfs/js-ipfs/pull/856, which pulled the latest libp2p, and that's it. The config I use is this:

https://github.com/klueq/klueq.github.io/blob/master/index.js#L3

[code]

`QmdFgDWRTB4L3Ks87615kSc6yQStXxRTfp1hmYUfDGTeBe/index.js

[2018-11-03 10:09] jacobheun commented on #275
That PR still hasn't enabled DHT by default. The config for libp2p there is still setting EXPERIMENTAL.dht to false, which will disable it in libp2p.

[2018-11-03 21:10] klueq commented on #275
How can I enable it? The experimental flag didn't make any difference:

https://github.com/klueq/klueq.github.io/commit/52242e1e9a176fac797a1ad476769fee257d0641

[2018-11-04 14:31] pgte opened #276 "pubsub: how to protect from flooding (single origin)"
(I'm posting this here because I think that, even though flooding in the current implementation of floodsub is more serious, I'm wondering whether pubsub protections should generally exist for pubsub.)

Is there any protection in place against one node (maliciously or due to a bug) flooding other peers with messages?

In the case of the app I'm describing, a simple protection could be something al

[2018-11-04 23:30] klueq opened #277 "Access to fetch at node0.preload.ipfs.io has been blocked by CORS policy"
`ipfs.version: 0.33.0`

Access to fetch at 'https://node0.preload.ipfs.io/api/v0/refs?r=true&arg=QmXXtHtDwXFbCTzMDjacZxid6CCNY4m5oM6MgBhyPVT3Tr' from origin 'https://klueq.github.io' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an opaque response serves your needs, set the request's mode to 'no-cors' to fetch the resource with CO

[2018-11-05 00:04] klueq commented on #267
How do I connect to a peer by its id?

[code]

It returns a `Error: multiaddr "QmXcBNGp2SBzbogsbEnHxdrokw6te9y2RU9rKYD1sQc1km" must start with a "/"`.

[2018-11-05 00:57] klueq commented on #267
I've figured out this part: the `peer` argument needs to be one of the values from `libp2p.peerInfo.multiaddrs.toArray()` on the remote peer.

Now I'm trying to send a message thru this esoteric `Connection` object. It doesn't seem to have a simple `send` method, but is rather meant to be used within the pull/pushable/stream/etc. wizardry. Is there a way to avoid all that setup and just send a mes

[2018-11-05 10:42] vasco-santos commented on #274
@jacobheun `js-ipfs` tests are currently breaking if you install the `libp2p` master branch.

The majority of the failing tests report `Uncaught Error: dialed to the wrong peer, Ids do not match`. Is there anything that I could help you to solve this?

[2018-11-05 11:05] jacobheun commented on #275
The problem is your IPFS configuration. You currently have
[code]
which isn't correct. If you look at the constructor docs, https://github.com/ipfs/js-ipfs/tree/v0.33.0#ipfs-constructor, relay and EXPERIMENTAL need to be first level properties. So you should have:
[code]

[2018-11-05 11:47] jacobheun commented on #277
The preload nodes and api calls are specific to IPFS and don't leverage libp2p. Closing this, feel free to open the issue with IPFS.

[2018-11-05 11:47] #277 closed

[2018-11-05 12:58] alanshaw commented on #277
You can track this here https://github.com/ipfs/infrastructure/issues/447

[2018-11-06 05:08] klueq commented on #275
Thanks! It's doing better now: trying to do dht lookups, etc. However it finds only itself for a popular file (go-ipfs finds a lot of peers) and makes a 50-100% CPU load, probably mining bitcoins in background :) Repro:

https://klueq.github.io/?ipfs=https://ipfs.io/ipfs/QmdFgDWRTB4L3Ks87615kSc6yQStXxRTfp1hmYUfDGTeBe/index.js

The dht lookup is made for this file:

[code]

The result (after a long

[2018-11-06 05:14] klueq commented on #267
How can I get a `PeerInfo` object for a peer id that I got over email, for instance? I'd need to do a lookup with `ipfs dht findpeers <peed-id>`, right?

I understand that the p2p send/recv API isn't public and can change at any moment. But for the lack of other options, I'd rather use the undocumented API than try to set up by own WebRTC DataChannel, which would involve complicated signaling, ICE

[2018-11-07 20:01] jacobheun commented on #275
If a lot of dialing is going on that could cause the cpu to drain. You might try setting some connection manager settings, https://github.com/ipfs/js-ipfs#optionsconnectionmanager, to try and reduce the number of peers your connecting to. We do have some backlog items to improve that performance in the future.

The DHT can also be pretty resource intensive. The upcoming work on delegated routing s

[2018-11-08 11:41] jacobheun commented on #267
Yes, if you have just the peer id string you'd need to query the dht. `ipfs dht findpeer` will query the libp2p peer routers. If someone sends you their addresses from `ipfs id` then you could dial those directly.

You really dont need to mess with the internals to do straight sends, but right now a simple method would require creating a custom node with some helper methods and your custom protoco

[2018-11-10 08:47] klueq commented on #275
Why is it so resource intensive, though?

What is delegated routing? Not needing to run DHT seems to contradict the effort to implement it.

[2018-11-11 22:38] jacobheun commented on #274
@vasco-santos I think I've got the issue sorted out, I just need to write some tests to confirm. I'll submit some PRs tomorrow along with some improvements for catching these uncaught errors before we release with 0.24.

[2018-11-12 09:44] alanshaw opened #280 "Error: peer type not recognized"
Seen here: https://ci.ipfs.team/blue/organizations/jenkins/IPFS%2Fjs-ipfs/detail/PR-1704/3/pipeline/55

[code]

[2018-11-12 14:12] jacobheun commented on #280
That is one heck of a call stack! I'm not sure what's happening but my best guess is somehow the address filtering is returning undefined as the address cannot be found. If we attempt to dial with undefined it would return that error.

I'm working on an update to that circuit relay test in js-ipfs, the test is wrong. I'm also looking at improving `get-peer-info` to be more helpful with error respo

[2018-11-12 14:49] blakebyrnes commented on #274
@jacobheun I’m seeing this when you deploy to multiple servers and register the 0.0.0.0 address with the same port.  What I see in the logs is the node trying to dial another peer whose multiaddrs include 127.0.0.1 port 3000 (for example).  It then starts a conversation with itself and realizes it sends back a different peer id (it’s own) than the requested node.  A solution for this one is tricky

[2018-11-12 15:12] achingbrain commented on #274
This sounds like similar to the issue I opened here: https://github.com/libp2p/js-libp2p-floodsub/issues/58

I've worked round the problem by getting each node to listen on unique ports but it'd be great to have a proper solution.

[2018-11-12 15:30] jacobheun commented on #274
@blakebyrnes you are right on the money.

I think updating Switch to return a dial self error for internal addresses with the same port is a good quick fix. I am playing around with some of this already, so I will look at getting a PR for this part.

Transports can advertise internal and external addresses, which makes sense when there are multiple nodes on a box. It might be useful to add an opti

[2018-11-12 15:36] blakebyrnes commented on #274
Cool!  This is the ticket with the external vs listen addresses: #202

Personally, I would love to be able to list the addresses I want to publish to the network vs just listen on.

My use cases are:
- having a static ip on a cloud server (it won't get bound to the box)
- running a node in a docker

There could be others.  But controlling the addresses would be really nice.

I poked around, but co

[2018-11-12 16:15] jacobheun commented on #274
[listener.getAddrs](https://github.com/libp2p/interface-transport#get-listener-addrs) is how the addresses are added to the peer info for the switch. Once listening is done that is called, https://github.com/libp2p/js-libp2p-switch/blob/v0.41.1/src/transport.js#L169.

We could look at passing an option to switch to advertise external only, then modify the `getAddrs` interface to take an externalOn

[2018-11-12 16:45] jacobheun commented on #274
Yes that makes sense. It sounds like #202 would get you what you need correct? I think we could just do that to help alleviate this particular problem as well, in addition to the switch dial update.

[2018-11-12 16:51] blakebyrnes commented on #274
Yep, #202 is exactly what I want/need.  Awesome!!  I think 202 will go a long way to helping libp2p be deployable in a cloud setting.  Or simply with fixed IPs - ie, creating your own bootstrap nodes.

[2018-11-12 17:07] jacobheun commented on #274
Great, yeah I agree that should help improve cloud usability quite a bit.

I submitted a PR for strict filtering of dialables on switch to help with this issue, https://github.com/libp2p/js-libp2p-switch/pull/284. Once we add listen/announce I think we can improve the logic there.

[2018-11-13 14:54] Elvenisboy commented on #262
it is so cool!

[2018-11-14 12:32] #159 closed

[2018-11-14 12:36] diasdavid commented on #120
@jacobheun this is shipped, right?

[2018-11-14 12:49] jacobheun commented on #120
@diasdavid this will ship with [0.24](https://github.com/libp2p/js-libp2p/issues/249). The go-ipfs work is still not complete, but our support will be there in the next release.

[2018-11-14 13:06] diasdavid commented on #130
@pgte any final remarks before closing this one?

[2018-11-15 10:50] jacobheun commented on #275
The DHT is constantly working on behalf of the network, not just your node. You're providing information about the network to other peers, which can include creating new connections. Our goal is to make this as efficient as possible. Nodes in restricted environments such as mobile browsers or IoT devices, probably shouldn't run a DHT.

Delegated routing gives us the ability to use custom peer and

[2018-11-15 18:07] jacobheun commented on #249
Release candidate **0.24.0-rc.3** has been published to npm and can be installed via `npm i libp2p@next`.  If you run into issues, let us know. This should be fully backwards compatible with 0.23.

[2018-11-15 18:29] daviddias commented on #120
@jacobheun what's the go-ipfs work? @Stebalien can you help with this?

[2018-11-15 18:53] jacobheun commented on #120
The outstanding PR in go-ipfs is https://github.com/ipfs/go-ipfs/pull/5565.
Once that is release we can get infra to deploy, https://github.com/ipfs/infrastructure/issues/426.

[2018-11-16 15:22] jacobheun commented on #249
0.24 is out! https://ipfs.io/blog/55-js-libp2p-0-24/

[2018-11-16 15:22] #249 closed

[2018-11-20 17:15] sternhenri commented on #215
Hi everyone,

Checking in on the state of this project. I'm looking into how we might do better measurements in p2p networks... Was wondering if anything had come out of this push in terms of a good topography viz tool or perf viz tool? :)

[2018-11-20 18:38] jacobheun commented on #215
This is still on our Roadmap but we likely won't get to it until next year. https://github.com/libp2p/notes/issues/1 has a good aggregate of the current problem set and options, along with some links to existing tooling.

[2018-11-25 20:09] daviddias commented on #249
@jacobheun @vasco-santos mind following up with https://github.com/Agoric/PlaygroundVat/issues/8 given that the 0.24 released happened? :)

[2018-11-27 11:14] daviddias opened #287 "QUIC in JS for libp2p"
Found out today thanks to @sericaia that there is already a QUIC implementation for Node.js made by @fidm

- https://www.npmjs.com/package/quic
- https://github.com/fidm/quic

Super cool! We should try it out and see if it is interoperable with @marten-seemann go-quic impl and use it in libp2p :)

[2018-11-27 11:18] jacobheun commented on #287
There is also some discussion around implementing QUIC as a native node module, https://github.com/nodejs/node/issues/23064, potentially starting early next year.

[2018-11-28 10:48] sericaia commented on #287
There's also this one https://github.com/rmarx/quicker/tree/draft-15 that is worth taking a look (note that it uses an old Node version)

[2018-12-03 14:28] dirkmc opened #290 "add awaitStart() to API"
I often find myself writing code like this:
[code]
It would be nice if this were part of the API instead (same goes for js-ipfs)

[2018-12-03 14:33] pgte commented on #290
Suggestion:
We could take advantage of allowing idempotent starts like this:

[code]

Example of implementing this in peer-star:
https://github.com/ipfs-shipyard/peer-star-app/blob/master/src/app.js#L26-L70

[2018-12-03 15:02] jacobheun commented on #290
The latest libp2p state machine additions (0.24.0) include idempotent starting and stopping, so you can just do:
[code]

We're looking at the async/await API changes as part of the [async iterator initiative](https://github.com/libp2p/js-libp2p/issues/266).

This would result in an api like @pgte [mentions above](https://github.com/libp2p/js-libp2p/issues/290#issuecomment-443730269).

For async co

[2018-12-03 22:40] hugomrdias opened #291 "error using browser bundle on constructor.name"
- **Version**:
- **Platform**:
- **Subsystem**:

#### Type: Bug

#### Severity: High

#### Description:
I found this error testing the experimental aegir build, still don't know why this happens, minified and un-minified bundles give the same error so it isn't terser (the new uglify) might be babel changing constructor name needs further investigation.
Still using constructor.name should be avoide

[2018-12-04 15:04] #291 closed

[2018-12-10 14:45] alanshaw opened #435 "[switch] Maximum call stack size exceeded"
[code]

[2018-12-10 23:09] dirkmc opened #295 "libp2p doesn't always clean up connections"
I've created a minimal repo with a test case demonstrating an issue with libp2p cleaning up connections:
https://github.com/dirkmc/simultaneous-connection-test

It seems like when a connection is made between two peers, each dialing the other at the same time, libp2p loses track of some of the connections. Consequently, when one of the peers is shut down, only one half of the connection is closed.

[2018-12-10 23:34] parkan commented on #295
@daviddias can you help us route this more appropriately? I think @dirkmc is right to not jump to conclusions as to the exact culprit repository, but I'm concerned that this might get overlooked without direct maintainer attention 😄

[2018-12-11 11:19] jacobheun commented on #295
Thanks for the reproduction case @dirkmc, this is great! This is an issue with `libp2p-switch`. Currently switch keeps track of connections in a hash map with the peerId as the key, which creates this problem. Dialing out is easy to resolve because we know the peerid in advance and can check the existence of the connection. When we receiving an incoming connection, we don't know the peerid until c

[2018-12-13 11:43] jacobheun opened #296 "create `❤️ to the contributors` section"
Replicate what js-ipfs has added in https://github.com/ipfs/js-ipfs/pull/1776

[2018-12-13 19:11] mcollina opened #434 "[switch] Number of Stat objects created"
When running https://github.com/ipfs/benchmarks/blob/master/tests/local-transfer.js:

[code]

That test uses only 2 peers.

I'm seeing around 44 `Stats` object being created, each one with their respective timer. Consider that at best (with libp2p/js-libp2p-switch#289), this means 44 events being fired every 2 seconds (the default). This is a lot of activity happening just to exists.

What is rati

[2018-12-14 16:47] jacobheun commented on #295
@dirkmc this should be resolved in the latest version of `libp2p-switch@0.41.3`. I ran it against your test repo with a clean npm install and the tests are passing. Let me know if you see any issues.

[2018-12-14 19:41] dirkmc commented on #295
@jacobheun yes it works, thanks for the quick work!

[2018-12-14 19:41] #295 closed

[2018-12-17 11:37] jacobheun opened #433 "[switch] Prevent dials when switch is not in state STARTED"
Currently the switch can execute a dial when shutting down. The dialer should check the state of the switch before performing a dial, to ensure we're not attempting to dial when we're not in the `STARTED` state.

[2018-12-17 11:43] jacobheun opened #432 "[switch] Clear dialing queues when switch is shutting down"
Currently when the switch is shutting down the dialing queues are not cleared. When the switch is shutting down we should clear the pending dials queue, and then abort all in progress dials. This will help prevent unwanted behavior when a node is shutting down / "stopped".

Depends on https://github.com/libp2p/interface-transport/issues/43, aborting in progress dials.
Relates to https://github.com

[2018-12-18 09:14] alanshaw commented on #296
This is how I did it for js-ipfs 0.34 - https://gist.github.com/alanshaw/5a2d9465c5a05b201d949551bdb1fcc3

[2018-12-18 18:38] dirkmc opened #299 "Option to specify "outbound connections only" in libp2p.hangUp()"
In peer-base each peer keeps connections open to the peers in its [Dias set](https://github.com/peer-base/peer-base/blob/master/docs/PROTOCOL.md#computing-the-set-of-target-peers). The Dias set membership changes as peers come online and go offline.

For example:
- Peer A has a Dias set that includes Peer B
- Membership changes such that Peer A's Dias set no longer includes Peer B
- Peer A should

[2018-12-18 18:58] noot opened #300 "pubsub.unsubscribe should comply with interface-ipfs-core spec, since it links to it in the docs"
- **Version**: 0.23.1
- **Platform**: Ubuntu 18.04
- **Subsystem**:

Type: Bug
Severity: high
Description:
Cannot unsubscribe from a pubsub topic after subscribing. Following the IPFS core API here: https://github.com/ipfs/interface-ipfs-core/blob/master/SPEC/PUBSUB.md

Steps to reproduce the error:
[code]
This code is from the IPFS core API as well as the libp2p pubsub tutorial.  When running the

[2018-12-19 14:22] jacobheun commented on #299
Accidentally closed this, this request looks good to me. I think adding inbound only hangups via options would be nice to have as well.

[2018-12-19 14:55] jacobheun commented on #299
The core update will need to happen in switch (so maybe it shouldn't have been an easy label, lol). Luckily the recent updates I did for better connection tracking should help with this.

https://github.com/libp2p/js-libp2p-switch/blob/v0.41.3/src/index.js#L176, when iterating over the connections to close we can check their type against the options before closing.

We'll need to store the type on

[2018-12-19 15:00] jacobheun opened #301 "Dont emit peer:disconnect when a connection is still open"
Currently the peer:disconnect event will be fired anytime a muxed connection to a peer is closed, https://github.com/libp2p/js-libp2p/blob/v0.24.3/src/index.js#L85. However, since it's possible to have an outbound and inbound connection to a peer, closing one of those still means we are connected to a that peer. Only when we no longer have a connection to a peer, should we emit the disconnect even

[2018-12-19 15:47] mcollina opened #431 "[switch] Usage of Big.js"
I'm seeing `big.js` show up in flamegraphs. How is that being used? Is it possible to refactor it out?

[2018-12-19 15:57] jacobheun commented on #300
Currently libp2p isn't actually doing anything with the callback, so you're never seeing the results. The unsubscribe is currently synchronous so the callback isn't actually needed, but we should add the callback since we're linking to the interface documents.

The unsubscribe should be happening. If you add an interval based message broadcast you should see it stop after the unsubscribe timeout i

[2018-12-19 21:38] dirkmc commented on #299
Thanks for the detailed response! I have a question:
You said that `once we dial, we should consider that an outgoing connection even if it was originally incoming`. Should we instead have a third type of connection `both`?
I'm thinking of the case where a connection is both incoming and outgoing. If the user asks to hang up the outgoing connection, should we just change the connection's type from

[2018-12-19 22:13] jacobheun commented on #299
It's possible for us to have more than one incoming/outgoing connection per peer, although it will currently try to minimize that. Thinking through this a bit more I don't think changing the type is the right thing to do, because we're changing the nature of that connection and may act on that inappropriately depending on what we're trying to do, such as closing only outgoing or incoming connectio

[2018-12-19 22:35] jacobheun commented on #299
Yes, to the logic flow.

I think adding that could be helpful. Along with the peerInfo we can send a metadata object so that we can more easily add additional information to that in the future.

[2018-12-20 16:15] noot commented on #300
@jacobheun cool, looks like unsubscribe is working. thanks!

[2018-12-20 17:47] jacobheun commented on #299
That code should only run during an outgoing connection. When an incoming connection occurs it's added here https://github.com/libp2p/js-libp2p-switch/blob/v0.41.3/src/connection/manager.js#L183. The incoming connection creates the FSMConnection already muxed, so the upgrading logic never occurs.

Creating the connections is the expensive part of this. Ideally, what we'd like to do in the future i

[2018-12-20 19:40] dirkmc commented on #299
Ah, thanks @jacobheun that makes sense.

As I'm going through updating the tests for this change I've noticed a couple of things:
- When disconnecting we [end the muxer](https://github.com/libp2p/js-libp2p-switch/blob/v0.41.3/src/connection/index.js#L267) which causes it to emit a `close` event, that in turn [calls `close()`](https://github.com/libp2p/js-libp2p-switch/blob/v0.41.3/src/connection/i

[2018-12-21 20:19] dirkmc commented on #299
Fixed by https://github.com/libp2p/js-libp2p-switch/pull/298

[2018-12-26 09:03] sriharrsha commented on #268
I'm on 0.33.1

![error](https://user-images.githubusercontent.com/5179687/50440217-c8f5c500-08ba-11e9-8abc-d5de7f41fe9d.png)

Never used wss1 or wss0 but somewhere the dependency libraries are hardcoded calling these servers.

Any Help?

[2019-01-02 12:30] dirkmc opened #430 "[switch] Refactor TransportManager to avoid storing listeners directly on the Transport object"
TransportManager [stores listeners](https://github.com/libp2p/js-libp2p-switch/blob/master/src/transport.js#L44) on the underlying Transport object itself. This causes strange things to happen if, for example, the Transport implementation extends EventEmitter ([as it does in peer-base](https://github.com/peer-base/peer-base/blob/master/src/transport/app-transport.js#L13)) because EventEmitter has

[2019-01-03 07:31] mseshachalam opened #304 "Fix instructions for libp2p in browser example"
Name: libp2p-in-the-browser
Version: 0.1.0
Node Version: v11.1.0
NPM Version: 6.4.1
Platform: Linux IMCHLT047 4.15.0-43-generic #46-Ubuntu SMP Thu Dec 6 14:45:28 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

#### Severity: Medium

#### Description: when followed the steps from https://github.com/libp2p/js-libp2p/tree/master/examples/libp2p-in-the-browser i get the below error.

#### Error: $ npm start

[2019-01-03 07:41] mseshachalam commented on #304
Doing an npm install in js-libp2p directory solves this.

[2019-01-07 15:59] GregTheGreek commented on #208
Is there any update on this?

[2019-01-07 16:09] jacogr commented on #208
We have basic typings (very, very, very rough linked above), which does the trick for our stuff internally. The discussions elsewhere was that the libp2p JS side will probably go towards flowtype and at that point may look at auto-generation of the `types.d.ts` files if it makes sense.

I cannot comment for the libp2p project if this is something that may be entertained at some point or not.

[2019-01-07 22:07] #304 closed

[2019-01-15 01:27] jacobheun opened #308 "Awesome Endeavor: Libp2p Core Documentation"
One of our goals for this quarter, is to audit the libp2p core modules and ensure the docs and examples are up to date and that they exist; [Q1 2019 OKR](https://docs.google.com/spreadsheets/d/11GKG1DBRIIAiQnHvLD7_IqWxDGsVdaZFpxJM6NWtXe8/edit#gid=1271182838).

The following table will be used to track the status of documentation across the core modules of libp2p. Some modules may have adequate exa

[2019-01-16 09:21] alanshaw opened #309 "Hangs when exchanging files"
Cross posting comment from https://github.com/ipfs/interop/pull/51#issuecomment-454707278 so this can be tracked and fixed.

[2019-01-16 10:44] alanshaw opened #310 "Error: MAC Invalid"
Seen in browser interop tests:

[code]

[2019-01-16 14:24] alanshaw opened #311 "Error swallowed if address in use"
I already have a node running - if I try to start another then the process exits and no error is printed. I have to use `DEBUG` to see the error.

[code]

[2019-01-17 11:55] jacobheun commented on #311
This doesn't appear to be an issue with libp2p, but rather js-ipfs.  I ran the code from js-ipfs master and attempted to spawn the daemon twice. The first run `node ./src/cli/bin.js daemon` worked as expected, but the second run fails silently, but the failure is due to the repo already being locked

[code]

[2019-01-28 11:47] jacobheun opened #312 "Transport Auto Retry Listening"
This has been brought up in several different issues across libp2p and js-ipfs. We need to be able to handle unstable listening of transports, and report that back to consumers of the libp2p api.

## Goals
* Support intermittent availability of listening connections, such as for remote listening.
* Allow for automatic retry of connections when offline.
* Add hooks for developers to check connectiv

[2019-01-30 03:48] mikeal opened #314 "[WIP] First use: feedback"
I’m diving into libp2p for a quick side project and I’m going to write notes up as I go in order to provide some usability feedback.

1. Getting a node up and running requires quite a lot of boiler. Luckily I already wrote
https://github.com/mikeal/libp2p-simple
2. All the API’s only take callbacks so I’m going to end up wrapping a lot of promises around instance methods which are a little annoyin

[2019-01-30 03:54] mikeal commented on #314
4. Unlike most JS API’s the options object of libp2p.contentRouting.findProviders is not actually optional, so if you don’t send at least an empy object as the second argument you get an error.
5. The following code produces an error about the DHT. It’s not clear how to resolve this error.

[code]

produces this error:

[code]

[2019-01-30 04:01] mikeal commented on #314
BTW, `libp2p-simple` is using this libp2p configuration
https://github.com/ipfs/js-ipfs/blob/master/src/core/runtime/libp2p-nodejs.js

[2019-01-30 11:18] jacobheun commented on #314
This is very helpful feedback, thanks for documenting this as you go! I will take a look at these as they come in and create tickets for the individual issues.

[2019-02-01 18:46] jacobheun commented on #300
Resolved by #302 via 679d446daa0b43c5a1d77c8f300b34c32c678022

[2019-02-01 18:46] #300 closed

[2019-02-05 13:56] jacobheun commented on #311
libp2p start/stop not erroring resolved by libp2p/js-libp2p#316 and error swallowing in js-ipfs is slated to be resolved by https://github.com/ipfs/js-ipfs/pull/1860

[2019-02-05 13:56] #311 closed

[2019-02-05 14:37] #296 closed

[2019-02-05 14:45] jacobheun opened #320 "make actionable error messaging when DHT not enabled"
If no content/peer router is running, such as the DHT, and a user attempts to make a content or peer routing request the error is not particularly helpful as detailed at https://github.com/libp2p/js-libp2p/issues/314#issuecomment-458802548.

For errors like this, where the system needs to be added/started via configuration, we should add an actionable message to the error to allow the user to bett

[2019-02-05 15:02] jacobheun commented on #314
@mikeal are you adding multiaddrs to the peerInfo before starting libp2p? I'm thinking that perhaps no transports are listening which could cause the process to shutdown.

[2019-02-06 14:13] JGAntunes commented on #202
Hello! :wave:

Just found this through - https://github.com/ipfs/js-ipfs/issues/1865 - and thought maybe I could help out here?

What's the plan for these addresses vs the ones coming for the `PeerInfo` instance?

[2019-02-06 15:42] jacobheun commented on #202
The go-ipfs docs are a helpful reference here, https://github.com/ipfs/go-ipfs/blob/v0.4.18/docs/config.md#addresses, I think js-ipfs will eventually need to be updated to support `Announce` and `NoAnnounce` once libp2p has support for this.

Here are my thoughts for each piece (with untested pseudo code):
### listen
These addresses will be passed to the transports for listening on startup. Any ex

[2019-02-07 11:00] vasco-santos commented on #320
Having a reference to the `README` seems a cool idea!

[2019-02-13 17:00] vasco-santos opened #323 "node identify multiaddr should not contain ipfs path"
- **Version**: 0.24
- **Platform**: All
- **Subsystem**: Identify

#### Type: Enhancement

#### Severity: Medium

#### Description:

Currently in `js-libp2p`, if we intended to get the peer `multiaddrs`, we must get them from `libp2p.peerInfo.multiaddrs`.

These `multiaddrs` from `peerInfo` contain `/ipfs/<peer-id>` on them, while in `go-libp2p` they do not. Moreover, this part of the multiaddr sh

[2019-02-13 18:43] jacobheun commented on #323
This would probably be good to couple with https://github.com/libp2p/js-libp2p/issues/202

[2019-02-13 21:32] vasco-santos commented on #202
I like the approach suggested by @jacobheun

[2019-02-13 21:33] vasco-santos commented on #323
totally agree, as it will also need changes upstream!

[2019-02-19 15:20] vasco-santos opened #327 "Inconsistency between implementations on connect"
- **Version**: 0.25.0-rc.0
- **Platform**: Mac os
- **Subsystem**: Dial

#### Type: Inconsistency between implementations

#### Severity: Medium

#### Description:

In the context of creating interop tests for guaranteeing that peers implemented in a specific language are able to connect with other nodes, regardless of their implementation language, I found out a different behavior when connecting

[2019-02-25 09:52] robertkiel commented on #142
FYI:
At the moment, I am creating an implementation of an incentivised privacy-preserving onion-encrypted overlay network implementation based on js-libp2p.

The project is called [`hopr`](https://github.com/validitylabs/messagingProtocol). The plan is to present an early implementation of it at EthCC (Ethereum Community Conference) in Paris next week.

There's also a [working group](https://githu

[2019-03-02 03:51] mikeal opened #331 "All APIs that accept Buffer should also support ArrayBuffer"
I’m building a pubsub demo on `js-ipfs` and I’m not using a framework or a compiler to try and keep things simple to understand, but I’m currently blocked on this line
https://github.com/libp2p/js-libp2p/blob/de84ee473c5b095134a20361f0c0a808405083d2/src/pubsub.js#L62

Requiring the Buffer API means that you **must** use a compiler, since Buffer isn’t a browser API and there isn’t a polyfill that w

[2019-03-05 22:44] aphelionz opened #332 "js-ipfs pubsub messaging "works", but not immediately..."
- **Version**: js-ipfs 0.34 dist
- **Platform**: node.js and browser
- **Subsystem**: pubsub

#### Type: Bug

#### Severity: Medium

#### Description:

I'm creating an app where peers need to exchange metadata information upon connecting with each other. I'm thinking pubsub is the right tool for this. The code I've written (summarized below) seems to work intermittently only after minutes of waiti

[2019-03-05 22:46] raulk commented on #332
CC @alanshaw for visibility.

[2019-03-06 11:00] jacobheun opened #429 "[switch] Get peer protocol list at the connection start"
The protocols a peer supports are being added to the `PeerInfo` instance when a muxed connection occurs on dial as of https://github.com/libp2p/js-libp2p-switch/pull/307. The protocol `ls` should be happening at the beginning of the connection, after potential connection privatization, to maximize handshake efficiency for crypto and muxer selection.

Depends on https://github.com/multiformats/js-m

[2019-03-06 15:19] aphelionz commented on #332
It looks like I have some luck with adding a setTimeout to `handlePeerConnected`. I don't love this solution as it's still not 100% reliable, but it's better...

[code]

[2019-03-06 15:50] aphelionz commented on #332
Even more info! I updated the code once more:

[code]

I am testing with a node.js IPFS node and a browser node. If I clear all local storage inside the browser and try to connect to the peer **manually**, that will log something like this. Pubsub _will_ work better, but still not in an acceptably reliable way.

[code]

However, if I refresh the page and run the same code, two things change:

1. T

[2019-03-07 21:23] jacobheun commented on #332
Thanks for the additional info @aphelionz. I'm looking into an issue that I think may be related with how incoming circuit relay peers are handled. I think that's related to what's happening here. The peers discover one another over the circuit relay and connect via it. Then when you refresh, the browser establishes a direct connection with the peer, so you get publishes quickly.

If your goal is

[2019-03-07 22:17] aphelionz commented on #332
Very cool, thank you! I'll give this a shot. I didn't know about this feature of libp2p.

[2019-03-17 20:38] monicanagent opened #338 "PubSub example ends with TypeError on Windows 10 (64-bit)"
- **Version**: 0.25.0-rc.4
- **Platform**: Node.js for Windows 10 / Ubuntu 16.04 LTS (on Windows 10) - 64bit
- **Subsystem**: pubsub

#### Type: Bug

#### Severity: Low

#### Description: The [PubSub example](https://github.com/libp2p/js-libp2p/blob/master/examples/pubsub/1.js) ends with a TypeError:

[code]

#### Steps to reproduce the error:

1. Clone js-libp2p trunk to desktop.
2. In cloned fol

[2019-03-18 11:25] jacobheun commented on #338
It looks like this was introduced in https://github.com/libp2p/js-libp2p/pull/313. The issue with enabling the dht by default is that we don't package a dht module with libp2p. So if the dht is not configured, libp2p errors on startup, which is the case in the pubsub example.

The dht change should probably be reverted. Perhaps an alternative route to enabling it by default would be to add some pr

[2019-03-18 11:35] vasco-santos commented on #338
I think we should keep it enabled by default, taking into consideration that we want people to start using it, in order to allow the implementation to be exposed to a bigger network.

In this way, I think that we should go with the `pre-configured` bundles to libp2p. Do you agree?

[2019-03-18 11:42] jacobheun commented on #338
My thought is to revert it for the 0.25 release, so that it doesn't block the js-ipfs release, as I'd prefer not to rush the bundle work. With it being enabled by default in the upcoming js-ipfs release, if we target the bundles and having it on by default for the next libp2p 0.26 release, we'd get a little more time to talk through the bundle options and still get more dht exposure via ipfs.

[2019-03-18 12:03] vasco-santos commented on #338
All right, that's fine for me! We can go that way then :)

[2019-03-19 14:56] hubertokf opened #340 "Socket hang up when disconnecting one peer connected to another"
- **Version**:
[code]
- **Platform**: Linux core-VirtualBox 4.18.0-16-generic #17~18.04.1-Ubuntu SMP Tue Feb 12 13:35:51 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
- **Subsystem**: -

#### Type: Bug, Question

#### Severity: Medium

#### Description:
Running two instances to discovery each other, when one is closed, the other crashes with error "socket hang up". Events like peer:disconnect does not g

[2019-03-19 18:00] jacobheun commented on #340
Can you do an `npm ls libp2p`? It looks like you are using `libp2p-rpc` which is leveraging an older version of libp2p. Even though you're including newer versions in your dependencies list, `libp2p-rpc` is likely still using the older versions.

[2019-03-20 08:48] overphoenix opened #341 "If I need only an outgoing connection, why libp2p should be start()'ed to listening for incoming connections?"
I think it is worth reconsidering the need to start the node in the case of client-server scenarios, when one node dials another, but the first one (connection initiator side) does not need to be start()-ed.

For example, I need to connect to a public network from private network or if we have two nodes on the same host - first node as server and second node as client. Current implementation consu

[2019-03-20 12:39] hubertokf commented on #340
[code]

Yes, I'm using libp2p-rpc, maybe should I modify something. Do you have a guess of how to fix that? Actually libp2p-rpc has only one file which is a libp2p node constructor.

[2019-03-20 13:49] jacobheun commented on #340
Yeah, 0.12 is quite old and the usage, including the constructor, has changed quite a bit since then. Since it's relatively small it would probably be easiest to just copy and refactor that code into your project.

[2019-03-20 15:26] hubertokf commented on #340
Thanks! I'll try to refractor, then make a pull request.

Thanks for your time!

[2019-03-20 18:32] jacobheun commented on #340
You're welcome. Closing this, if you have further issues feel free to reach out.

[2019-03-20 18:32] #340 closed

[2019-03-21 13:44] jacobheun opened #342 "⚡️ 0.25 RELEASE 🚀"
# 🔦 Highlights

0.25 is already in the imminent [js-ipfs 0.35 release](https://github.com/ipfs/js-ipfs/issues/1826). If you're using js-ipfs, you'll get these changes immediately if you upgrade there!

## ☎️ Auto Dial
Libp2p will now auto dial to discovered peers by default. This can be disabled in configuration if you need to do any specialized dialing. Discovered peers will only be dialed if we

[2019-03-21 16:52] maxveres commented on #341
As I understand, no one is particularly in a hurry to discuss this moment ))

Maybe then I should make a pull request with these changes?

[2019-03-21 18:48] jacobheun commented on #341
I think this is a reasonable thing to allow. The addition of the no dial when offline is quite old, https://github.com/libp2p/js-libp2p/pull/43. I don't have any context to why it was added. While there are scenarios where applications may want to avoid dialing, this is a reasonable check that can be added to the application (js-ipfs does this).

The stats system in libp2p-switch is an example of

[2019-03-26 19:34] grassias commented on #331
So up until now all those APIs that make use of Buffer objects are not available for browser builds? Could the use of a lib like https://github.com/feross/buffer be an appropriate solution?

[2019-03-27 14:52] hubertokf opened #344 "Finding Peer and content"
- **Version**: "^0.24.4"
- **Platform**: Linux core-VirtualBox 4.18.0-16-generic #17~18.04.1-Ubuntu SMP Tue Feb 12 13:35:51 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
- **Subsystem**: libp2p-kad-dht ( ^0.14.9 )

#### Type: Question

#### Severity: High (probably just a wrong idea or a miss code)

#### Description:
This is my scenario:
Got two distinct Networks, conected by a router. Running on [Core

[2019-03-28 13:10] hubertokf commented on #344
I bet my problem is on bootstrapers list

[2019-03-28 13:31] jacobheun opened #345 "RFC: centralize PeerBook.put logic"
Throughout the libp2p modules, especially when peer discovery is involved, modules will often do some combination of adding the peer to the `PeerBook` and/or emitting the `peer` event for discovery.

I'd like to suggest we change the behavior to emit only, and have libp2p process the necessary modifications to the PeerBook. The reason for this, is that by centralizing the decision to update the Pe

[2019-03-28 14:17] IwraStudios opened #346 "Typescript: partial declaration files"
Hey all,

I've recently been experimenting with libp2p in typescript and have created declaration files for libp2p and some related modules. You are free to use these.
https://gist.github.com/IwraStudios/eecd07e060cf49145a974ec160c775ec

I'm posting this here because this is an incomplete declaration for some modules.

Cheers

[2019-03-28 15:18] jacobheun commented on #344
TCP will replace the addresses of `node.peerInfo.multiaddrs` when it starts. So if you wait for the node to start you should be able to get a list of its up to date addresses from there.

These are being added via libp2p-rpc, https://github.com/hubertokf/libp2p-rpc/blob/36ac829628e8193d4e7a140fd387e79e438bf4c3/index.js#L73-L74. Once libp2p starts `node.peerInfo.multiaddrs` will have all of your ad

[2019-04-01 13:36] jacobheun opened #428 "[switch] Connection manager and PeerBook report different numbers of connected peers"
Logging out some stats on a running node, eventually the number of peers reported as connected via the `Connection Manager` and `PeerBook` starts to differ pretty dramatically. In this instance almost 160 peers.

PeerBook has 578 connected peers

The `Connection Manager` connections are taken directly from the `_peers` map in the connection manager. The mapping is updated anytime a muxed connectio

[2019-04-03 06:22] jayarjo commented on #89
Is this still actual? I'd like to familiarize myself with the whole thing on a deeper level and looking for an entry point. I could try to implement this one.

[2019-04-08 10:39] raulk opened #350 "Discuss: "bundling" terminology is confusing"
The term "bundle" in modern Javascript land often implies things like packaging, minification, tree shaking, etc. all of which don't apply in our usage of the term. It evokes Webpack, Parcel, etc. I've received feedback from developers that this is confusing.

Really, what we are trying to recommend is putting libp2p imports and configuration in one file, and exporting it from there. Calling that

[2019-04-08 10:40] raulk commented on #350
cc @mikerah

[2019-04-08 10:41] raulk commented on #350
I actually think it's great to point to real examples of libp2p node configurations like the ones in IPFS. Can we point to other projects too?

[2019-04-08 10:41] raulk commented on #350
Alternatively we may want to bring in those examples into libp2p itself as "blueprints" or something.

[2019-04-08 10:48] jacobheun commented on #350
This is a duplicate of https://github.com/libp2p/js-libp2p/issues/231.

It would be ideal to do a full audit of the readme and language used, including bundling. There is an open issue at https://github.com/libp2p/js-libp2p/issues/237.

[2019-04-08 11:05] raulk commented on #350
@jacobheun gotcha, let's dislodge all this stuff! Should we create a `dx` label and group all these tasks and discussions so we can address them ASAP?

[2019-04-08 11:18] jacobheun commented on #350
@raulk yes, let's group them at https://github.com/libp2p/js-libp2p/issues/308 which is to track the OKR around improved docs and examples. I'll comment there with links to each of the issues for `js-libp2p` itself and tag each of those with the new label.

[2019-04-08 11:21] jacobheun commented on #308
Module: **js-libp2p**
Related Issues: https://github.com/libp2p/js-libp2p/issues/231, https://github.com/libp2p/js-libp2p/issues/237, https://github.com/libp2p/js-libp2p/issues/350

For js-libp2p we need to audit, improve and standardize on our language. Once we've done that we should ensure, as a part of this effort, that the other libp2p modules conform to that.

[2019-04-08 13:56] yusefnapora commented on #350
I agree that this is a confusing bit of terminology -  we should either publish common "bundles" as npm packages, or just get rid of the term entirely and refer to "configuring libp2p" instead as suggested [here](https://github.com/libp2p/js-libp2p/issues/231#issuecomment-410865609).

[2019-04-10 03:31] Mikerah commented on #350
I actually just got into this very issue a few days ago. I used the word __bundle__ in the same paragraph both in the JS sense and libp2p sense. A suggestion I have would just to refer to them as libp2p modules or libp2p configurations.

[2019-04-10 18:23] jacobheun opened #412 "[conn-manager] Tests: add support for browser testing"
Currently all of the tests use `libp2p-tcp` as the only transport, which doesn't work in the browser. We should add support for a browser configuration of libp2p for those tests so we can properly run them

[2019-04-12 12:42] jacobheun commented on #89
Having bridges for native transport and peer discovery support would be great, there still currently isn't any. While there are jvm and swift implementations of libp2p in early phases, there would still need to be bridges built for things like Cordova / React Native.

In theory we should be able to use websockets to run things in a browser build, although I don't believe that's been tested in Cord

[2019-04-12 14:12] jacobheun commented on #342
It's on npm https://www.npmjs.com/package/libp2p/v/0.25.0 🎉.

[2019-04-14 07:25] #342 closed

[2019-04-15 10:30] jacobheun opened #356 "Dont discover self"
Original issue: https://github.com/libp2p/js-libp2p-switch/issues/331.

On peer discovery, if the peer happens to be us, we should avoid adding ourselves to the PeerBook and emitting a `peer:discovery` event.

[2019-04-15 11:17] jacobheun opened #427 "[switch] Identify should replace peer addresses"
Replicated from go, https://github.com/libp2p/go-libp2p/issues/579.

We currently do an additive `PeerBook.put()` on identify, https://github.com/libp2p/js-libp2p-switch/blob/v0.42.9/src/connection/manager.js#L201. We should replace the addresses we have for the peer as they may be out of date.

It may be better to simply use the replace logic of `PeerBook.put()` to do this, `PeerBook.put(peerInfo

[2019-04-15 12:41] mkg20001 commented on #356
Additionally maybe log a warning like "WARN: Discovery module $NAME caused this peer to discover itself. This is a bug and should be reported at $URL" (url could be read from package.json, as npmjs.com currently does)
The warning should be shown just once. possibly also print a line to debug log everytime this happens so user knows how frequently this is occurring

[2019-04-15 12:49] jacobheun commented on #356
While I think this is valuable I think having the warning code always be present might be unncessary. I think if we log an error we'll at least have the stack trace of where it came from and the frequency it happens.  Additionally I think the right thing to do would be to add self discovery tests to https://github.com/libp2p/interface-peer-discovery (along with the other tests it should have), and

[2019-04-15 13:03] mkg20001 commented on #356
@jacobheun Tests sound great, should also be mandatory. About log: Put it in debug log. That should be enough, so developers know it's happening and can report bugs

[2019-04-15 13:14] jacobheun commented on #356
I added the error to debug for `libp2p:error` in https://github.com/libp2p/js-libp2p/pull/357.

I'll create an issue over at interface-discovery to track this.

[2019-04-16 10:05] #356 closed

[2019-04-17 09:08] jacobheun opened #420 "[circuit-relay] ipfs/interop: MAC invalid"
Occasionally when running the github.com/ipfs/interop tests, an error will occur `Error: MAC Invalid`. The error is likely coming from SECIO, https://github.com/libp2p/js-libp2p-secio/blob/v0.11.1/src/etm.js#L57, via the unbox stream. Initial thought is that this may be due to an issue with receiving a message from the relay or destination peer when we expected it from the other. Our streams may b

[2019-04-18 15:45] jacobheun commented on #208
I'm not opposed to including the TypeScript bindings in each of the libp2p projects, my main concern is ensuring they are kept up to date and automatically verifiable. I have not spent much time with TypeScript as of yet to understand how we could go about making sure these are always accurate.

What tests can we run on CI to ensure these are up to date?
What support is there to autogenerate types

[2019-04-19 01:30] Mikerah commented on #208
There are several options. The one I'm currently using is to use [Polkadot-js's type definitions for libp2p](https://github.com/polkadot-js/ts/tree/master/types/libp2p). For odd reasons, I am having difficulties with this. The other option is to provide accurate JSDocs for all js-libp2p code and generate typescript definition files from those. I found this [package](https://www.npmjs.com/package/t

[2019-04-19 13:28] jacobheun commented on #208
Not sure if it's contributing but the recent version of libp2p includes changes that aren't yet reflected there. This is one of the things I'd like to be able to avoid if we include the definitions in the modules.

We're working on improving JSDocs across libp2p and it's easy enough for us to keep those up to date. Being able to generate from JSDocs could be a reasonable path to getting support ad

[2019-04-28 21:14] guysv opened #361 "Suggestion: circuit-relay-like module, but for negotiating WebRTC"
So, the best part of circuit-relay, is the fact that it allows to connect nodes where neither can listen for incoming connections.

Unfortunately, running a circuit-relay HOP node is expensive, and by default HOP is turned off.

**tl;dr**: I hacked js-libp2p-circuit into negotiating WebRTC signals using newly relayed connections, and establish a direct connection between unconnected peers using a

[2019-04-29 09:56] jacobheun commented on #361
There is a WIP by @mkg20001 to convert webrtc-star to a distributed architecture at https://github.com/libp2p/js-libp2p-webrtc-star/pull/148. It's currently blocked by some needed work on libp2p-crypto https://github.com/libp2p/js-libp2p-crypto/pull/125.

[2019-04-30 22:51] guysv commented on #361
@mkg20001 , I see you are already one year deep in this.
I crawled through your work and slides, and I did not figure out what extra benefits do we get from randevous-exchange if we can tunnel direct-exchange over libp2p-circuit as seen in slide 6. (and demo'ed by my PoC, sort of).

[2019-05-01 11:54] mkg20001 commented on #361
@guysv The extra benefit isn't really for upgrading but for esablisihng webrtc connections between browsers. If two browsers are connected to the same bootstrap node that also runs the rendezvous-exchange, then they can connect with each other over webrtc using this method. It intents to be a better replacement for the current socket.io based signaling server, since server selection and discovery

[2019-05-01 17:00] guysv commented on #361
@mkg20001 But we already have a way to communicate over mutual peer, circuit relay. Why not reuse it instead? Especially concidering the fact the the implementation of request-response API as you are trying to create with randevouz-exchange is facing a blocking issue involving crypto incompetability?

Regarding WebRTC integration, the only benefit I see randevouz-exchange has over circuit relay is

[2019-05-01 17:05] mkg20001 commented on #361
@guysv

Establishing a p2p-circuit connection takes resources and isn't of much use considering we are going to toss that circuit connection once we connect via webrtc anyways.
Rendezvous exchange prevents high resource usage by not establishing a new connection but instead using the PeerIDs to securely pass data back and forth.
Basically it takes the destination peers public key (it can ask for i

[2019-05-01 17:10] guysv commented on #361
If the connection has low traffic, why aren't the needed resources low too?

[2019-05-01 17:39] mkg20001 commented on #361
SECIO takes a few network roundtrips to establish a connection, and also it seems that the browser uses a pretty inefficient way of encrypting the stream (the WebCrypto api has no way to encrypt a stream directly, every buffer must be encrypted separately)

Rendezvous exchange reuses the existing connection with the bootstrap server and sends just a single request and a single response packet (unl

[2019-05-01 21:06] guysv commented on #361
I see your point, thats indeed a better idea. I saw that you plan on using native JS crypto, how does that compare to WebCrypto in terms of performence?

[2019-05-02 13:14] agentofuser commented on #104
Hi! Is this on the table for Q2? It would be really nice to have for [ipfs-deploy](https://github.com/agentofuser/ipfs-deploy).

[2019-05-02 15:33] jacobheun commented on #104
Yes. This is on my list for the quarter and I am hoping to tackle this as well as https://github.com/libp2p/js-libp2p/issues/202 to help node addressing.

[2019-05-02 18:18] mkg20001 commented on #361
@guysv Well, I sort of "had no other choice", as webcrypto PKCS-v1 encryption support seems broken, so I had to go with `node-forge`, though only for the encryption part. Feel free, though, to contribute here https://github.com/libp2p/js-libp2p-crypto/pull/125 if you have a good solution in mind

[2019-05-02 19:52] guysv commented on #361
You know, I gave my solution another thought
We could modify circuit into transporting arbitrary data prior to SECIO handshake, and hence being more lightweight. We then use that to move around WebRTC signal, and cut on the said double connection handshake.

Which brings me to the other question, you could cut the crypto, and release randevouz-exchange in no time, this will be sufficient for WebRT

[2019-05-02 20:16] mkg20001 commented on #361
Modularity. My solution focused on having both an rendezvous exchange transport and a direct exchange transport, with the ability to swap them for one another or pick the best dynamically.

In the roadmap (see slide) support for a tiny "router" module that would pick the "best" based on path cost (direct is faster then rendezvous) was mentioned.

[2019-05-03 16:50] guysv commented on #361
Well i get that polymorphic approach, but I think that if you ran into troubles doing the crypto, why not postponing to a future iteration? (For the record, I tried to dive in, but I don't see myself qualified to take crypto decisions) Decentralized WebRTC transport is a game changer for libp2p web apps and should be ready ASAP.

On another topic, On the roadmap you mentioned:

Is there an effort

[2019-05-03 18:25] mkg20001 commented on #361
Because I thought I could solve it. Then, when I realized I couldn't, I asked for some help. But no one took on the task https://github.com/libp2p/js-libp2p-crypto/pull/125. Also when I asked for a re-review after giving some clarifications on the PR, nobody looked at it. So I deemed the whole endeavor unnecessary. Well, until now https://github.com/libp2p/js-libp2p-webrtc-star/pull/148#issuecomme

[2019-05-07 22:02] guysv commented on #361
@jacobheun @mkg20001 So for conclusion, libp2p/js-libp2p-webrtc-star#148 is waiting for the integration of [mkg20001/interface-data-exchange](https://github.com/mkg20001/interface-data-exchange) into libp2p, but that won't happen until libp2p/js-libp2p-crypto#125 is resolved even though libp2p/js-libp2p-webrtc-star#148 does not need [mkg20001/interface-data-exchange](https://github.com/mkg20001/in

[2019-05-07 22:17] guysv commented on #361
Just found out i'm not even the first one to try my approach: [dryajov/js-libp2p-webrtc-circuit](https://github.com/dryajov/js-libp2p-webrtc-circuit) I really think we should work out interface-data-exchange integration into libp2p before figuring out how to secure it.

[2019-05-09 09:15] jacobheun commented on #361
@guysv would you have time to work on that? I'll work on getting crypto unblocked, but it's likely I won't get time to work on that myself until next quarter. If we get the majority of the work complete, we could add in the crypto update before doing a release into something like js-ipfs.

[2019-05-10 09:11] guysv commented on #361
@jacobheun  Sure!

There is still an open question about how to include the new WebRTC transport into the libp2p bundle.
Because the WebRTC transport will rely on already connected peers we are required to have the swarm object around. Right now libp2p/js-libp2p-webrtc-star#148 delegates the problem to whoever [creates the WebRTC transport](https://github.com/libp2p/js-libp2p-webrtc-star/blob/3cb9

[2019-05-10 09:45] jacobheun commented on #361
I think something we can do as an intermediary step is to pass `libp2p` itself to the options of the transport, as this wouldn't break compatability. `interface-transport` specifies that a transport should take `options` in its constructor, so doing `new T({ libp2p: libp2p })` should be fine. We could just pass the switch, but I think there is value in passing all of libp2p, as this method could a

[2019-05-12 17:30] guysv commented on #361
I got it, looks something like this:

[code]

[2019-05-12 20:07] guysv commented on #361
@jacobheun hey, got a working demo, found here https://github.com/guysv/js-libp2p-webrtc-star-demo
I patched some repos to get it to work, you can follow the package.json

there's quite some work left, but it looks good so far.

[2019-05-15 12:57] jacobheun commented on #361
Added a note, https://github.com/guysv/js-libp2p-webrtc-star-demo/commit/48c274bc1cf8e172f59342fbfb2bdb5b53ecb602#r33546307, about an issue with the demo I saw and a potential improvement for the demo as work gets finished up.

[2019-05-17 08:36] jacobheun commented on #301
The latest switch handles this in it's updated connection tracking logic, https://github.com/libp2p/js-libp2p-switch/blob/v0.42.11/src/connection/manager.js#L86.

[2019-05-17 08:36] #301 closed

[2019-05-23 06:59] daviddias opened #364 "libp2p-in-browser Example is not working"
See the published version at https://github.com/libp2p/js-libp2p/tree/master/examples/libp2p-in-the-browser. It throws

<img width="1149" alt="image" src="https://user-images.githubusercontent.com/1211152/58232132-03b03c00-7d39-11e9-9468-c96a6792b17b.png">

[2019-05-23 08:06] jacobheun commented on #364
We are doing some libp2p infrastructure inventory and it looks like the webrtc signaling server wasn't clearly documented. We'll work on getting that back up and documented appropriately.

[2019-05-23 21:05] jacobheun commented on #364
The server is back up. I ran the example and everything is running as expected.

[2019-05-23 21:05] #364 closed

[2019-05-24 09:23] daviddias commented on #364
Thank you @jacobheun :D

[2019-05-27 12:26] sigma67 commented on #31
fyi, this project has migrated to https://gitlab.com/deadcanaries/kadence

[2019-05-30 20:51] jacobheun opened #426 "[switch] Have dial backoffs be multiaddr specific instead of peer specific"
Currently when we are not able to dial a peer we blacklist the peer with an exponential backoff. Really we should be backing off on multiaddrs. It's very possible that we can learn new, dialable multiaddrs for a peer after they've been blacklisted and we should be able to immediately attempt those dials.

Context: https://github.com/ipfs/interop/pull/70#issuecomment-497475187

[2019-05-31 21:07] JustMaier commented on #345
I'm still trying to grapple how everything works in libp2p, but the duplicate/infinite `peer:discovery` events were confusing and I thought for sure I was doing something wrong. If I'm reading this correctly though, it sounds like it's just a flaw in the current design.

Recently, @raulk's proposed a [peerstore v2](https://github.com/libp2p/specs/issues/164) (which I'm assuming is synonymous with

[2019-06-03 07:51] thanusreemohan opened #366 "issue with communicating over internet. Can libp2p provide communication over nodes located across internet"
- **Version**:
- **Platform**:
- **Subsystem**:

#### Type:

#### Severity:

#### Description:

#### Steps to reproduce the error:

[2019-06-03 07:53] thanusreemohan commented on #366
I am trying to connect nodes across the internet using LibP2p.
Does libp2p allow communication over the internet for nodes located behind the phone internet (wifi).

[2019-06-03 09:25] jacobheun commented on #345
@JustMaier yes I think this approach is the right way to go and fits in nicely with v2 of the peer store. One side effect of removing the duplicate events that we'll need to account for is that currently it also gives us peer redialing. For example, if we are leveraging Bootstrap peers and are below are peer threshold, if we get disconnected the duplicate event will cause us to reconnect. The curr

[2019-06-03 09:54] jacobheun commented on #366
The libp2p forums are a better place to ask general libp2p questions like this, https://discuss.libp2p.io.

Yes, libp2p does allow this through various things. We're working on improving NAT traversal in JS but current available options include using Relays and transports like https://github.com/libp2p/js-libp2p-webrtc-star that have built in hole punching. If you're looking to run a node longer t

[2019-06-03 15:25] KrishnaPG commented on #220
Wondering if this has been addressed. Looking for the same: an example on DHT in browser.

[2019-06-03 18:02] JustMaier commented on #345
Seems like there could be a lot of overlap between v2 peerstore and connection manager. Both would be playing a role in network maintenance, connection manager focused on resource allocation and peerstore on connection quality/confidence. After reading more about the connection manager, I wonder if peerstore really just needs to remain as storage with a few changes around what it stores, how it st

[2019-06-04 07:50] jacobheun commented on #345
Yes, this is what we currently do internally with the [`maybeConnect` method](https://github.com/libp2p/js-libp2p/blob/v0.25.3/src/index.js#L501) if autoDial is enabled (it is by default). If you're disabling autoDial to control your own dialing logic this is a reasonable approach to do that.

[2019-06-10 05:07] thanusreemohan commented on #366
Thanks so as i understand with the current setup in webrtc-star the home networks (phone internet wifi) cannot communicate with each other. Once NAT manager is rolled out this would be addressed ?

[2019-06-10 05:57] jacobheun commented on #366
To a degree, with hole punching, but that's not 100% effective. We're working on improving this as much as we can with various techniques, but looking into updating your routers configuration to forward ports for your application is a more immediate and effective approach.

[2019-06-10 15:30] jacobheun opened #369 "Add support for configuring priority peers (connection tagging)"
This is a component of connection tagging. Libp2p should support configuring/tagging specific peers/multiaddrs as priority connections. The goal here is to have connections that the Connection Manager does not kill, and that we try to maintain connections too. If connections are killed, libp2p should attempt to automatically reconnect to them.

An example of this is an IPFS browser node setting a

[2019-06-11 07:16] thanusreemohan commented on #366
Thank you! when can we expect NAT manager rollout in nodeJS or GO language?

[2019-06-11 11:30] jacobheun commented on #366
Go has some NAT Traversal support already. NAT traversal in JS is higher on my priority list. I'm hoping to get some dedicated time next month to work on it and the AutoNAT protocol (automatic nat discovery and address announcing via connected peers) in JS.

[2019-06-12 12:09] jacobheun commented on #369
@vasco-santos @dirkmc I've written down some thoughts around this. It also made me think more about how service configuration works currently and how it can improve, but I've left that out of these notes. I'll look at writing more about that soon and posting a new issue.

# Peer Management

## Prioritizing Peers
Libp2p needs to be able to identify peers that it deems as priority connections, to en

[2019-06-12 13:34] dirkmc commented on #369
This sounds like a good improvement to connection management 👍

Ideally connections would be prioritized by the service the remote peer provides, and there would be a mechanism to discover which peers provide a particular service, so that the configuration doesn't need to be hard-coded (eg discovery could be through bootstrap nodes or a rendezvous service).

A less flexible but simpler approach wo

[2019-06-12 13:53] jacobheun commented on #369
Yeah, we really don't want to stay connected to them unless we're below our min peers watermark, as they're primarily just an entry point workaround to join the network. We currently have this behavior for all discovered peers with auto dial. If we're above the min peers watermark we stop auto dialing, but below it we do.

I think the progression of a node would ideally look something like:
1. Boo

[2019-06-18 10:29] vasco-santos commented on #369
@jacobheun thanks for putting this together!

I like your proposal and I think that this is definitely the way to go 🚀

I would introduce a `keepAlive` tag for keeping the connection, and the `priority` would be used for the priority to start a connection and for pruning. Let me know what you think?

This suggestion also makes me think if that should be an array of tags, or properties. I was more

[2019-06-20 03:54] jeshocarmel commented on #230
Hi @threejeez  any solution you found? I'm having the same issue as well

[2019-06-20 17:44] threejeez commented on #230
Yeah, sort of. The machine you're running in has to have an public facing IP and you need to pass that IP into your application on the command line and tell libp2p to use it. Here's the go code we wrote to accomplish that:

[code]

`bindIP` is basically always `0.0.0.0`.
`broadcastIP` is the public IP of the EC2 host passed from the CLI. This is what the node will tell to peers about how to connec

[2019-06-21 11:02] vasco-santos opened #419 "[identify] Add support for identify/delta"
In the context of [libp2p/specs#176](https://github.com/libp2p/specs/pull/176), support for `identify/delta` needs to be added.

Note: there is also a draft PR for adding support for `identify/push` [libp2p/js-libp2p-identify#53](https://github.com/libp2p/js-libp2p-identify/pull/53)

[2019-06-25 16:40] #230 closed

[2019-06-28 06:15] dzmitryafanasenka opened #372 "Share known peers between network"
#### Type:

#### Severity:
Medium

#### Description:
Hello. Could I share known peers between the network in some way?

N3 connect to N2.

N2 connect to N1.

After all connection, I can run `node.stats.peers()` command:
N1 will print only N2 ID
N2 will print N1 and N3 IDs.

In my case, I want to have that N1 know about N2 and N3. So, N2 should share all know peers to N1.

 Code N1

    const libp2

[2019-06-28 11:54] tobowers opened #373 "JS and Go cannot connect when using non-RSA keys"
- **Version**: JS: 0.25.4, GO: 0.2.0
- **Platform**: JS & GO interplay
- **Subsystem**: Just connection, so I suppose Swarm?

#### Type: Bug

#### Severity: High

#### Description:

See description here: https://discuss.libp2p.io/t/browser-go-bootstrap-and-connect/175 .

Javascript and GO cannot connect over websockets when using non-RSA keys.

#### Steps to reproduce the error:
I'm sorry to not h