[2021-01-15 09:23] #756 closed

[2021-01-20 01:11] julien51 commented on #838
Hello! Interestingly enough I have exactly need :) Using `MediaStream` through the libp2p connection would be much better than using the libp2p connection to pass around some signaling to open a new SimplePeer :)

[2021-01-21 15:28] vasco-santos commented on #857
I did a PoC with pubsub for the integration testing proposal. There is also one point in https://github.com/libp2p/js-libp2p-interfaces/pull/81 description that would be good to consider. Shortly, interface tests should receive an instance of libp2p instead of an instance of the module?

@achingbrain @hugomrdias what do you think about this testing structure?

[2021-01-22 10:58] vasco-santos commented on #796
This is now fixed with `libp2p-websockets@0.15`

[2021-01-22 10:58] #796 closed

[2021-01-22 11:01] vasco-santos commented on #345
This should be done with the changes in PeerStore over the last year.

[2021-01-22 11:01] #345 closed

[2021-01-22 11:01] vasco-santos commented on #428
This should not be a problem anymore as only the connectionManager stores connections now.

[2021-01-22 11:01] #428 closed

[2021-01-22 11:02] vasco-santos commented on #427
This is already implemented with the PeerStore implementation.

[2021-01-22 11:02] #427 closed

[2021-01-25 03:32] HexaField commented on #838
Would a potential solution include exposing the raw connection internally, such that libp2p modules can access it and provide functionality that way? My thoughts are to have a `libp2p-media-streams` module which registers itself to the upgrader and is then able to receive raw connections. This way raw connections are not exposed to the application layer, but modules are still able to handle extra

[2021-01-25 13:01] jacobheun commented on #838
I think the simplest solution here is to indeed just expose the raw connection. Right now that's hidden in the `Connection` interface, but if we expose the underlying `MultiaddrConnection` you can then access the raw connection and should be able to set up media streams that way. Raw connections may have pretty different behavior based on the type (webrtc/bluetooth/tcp/etc), but that would at leas

[2021-01-26 12:32] robertkiel opened #870 "NAT Traversal with hopr-connect"
- **Version**: libp2p@0.30
- **Platform**: Linux / OSX / Windows
- **Subsystem**: Debian 10 / Big Sur / WSL2

#### Type: Enhancement

#### Severity: Low

#### Description:

At [HOPR](https://hoprnet.org), we're building a decentralized and incentivized mixnet. We decided to use (and support) libp2p. During the last months, we've created an alternative transport module called [HoprConnect](https://

[2021-01-27 16:55] lacker opened #871 "Code in "Peer Discovery" section of Getting Started does not work"
Version: 0.30.2
Platform: Linux 4.15.0-132-generic #136-Ubuntu SMP Tue Jan 12 14:58:42 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
Node 10.23.1

#### Type:
Bug

#### Severity:
High

#### Steps to reproduce the error:
Run exactly the code provided in the "Peer Discovery" section of the Getting Started guide:
https://github.com/libp2p/js-libp2p/blob/master/doc/GETTING_STARTED.md#peer-discovery
Observe a

[2021-01-27 17:41] vasco-santos commented on #871
Hey @lacker

Thanks for creating this issue. So yes, the addresses provided are mock addresses. It would probably make sense to change them to real production machines to avoid running into errors when that happens.

Would you like to submit a PR to update them according the multiaddrs used in the peer-discovery example?

[2021-01-27 17:46] lacker commented on #871
The addresses look like they are two of the addresses included in the peer-discovery example, though, they don't look like mock addresses.

In the "Getting started" there is:

[code]

And in the "discovery mechanisms" example it uses:

[code]

[2021-01-27 17:55] vasco-santos commented on #871
@lacker yes you are right, I confused them. I will try locally the example

[2021-01-27 17:58] vasco-santos commented on #871
I just tried it out and there is one issue with the discovery handler as we changed it recently, but sadly we missed updating this doc.

[code]

Other than that, the code needs to be wrapped with an async function. Not sure if this was also the problem as the connected log was working for me. Let me know your thoughts

[2021-01-28 08:29] raphael10-collab opened #873 "In an electron app just importing libp2p in main.ts causes "self is not defined""
In in electron app just importing libp2p in main.ts :

    const Libp2p = require('libp2p');

causes this error:

    A JavaScript error occurred in the main process
    Uncaught Exception:
    ReferenceError: self is not defined
        at Object../node_modules/multihashing-async/src/sha.browser.js (/home/marco/webMatters/electronMatters/OnlyLibp2p
    /.webpack/main/index.js:34203:16)
        at

[2021-01-28 09:34] vasco-santos commented on #873
This is related to the electron app using the browser implementation of `multihashing-async` https://github.com/multiformats/js-multihashing-async/blob/master/src/sha.browser.js

@hugomrdias can I have your input here?

[2021-01-28 09:40] hugomrdias commented on #873
@raphael10-collab why are you bundling your main with renderer target?

[2021-01-28 09:47] raphael10-collab commented on #873
@hugomrdias in a renderer process I cannot use require. This is why I tried `const Libp2p = require('libp2p');`
in main.ts.

Please just tell me how to proceed, and I will be happy to close the issue

[2021-01-28 09:57] raphael10-collab commented on #873
Using import instead of require in the renderer process resolve the issue:

    import Libp2p from 'libp2p';
    import KadDHT from 'libp2p-kad-dht';

[2021-01-28 10:58] raphael10-collab commented on #873
@hugomrdias
Following the "libp2p in the browser" example: https://github.com/libp2p/js-libp2p/blob/master/examples/libp2p-in-the-browser/index.js

I'm getting the "require is not defined" error.

In the renderer : /src/app/components/App.tsx :

    import Libp2p from 'libp2p'
    import Websockets from 'libp2p-websockets'
    import WebRTCStar from 'libp2p-webrtc-star'
    import { NOISE } from '

[2021-01-28 12:00] hugomrdias commented on #873
@raphael10-collab
Renderer:
you need to either enable `nodeIntegration` or change the webpack renderer config target to `web`
Main:
i can't replicate your error you should check your webpack config because its trying to load browser files.
tried a clean electron-forge webpack setup and both require and import work.

@vasco-santos
two issues i found with electron-forge setup:
- we should see if we

[2021-01-28 12:26] raphael10-collab commented on #873
@hugomrdias For security reasons I must keep nodeIntegration disabled.

Even if it seems that for Electron apps the webpack renderer config target should be 'electron-renderer' :
    https://webpack.js.org/configuration/target/
 I tried to set it as 'web'  in /tools/webpack/webpack.renderer.js

But again, these lines in /src/app/components/App.tsx

    const createNode = async () => {
      const

[2021-01-28 12:31] hugomrdias commented on #873
i just used this https://www.electronforge.io/templates/webpack-template

that error is a TS error and its telling you that you are missing some properties, add those options to the config and it will go way.

[2021-01-28 12:37] vasco-santos commented on #873
@raphael10-collab  it seems that there is a bug in the types as the `PeerId` should not be required. I will soon look into that. The modules are mandatory though. Please look into https://github.com/libp2p/js-libp2p/blob/master/doc/GETTING_STARTED.md

For now, you can be unblocked by creating the PeerId.

[code]

[2021-01-28 13:11] vasco-santos opened #874 "Electron forge setup problems"
For better visibility.

---

by @hugomrdias in #873

two issues i found with electron-forge setup:

- we should see if we can make libp2p work without node integration or webpack target: 'web' probably not but might be possible
  - with the default target events is being marked as external by webpack and its still webpack 4
- libp2p-noise doesnt work with electron-forge default webpack template be

[2021-01-28 14:15] raphael10-collab commented on #873
Using as reference the webpack configuration that comes out from here:
  my-new-app: https://www.electronforge.io/templates/webpack-template  ,

I tried to comment the parts of the webpack config which are not present in my-new-app:

- webpack.main.js  :

  Commenting this extra part:

      //resolve: {
        //extensions: ['.js', '.ts', '.jsx', '.tsx', '.css', '.json'],
        //alias: requir

[2021-01-28 14:20] vasco-santos commented on #873
@raphael10-collab have you seen my previous comment? Did you update the config to have all its required properties?

[2021-01-28 15:48] vasco-santos commented on #873
FYI the `peer-id` being required by the types is not an issue anymore. You just need to provide the required modules as you can see in the Getting started document or API document.

Closing this issue, feel free to re-open if this is still a problem

[2021-01-28 17:42] raphael10-collab commented on #873
@vasco-santos I realized that without `target: 'web'` in webpack.renderer.js I get the error:

    'require is not defined'

![image](https://user-images.githubusercontent.com/70313067/106177092-6279ba00-6198-11eb-9c75-36d0ec49bfdd.png)

Is there a specific reason why for libp2p the target in webpack.renderer.js has to be set as 'web'?

[2021-01-28 20:59] lacker commented on #871
It seems part fixed. Now when I run the code you provide here, it "discovers" peers but never "connects" to any.

[code]

Is that the intended behavior?

[2021-01-29 09:34] vasco-santos commented on #871
No it is not. This is strange, can you run https://github.com/libp2p/js-libp2p/tree/master/examples/discovery-mechanisms (example 1) ?

[2021-01-29 09:40] vasco-santos commented on #873
There are two possibilities here. Or you need to enable nodeIntegration or use target to web, in order to properly create your build.

[2021-01-29 09:40] #873 closed

[2021-01-29 10:59] vasco-santos commented on #870
Hey @robertkiel

Thanks for reaching out! I had a look at HOPR and it seems super useful, really glad that you are working on this.

Regarding `HoprConnect`, I think that it could  be useful for the broader community of libp2p and we would love to add it to our [list](https://github.com/libp2p/js-libp2p#packages) of supported Transports once it is ready. Let me know if you would like that and when

[2021-01-29 12:37] raphael10-collab opened #876 "Property 'autoDial' is missing in type '{ [x: number]: { enabled: true; list: string[]; }; }' but required in type 'PeerDiscoveryOptions'"
In an Electron-Typescript-React app I'm getting this error:

    ERROR in src/app/components/App.tsx:29:7
    TS2741: Property 'autoDial' is missing in type '{ [x: number]: { enabled: true; list: string[]; }; }' but required in type
    'PeerDiscoveryOptions'.
        27 |
        28 |     config: {

           |       ^^^^^^^^^^^^^
        30 |         // The `tag` property will be searched when

[2021-01-29 13:15] vasco-santos commented on #876
Thanks for reporting this issue. I will merge a fix soon and you will be able to update libp2p and get it fixed

[2021-01-29 13:32] #876 closed

[2021-01-29 13:42] vasco-santos commented on #876
Shipped new libp2p release @raphael10-collab

[2021-01-29 16:25] raphael10-collab opened #879 "Expected 2 arguments, but got 5. libp2p.connectionManager.on('peer:connect', (connection)"
In an Electron-Typescript-React app I'm getting these errors:

    TS2554: Expected 2 arguments, but got 5.
        62 |
        63 |   // Listen for new connections to peers

           |   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

           | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

           | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

[2021-01-29 16:37] vasco-santos commented on #879
Do you have any repository I can try this out? I cannot replicate this in my local libp2p typescript local project.

`libp2p.connectionManager.on('peer:connect', () => {})` this only have 2 arguments, not 5. The error looks strange.

Regarding ` window.libp2p = libp2p;` it fails because window as no libp2p as the error mentions. You will need to add a ts ignore comment on this to go around the iss

[2021-01-29 16:59] raphael10-collab commented on #879
@vasco-santos I've put the simple repo here: https://github.com/raphael10-collab/Libp2pPlaying

Just git clone it ----> yarn ---> yarn start

[2021-01-29 17:09] vasco-santos commented on #879
There is an issue in the code, more precisely:

[code]

Should be

[code]

This is basically making all further lines part of this function

[2021-01-29 17:15] raphael10-collab commented on #879
@vasco-santos Solved. It was my mistake.

Thank you very much for your kind support

[2021-01-29 17:15] #879 closed

[2021-01-29 17:15] lacker commented on #871
When I run that code it connects to just one of the nodes.

[code]

When I look at the logs there is a suspicious error that occurs many times while trying to connect:

[code]

And yeah, it looks like `Array.flat` was only added in Node 11, I'm using Node 10. I don't know if you intend to support Node 10 or not, so, your call whether it's better to avoid using `flat` or just say that only node 11+

[2021-01-29 17:49] vasco-santos commented on #871
@lacker so updating node completely solved this issue right?

We do not intend to support Node10 anymore as you can see in https://github.com/libp2p/js-libp2p/blob/master/package.json#L50 . We work on supporting active Node versions per https://nodejs.org/en/about/releases/

[2021-01-29 17:59] raphael10-collab opened #880 "Use libp2p-mdns with Electron"
In an Electron-Typescript-React app when I add this line:

    streamMuxer: [Mplex],

I get this error:

    TS2322: Type '{ transport: any[]; connEncryption: Noise[]; streamMuxer: any[]; peerDiscovery: any[]; }' is not assignable to type
    'Libp2pModules'.
      Object literal may only specify known properties, and 'peerDiscovery' does not exist in type 'Libp2pModules'.
        30 |       connE

[2021-01-29 18:17] vasco-santos commented on #880
Can you add  `"suppressExcessPropertyErrors": true` to your tsconfig and check if that solves the issue?

We do not have the type definitions complete in libp2p for some functionalities as you can see per https://github.com/libp2p/js-libp2p/issues/830

[2021-01-29 18:37] raphael10-collab commented on #880
@vasco-santos Adding "suppressExcessPropertyErrors": true in tsconfig.json make the error about the type disappearing.

But still got this error:

![image](https://user-images.githubusercontent.com/70313067/106313890-39752a00-6269-11eb-8839-6e38dde6852b.png)

[2021-02-01 09:34] vasco-santos commented on #880
@raphael10-collab dgram is a Node.js module for UDP sockets used by https://github.com/mafintosh/multicast-dns/blob/master/index.js#L2 which is a dependency of `libp2p-mdns`. It seems to not be available here because the browser bundle is created and MDNS is not supported in the browser. However, this should be possible in Electron.

Any thoughts @hugomrdias ?

[2021-02-01 09:44] hugomrdias commented on #880
Again either nodeIntegration is enabled for the renderer or you need to run libp2p in the main process.

Tip: don't use renderer target in your main webpack config.

[2021-02-01 11:16] raphael10-collab commented on #880
@hugomrdias
If I comment the MDNS part:

    import Libp2p from 'libp2p';
    import Websockets from 'libp2p-websockets';
    import WebRTCStar from 'libp2p-webrtc-star';
    import { NOISE } from 'libp2p-noise';
    import Mplex from 'libp2p-mplex';
    import Bootstrap from 'libp2p-bootstrap';
    import KadDHT from 'libp2p-kad-dht';
    //import MulticastDNS from 'libp2p-mdns';

    document.ad

[2021-02-01 14:30] vasco-santos commented on #744
Here follow some thoughts on a WIP proposal for the Connection Manager Design. This notes focus mostly on the design to enable Proactive Dial and Better connection trimming.  Connection tags and gating might have some intersection here, but they are mostly isolated work, at least in terms of API and Data structures as the other components will only be consumers.

cc @wemeetagain

# Connection Mana

[2021-02-01 21:11] lacker commented on #871
OK yeah node 14 works fine. Too bad it just silently gives weird errors on node 10, I guess node doesn't actually respect that line in the package.json? Dunno. Thanks for the help!

[2021-02-01 21:11] #871 closed

[2021-02-03 09:23] raphael10-collab commented on #880
I found that a previous issue of the same kind was resolved by upgrading node and npm: https://github.com/libp2p/js-libp2p/issues/91

In my case:

    node: v14.5.0
    npm: 6.14.11

What do I have to do to solve the problem and use the discovery mechanism?

[2021-02-05 15:57] vasco-santos commented on #880
@raphael10-collab

did you try this?

[2021-02-05 17:17] vasco-santos commented on #844
Is there any update on wether this fixed the issue?

[2021-02-07 09:30] achingbrain opened #883 "EHOSTUNREACH crash"
- **Version**: 0.30.x
- **Platform**: os x
- **Subsystem**: ??

#### Type: bug

#### Severity: critical

#### Description: crashes randomly after some time

#### Steps to reproduce the error:

1. start a node
2. wait

[code]

May be related to #844 - something, somewhere is not handling errors properly.

[2021-02-08 09:03] vasco-santos commented on #883
Yes, I could replicate that error in https://github.com/libp2p/js-libp2p/issues/844#issuecomment-760230337

A temporary solution is https://github.com/libp2p/js-libp2p-websockets/pull/118

This should be fixed in node soon as it was already merged a fix, but we should still merge the websockets fix while it is not released and people update node:

- https://github.com/websockets/ws/issues/1835
- h

[2021-02-08 09:18] vasco-santos commented on #659
As an update here, we have libp2p types being generated for core since `libp2p@0.30`. Slowly we will be adding types for each libp2p modules. The support is not fully complete, specially in the libp2p config side of things but we will iterate on that over the next months.

Let me know if you hit issues

[2021-02-08 15:03] vmx opened #884 "AggregateError reporting in Firefox could be better"
- **Version**: current HEAD
- **Platform**: Firefox on Linux
- **Subsystem**: dialer

#### Type: Enhancement

#### Severity: Very Low

#### Description:

The error reporting in Firefox is worse than in Chromium. Here's an example error message from Firefox:

[code]

It is hard to tell what the problem is. Though in Chromium the error message is better:

[code]

There on the second line, it is clea

[2021-02-08 15:21] AuHau commented on #844
Unfortunately, I have already left the project, so can't give you the current status. The latest update was that we employed a bit different approach (without libp2p) and were planning to revisit it later on as we were pressed on time.

@julianmrodri might give you more current info.

[2021-02-09 08:32] peterbraden commented on #830
Has anyone started working on the types for DHT etc? If not, I plan on creating a PR for these today.

[2021-02-09 09:37] vasco-santos commented on #844
I released `libp2p-websockets@0.15.2` with the error handler for this.

I am going to close the issue, feel free to reopen if this is still an issue with the update.

[2021-02-09 09:37] #844 closed

[2021-02-09 09:37] vasco-santos commented on #883
I released `libp2p-websockets@0.15.2` with the error handler for this.

I am going to close the issue, feel free to reopen if this is still an issue with the update.

[2021-02-09 09:37] #883 closed

[2021-02-09 09:57] vasco-santos commented on #830
Hey @peterbraden

Thanks for reaching out. It is not released yet but we just got types for the DHT per https://github.com/libp2p/js-libp2p-kad-dht/pull/214 This does not include integration of the DHT config types in libp2p core as this issue is tracking.

You can see the broad state of types in https://github.com/libp2p/js-libp2p/issues/659 . If you would like to help out in any other module let

[2021-02-09 10:04] peterbraden commented on #830
Ah, awesome, thanks for getting back to me so quickly!

I'll try these out locally, and get back to you if there are any other modules we use that I can contribute to.

[2021-02-09 18:37] achingbrain opened #886 "ERR_NO_VALID_ADDRESSES crash"
- **Version**: 0.30.x
- **Platform**: Mac OS X
- **Subsystem**:

#### Type: Bug

#### Severity: Critical

#### Description: The daemon crashes

#### Steps to reproduce the error:

1. Start a libp2p daemon
2. Wait

[code]

[2021-02-09 21:00] vasco-santos commented on #886
Do you mean an IPFS daemon, right? I just clean install it and ran the daemon with a new repo.

Could not replicate this issue after having it running for ~10min. Is this constant? If you could provide me the debug from `DEBUG=libp2p*` would be super helpful. I am only aware of the `dialProtocol` usage in ping and gossipsub. As I believe you were not using ping this might be related to pubsub, but

[2021-02-10 13:49] vasco-santos commented on #699
This is partially implemented from `0.30`. We do need to improve the logic around finding remote relays on the network:

[2021-02-10 14:15] #732 closed

[2021-02-10 14:16] vasco-santos commented on #679
This second issue should be fixed by https://github.com/libp2p/js-libp2p-websockets/pull/118

[2021-02-10 14:22] vasco-santos commented on #346
Closing this as we shipped `libp2p@0.30` with typescript declaration files generated on release.

[2021-02-10 14:22] #346 closed

[2021-02-10 14:27] vasco-santos commented on #208
We released `libp2p@0.30` with typedefs generated on release 🎉
Closing this issue, thank you all! There is https://github.com/libp2p/js-libp2p/issues/659 to track the remaining work

[2021-02-10 14:27] #208 closed

[2021-02-11 16:08] achingbrain commented on #886
It seems to happen every time I try to load the web ui from the running node.

Logs:

[code]

[2021-02-14 13:00] raphael10-collab opened #888 "Warning ipfs > ipfs-core > libp2p > promisify-es6@1.0.3: Unmaintained"
Installing ipfs :

Warning ipfs > ipfs-core > libp2p > promisify-es6@1.0.3: Unmaintained

- O.S. : Ubuntu 18.04 Desktop
- node: v14.5.0

[2021-02-15 09:37] vasco-santos commented on #888
Thanks for reporting. Would you like to PR libp2p and change this?

[2021-02-15 10:17] vasco-santos commented on #886
I could not replicate this yet. This is likely related to the DHT attempting to dial a peer which is announcing an empty array of multiaddrs and the DHT tries to dial the peer throwing this error. However, all the code paths that lead to dials seem to be wrapped by `try...catch` 🤔

I tried to use the stacktrace's peerId in the getClosestPeers recurrent query to simulate this, but no luck so far. I

[2021-02-15 10:29] raphael10-collab commented on #888
@vasco-santos

Yesterday, which was Sunday, I wrote SIX of those upgrading requests. And received for most of them a "send a PR" as response.
If the library's maintainer thinks it's a low priority to upgrade/maintain her/his library's packages, why its users should send a PR?
Shouldn't be the duty and responsability of the library's maintainers to keep library' packages upgraded/maintained?
It's l

[2021-02-16 14:39] dejano-with-tie opened #889 "contentRouting.findProviders(cid) fails when provider peer is not stored locally"
- **Version**: 0.30.8
- **Platform**: Linux desktop 5.10.13-arch1-2
- **Subsystem**: Content Routing (DHT)

#### Type: Bug

#### Severity: High

#### Description:

When dht does not have provider peer stored locally and it is retrieved from the network, the following call
[code]
will throw an error:
[code]
`findProviders` is calling `storeAddresses` with found provider peer. The problem is that on

[2021-02-16 15:40] dejano-with-tie commented on #889
I found out that this is fixed with https://github.com/libp2p/js-libp2p-kad-dht/commit/71952820ef3f737204b7a615db69ae680ef652a8#diff-38171968c0a0b8223fb6df428b7553271a854160e8db4c112a49ac28a5a256d0R153

It will work once dht package is released I guess.

[2021-02-16 15:40] #889 closed

[2021-02-16 15:47] vasco-santos commented on #889
@dejano-with-tie yes, I am testing it and I will release it.

The multiaddr was not being added but now we spread all the properties

[2021-02-16 15:53] vasco-santos commented on #889
Just shipped `0.21.0` and tried it out. It fixes the issue

Thanks for reporting @dejano-with-tie

[2021-02-18 16:19] vasco-santos commented on #880
@raphael10-collab could you get this running?

[2021-02-19 14:08] raphael10-collab commented on #880
@vasco-santos Sorry Vasco. I didn't try yet. Since I realized that the available boilerplates or templates for electron-react-typescript-webpack or rely on Electron-Forge, which is full of bugs, or have their own problems, I'm now building, step-by-step, my own boilerplate for electron-react-typescript-webpack. Which is easier to say that to do.
Once I will be confident enough that the framework i

[2021-02-23 17:42] hugomrdias commented on #857
with this setup an instance so that libp2p-interfaces doesnt depend on libp2p, only the package do.

Can we publish nightlies here dispatch to the others repos CI and there receive or fetch the latest version, force a `npm install libp2p@version` or `npm i libp2p@next` and avoid the cross-env/env vars part ?

[2021-02-24 16:18] pascalverlinden opened #892 "libp2p in docker - Error occurred during XX handshake"
- **Version**: 0.30.8
- **Platform**: docker / Ubuntu
- **Subsystem**:

#### Type:

#### Severity: Medium

#### Description:
Trying out the tutorial of js-libp2p in docker, in order to ping a libp2p node from another one.
The problem I'm facing is apparently related to the use of the multiaddresses if running in a docker container.
Any help would be much appreciated.

One node is listening, below

[2021-02-24 19:08] jacobheun commented on #892
In addition to replacing the port of the other container did you also replace the IP?

The first error you linked is because the node doing the dialing ends up dialing itself, which fails because it's not the peer it's expecting. `127.0.0.1` is always local to the container so it won't dial another one. In order to connect to the other container you need its correct IP address on your network.

Wh

[2021-02-25 08:41] pascalverlinden commented on #892
Thanks @jacobheun !
I looked up the IP address of the containers in the docker network, and changed the listen address in the source code to use that IP, e.g. `listen: ['/ip4/172.29.0.2/tcp/3001']` with `3001` being the port of the container.
Did that in the other node as well.
The first node reports it is listening at `/ip4/172.29.0.2/tcp/3001/p2p/QmbqAopEXhTmPpUABLg4BSC4SV9hYsqdEEvmAVW2qqMmwj`
A

[2021-02-25 08:47] #892 closed

[2021-02-26 13:08] jacobheun commented on #670
All have been archived.

[2021-02-26 13:08] #670 closed

[2021-02-26 13:13] jacobheun commented on #338
This is no longer an issue.

[2021-02-26 13:13] #338 closed

[2021-02-26 13:18] jacobheun commented on #201
This is now an array in the config and it will prioritize based on the order, although we currently only support mplex.

[2021-02-26 13:18] #201 closed

[2021-02-26 13:40] jacobheun commented on #202
This is done

[2021-02-26 13:40] #202 closed

[2021-02-26 13:41] jacobheun commented on #310
This came from Secio which has been deprecated in favor of Noise, closing this.

[2021-02-26 13:41] #310 closed

[2021-02-26 13:42] #430 closed

[2021-03-02 13:59] Funarp opened #895 "Uncaught Error: Cannot find module 'multicodec/src/base-table.js'"
Node: v14.15.4
OS: Linux 5.9.16-1-MANJARO
libp2p: ^0.30.9
when i enter: `const Libp2p = require('libp2p')`
I got errors:

Uncaught Error: Cannot find module 'multicodec/src/base-table.js'
Require stack:
- /home/funarp/learn/libp2p/node_modules/cids/src/index.js
- /home/funarp/learn/libp2p/node_modules/peer-id/src/index.js
- /home/funarp/learn/libp2p/node_modules/libp2p/src/index.js
- <repl>
    at

[2021-03-02 14:34] jacobheun commented on #895
Can you list your package.json dependencies? You may have a version conflict

[2021-03-02 14:40] Funarp commented on #895
I just installed libp2p

{
  "name": "libp2p_learn",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "author": "",
  "license": "ISC",
  "dependencies": {
    "libp2p": "^0.30.9"
  }
}

[2021-03-02 14:45] Funarp commented on #895
and I try both `npm install libp2p` and `yarn add libp2p`, and node 15 or 14(LTS), I also have C/C++ build tools installed

[2021-03-02 15:03] jacobheun commented on #895
`multicodec` accidentally released a breaking change in a patch, coordinating with them on a fix

[2021-03-02 15:19] Funarp commented on #895
should I downgrade multicodec or wait for libp2p to fix this?

[2021-03-02 15:24] Funarp commented on #895
I found a way to fix this: `npm install multicodec@2.1.0` after `npm install libp2p`, but why? npm should handle multicodec version problem, and libp2p's package.json is multicodec with 2.1.0 version

[2021-03-02 15:39] jacobheun commented on #895
A patch was released in multicodec, 2.1.3 that fixes the issue. So you can remove multicodec from your modules list and just install libp2p.

Your fix works because you're effectively locking multicodec @2.1.0, npm will avoid installing the broken patch. libp2p doesn't lock dependency versions, so when a patch release comes out and you install, you get that version, this is intended.

Closing this

[2021-03-02 15:39] #895 closed

[2021-03-04 23:58] D4nte commented on #830
It is also missing the key for `pubsub`.

[2021-03-05 13:52] vasco-santos commented on #830
If someone would like to help getting this to the finish line would be super helpful

[2021-03-09 01:52] TJKoury commented on #888
Just submitted a pull. Tests work on my machine, pretty straightforward.

[2021-03-09 15:53] vasco-santos opened #898 "Metrics movingAverages getter not returning a proper clone"
https://github.com/libp2p/js-libp2p/blob/v0.30.9/src/metrics/stats.js#L87

A manual clone should be created. Referenced in https://github.com/libp2p/js-libp2p/pull/897#discussion_r590484228

[2021-03-10 17:52] Gozala opened #899 "findProviders should return PeerIDs"
findProviders returns `{ id: PeerId, multiaddrs: Multiaddr[] }`

https://github.com/libp2p/js-libp2p/blob/8e1fc78353cba194c86102dafcd68373b3f9a796/src/content-routing/index.js#L43-L52

While bitswap seems to assume it returns `PeerId`s instead. For more context please see

https://github.com/ipfs/js-ipfs-bitswap/pull/261/files#r587862380

[2021-03-11 01:18] TJKoury opened #900 "Possible EventTarget Memory Leak Detected"
#### Version: 0.30.10

#### Platform: Linux pop-os 5.8.0-7642-generic # 47~ 1612288990 ~20.10 ~b8113e7-Ubuntu x86_64 GNU/Linux, Node v15.8.0.

#### Subsystem: Dialer (src/dialer/dial-request.js)

#### Type: Possible EventTarget memory leak detected.

#### Severity: Medium

#### Description:

(node:52434) MaxListenersExceededWarning: Possible EventTarget memory leak detected. 11 abort listeners add

[2021-03-11 09:01] vasco-santos commented on #900
Thanks for reporting this @TJKoury

Can you share a code snippet and dependencies for this or a replication test directly with libp2p?  From https://github.com/libp2p/js-libp2p/blob/master/src/dialer/dial-request.js#L70 + https://github.com/jacobheun/any-signal/blob/master/index.js#L27 I cannot see at this point how 11 listeners would be added.

[2021-03-11 09:25] vasco-santos commented on #899
The link does not properly route me to the correct place I think.

This returns an async iterable if `{{ id: PeerId, multiaddrs: Multiaddr[] }`. In bitswap it seems to return `@returns {AsyncIterable<Provider>}` where Provider is:

[code]

I did not understand the inconsistency here. Let me know what I am missing

[2021-03-11 10:29] TJKoury commented on #900
See snippet below.

Can you recommend a test harness setup for libp2p?  I was trying to follow the dialog in [issue 886](https://github.com/libp2p/js-libp2p/issues/886).  Tried using [libp2p-daemon](https://www.npmjs.com/package/libp2p-daemon) but could not get it to run after global install.

[code]

[2021-03-11 17:14] Gozala commented on #899
Here is the snapshot of the conversation in that pull

![image](https://user-images.githubusercontent.com/21236/110823974-73155980-8247-11eb-83d3-e5b018fe0c51.png)

As per @achingbrain comment

Maybe it's all correct, because types seem to align now https://github.com/ipfs/js-ipfs-bitswap/pull/304

[2021-03-11 17:25] vasco-santos commented on #899
I did not see that comment. So, you mean that `findProviders` should return `{AsyncIterable<{peerId: PeerId>}`

Ok, so @achingbrain is right in the sense that libp2p should handle internally the multiaddrs storage in the AddressBook, which is what we currently do.

The [interface](https://github.com/libp2p/js-libp2p-interfaces/tree/master/src/content-routing#findproviders) for contentRouting and p

[2021-03-11 17:26] vasco-santos commented on #899
I will move the issue to the interfaces repo, as this will mean changing the interface

[2021-03-11 17:55] #899 closed

[2021-03-11 17:59] vasco-santos opened #901 "Libp2p dialer should try to find multiaddrs for a given peer if it does not know any"
- **Version**:  N/A
- **Platform**: N/A
- **Subsystem**: Dialer

#### Type: Enhancenment

#### Description:

We currently recommend users to do `libp2p.dial(peerId)` to dial peers. This will obviously fail if multiaddrs for the given peer were not previously added to the addressBook (either manually, or via a discovery mechanism/DHT/rendezvous...)

If libp2p has a `peer-routing` module, it should

[2021-03-12 17:47] robertkiel commented on #870
Hi @vasco-santos,

I managed to integrate a few more bugfixes into [`hopr-connect`](https://github.com/hoprnet/hopr-connect) as well as some refactorings and it seems, as we've tested in our testnets, that the implementation is to able to connect in most cases now. There seem to be still some rare cases where people have problems to connect but the majority seems to be able to establish a connecti

[2021-03-15 09:15] vasco-santos commented on #900
There are some inconsistencies in the snippet, `peerId1` is not set and the crypto lib not used. For now, I just removed the privatekey set.
Do you get the above warning by running this?

Perhaps it is easier to just import libp2p directly and use its API? `libp2p-daemon` should just need to be imported, a daemon created and started, but you also need `libp2p-daemon-client` to interact with it.

[2021-03-15 09:29] vasco-santos commented on #870
Hello @robertkiel

First of all thanks for all the nice updates here. Being able to use `hopr-connect` to pave the way to browser-browser connection is super useful!

Regarding the current work with NAT hole punching, as well as how we can align for a protocol specification, let me involve in this discussion @aarshkshah1992 who has been working on that initiative.

I would like to see the Limited

[2021-03-15 09:40] TJKoury commented on #900
Just fixed the snippet, it was part of a larger test with multiple keys, I
just tried it by itself.

Will try your suggestion for libp2p-daemon.

On Mon, Mar 15, 2021 at 5:16 AM Vasco Santos ***@***.***>
wrote:

[2021-03-15 09:59] vasco-santos commented on #900
Thanks @TJKoury
I will keep it running longer to see if I can replicate it

[2021-03-15 10:00] robertkiel commented on #870
Sounds good :+1:

@vasco-santos could you set up a call and send me a link? My business mail address should be given in my GH profile.

[2021-03-15 11:34] vasco-santos commented on #900
I have been running it for 2 hours without any issue. Perhaps linux related as I am running on Mac OS.
Probably also related to https://github.com/libp2p/js-libp2p-tcp/issues/141

[2021-03-15 11:59] TJKoury commented on #900
I will boot up my Mac (2014 MBP) and see if I can replicate.

On Mon, Mar 15, 2021 at 7:34 AM Vasco Santos ***@***.***>
wrote:

[2021-03-15 14:00] TJKoury commented on #900
OSX Mojave 10.14.6, Node v15.11.0, no issues.  Will try on Windows next. [Test repo.](https://github.com/DigitalArsenal/libp2p-test)

[2021-03-15 14:18] vasco-santos commented on #870
After syncing with the team, it would be good to start by creating an issue in https://github.com/libp2p/specs to initiate the discussion and provide visible context about hopr-connect. Could you start by opening an issue there and detail `hopr-connect` and how it could help other libp2p implementations or compete/integrate within other initiatives?

[2021-03-15 14:31] robertkiel commented on #870
Sure. Will do that.

TLDR:
- it is pretty much a drop-in replacement for libp2p-tcp that "magically" handles NAT traversal and churn

[2021-03-15 14:41] BigLep commented on #888
Closing since PR was merged

[2021-03-15 14:41] #888 closed

[2021-03-15 15:11] vasco-santos commented on #900
Interesting, can you also try your linux machine using node14?

[2021-03-15 16:04] TJKoury commented on #900
Both are using Node 15, so it seems it might be platform related.  If there is another reason you think I should try let me know.

[2021-03-16 10:24] vasco-santos commented on #900
I wanted to understand if this might be related to an update on Node15 in the platform you are having issues, as this problem should have appeared early on if it is a problem in other Node versions. If you can, it would be great to test your machine using Node14.

Meanwhile, I will try to book some time to try to replicate this on a VM

[2021-03-16 17:55] robertkiel commented on #870
Hi @vasco-santos ,

just finished the issue in libp2p/specs, see https://github.com/libp2p/specs/issues/307

[2021-03-21 04:36] BigLep commented on #870
I'm closing given the issue in libp2p/specs: https://github.com/libp2p/specs/issues/307. Please reopen if there are other items to discuss on this thread.

[2021-03-21 04:36] #870 closed

[2021-03-22 14:24] BigLep commented on #880
@raphael10-collab: we're closing this for now, but please reoppen if the issue remains.  Thanks!

[2021-03-22 14:24] #880 closed

[2021-03-24 14:37] dapplion commented on #680
This PR features a CPU profile showing the bottleneck in performance. https://github.com/ChainSafe/lodestar/pull/2238

[2021-03-24 14:48] dapplion commented on #680
After refactoring peer managment in Lodestar I strongly believe moving from a class PeerId to a string as canonical identifier should be a priority. It would simplify the codebase significantly and improve performance omitting costly serialization and deserialization.

[2021-03-29 01:44] xzy-96 opened #907 "libp2p-noise Can't download"
![image](https://user-images.githubusercontent.com/51942062/112776816-3cc34100-9073-11eb-9414-805a74c1856b.png)

[2021-03-29 07:31] vasco-santos commented on #907
Hello @xzy-96
Libp2p uses `node-gyp` for compiling native addon modules for Node.js. Python is required as you can see in [nodejs/node-gyp#on-unix](https://github.com/nodejs/node-gyp#on-unix). You will need to install it to properly install libp2p's dependencies

[2021-03-29 14:20] lidel commented on #825
I believe https://discuss.libp2p.io is a better place for asking questions (keeping github limited to actionalble  issues/bug reports)

[2021-03-29 14:20] #825 closed

[2021-03-31 14:24] achingbrain commented on #900
I'm seeing this in js-IPFS master too.  To repro just start the daemon and wait a few seconds.

[2021-04-01 10:01] vasco-santos commented on #900
@achingbrain are you using Node15 + MacOS?

I have been running it for over two hours and I only got:

[code]

[2021-04-01 11:28] achingbrain commented on #900
Yes, node 15 on a Mac:

[code]

[2021-04-01 11:48] achingbrain commented on #900
It's trying to dial more than 10 addresses at once and an `abort` event listener gets added to `options.signal` on every dial:

[code]

[code]

[2021-04-01 12:52] vasco-santos commented on #900
We allow by default doing [4](https://github.com/libp2p/js-libp2p/blob/master/src/constants.js#L6) parallel dials per dialRequest. So after 4 being in progress, the next ones will wait for a token to start dialling.

Anyway, I already understood what is happening. In this case, it seems that before an actual dial is successful a bunch are tested. As we we do not support quic we will add abort cont

[2021-04-08 16:05] vasco-santos commented on #907
@xzy-96
Could you get this fixed?

[2021-04-14 00:37] D4nte opened #908 "Triggering protocol once identify is done"
- **Version**: 0.30.10
- **Platform**: Linux 5.10.19-1-MANJARO #1 SMP PREEMPT Fri Feb 26 11:38:34 UTC 2021 x86_64 GNU/Linux
- **Subsystem**: Identify

#### Type: Question/Feature

#### Severity: Medium

#### Description:

When Alice connects to a peer that support protocol `/foo/1.0.0`, Alice wants to automatically initiate the message request for said protocol.

Alice dials Bob, once done, Alice

[2021-04-14 06:28] da-kami opened #909 "`TypeError: TextDecoder is not a constructor` when handling multiaddresses in browser"
- **Version**: libp2p `0.30.12`
- **Platform**:
    - Firefox `87.0`
    - Chrome `89.0.4389.114'
    - Platform: `Darwin Kernel Version 20.3.0: Thu Jan 21 00:07:06 PST 2021; root:xnu-7195.81.3~1/RELEASE_X86_64 x86_64` macOs Big Sur `11.2.3`
- **Subsystem**:

#### Type:

Bug

#### Severity:

Critical

#### Description:

When handling any kind of code that depends on https://github.com/multiformats

[2021-04-14 10:55] vasco-santos commented on #909
Hello @da-kami
We are working on updating all the dependencies to not use `web-encoding` and not have this issue. Meanwhile, for this version we are blocked on https://github.com/Gozala/web-encoding/pull/21

[2021-04-14 11:12] vasco-santos commented on #908
Hello @D4nte
Once your peer establishes a connection with another peer and the identify protocol finishes, the peer protocols are stored in the Protobook. You can listen for [these changes](https://github.com/libp2p/js-libp2p/blob/master/doc/API.md#known-protocols-for-a-peer-change):

[code]

[2021-04-15 01:31] da-kami commented on #909
Thanks for the quick reply! I will see to point it the specific commit one #904 merges and then try again! Subscribed to notifications on #904 - feel free to close this issue

[2021-04-15 04:12] D4nte commented on #908
Indeed, I missed this one. Thanks!

[2021-04-15 04:12] #908 closed

[2021-04-15 05:52] da-kami commented on #909
As a temporary quickfix we use yarn's `resolutions` feature to upgrade `multibase` and `uint8arrays` to the latest version which removes `web-encoding`:

https://github.com/da-kami/js-libp2p-quote-poc/blob/master/package.json#L23-L26

[2021-04-15 08:38] vasco-santos commented on #816
Closing this until we have better visibility on what this release will include

[2021-04-15 08:38] #816 closed

[2021-04-15 08:39] vasco-santos commented on #847
Closing this until we have better visibility on what this release will include

[2021-04-15 08:39] #847 closed

[2021-04-15 08:50] vasco-santos opened #910 "⚡️ 0.31 RELEASE 🚀"
# 🔦 Highlights

This releases expands the surface of libp2p with type definitions to also include its configuration. Accordingly, most of the libp2p touch points with TS developers are now covered with types and we will be adding them to the libp2p modules over time.

New typed `multiaddr@9.0.x` rolled up across all libp2p modules, buffer update to `buffer@6.0.0`. Several other libp2p dependencies

[2021-04-16 05:30] da-kami commented on #909
Thanks! I gave `0.31.0-rc.0` it a try earlier and ran into some other issues. Will see to report them in detail once I find time to dig through.

[2021-04-16 05:40] D4nte commented on #909
Yes, facing an issue too when trying the release candidate:

[code]

[2021-04-16 08:05] vasco-santos commented on #909
The reported error is misleading as that await is wrapped by an async function: https://github.com/libp2p/js-libp2p/blob/master/src/upgrader.js#L257

I just tried our `libp2p-in-the-browser` example, which uses parcel+babel and does not have this issue. Per the original post, I see that you are using CRA for your project and this might be related to how dependencies are bundled.

We are checking t

[2021-04-19 09:50] vasco-santos commented on #679
With the upcoming `libp2p@0.31` this will be fixed as with the types work the optional request value is validated before crashing on `type` of undefined. Relevant change on: https://github.com/libp2p/js-libp2p/blob/v0.31.0-rc.2/src/circuit/transport.js#L61

[2021-04-19 09:55] vasco-santos commented on #910
This will solve:

- [ ] https://github.com/libp2p/js-libp2p/issues/909
- [ ] https://github.com/libp2p/js-libp2p/issues/679

[2021-04-20 14:33] vasco-santos commented on #909
@D4nte we found the bug for CRA. You can try the latest rc: `0.31.0-rc.3`.

This was the [fix](https://github.com/libp2p/js-libp2p/pull/916). Somehow CRA with inline types comments understands an async function as a regular function 🤷🏼

FYI, we will be shipping the final release soon

[2021-04-21 00:24] D4nte commented on #909
@vasco-santos great thanks! I actually quickly tried rc.3 yesterday and it looked good but I had to log off so did not have time to double check. Will report once I do more testing.

[2021-04-21 05:21] D4nte commented on #909
Ok I can confirm the error is gone with `rc.3` :)

[2021-04-21 06:52] D4nte opened #920 "Need to run `npm i` in root folder before trying example"
- **Version**: 0.31.0-rc.3
- **Platform**: Linux
- **Subsystem**: 5.10.19-1-MANJARO #1 SMP PREEMPT Fri Feb 26 11:38:34 UTC 2021 x86_64 GNU/Linux

#### Type: Bug

#### Severity: Very Low

#### Description:

The `js-libp2p/examples/libp2p-in-the-browser` readme says to run `nom install` in the example folder.
This leads to the error below.
Instead, it should say to run `npm install` in the root fold

[2021-04-21 07:08] vasco-santos commented on #920
Thanks for reporting @D4nte

Yes, please open a PR

[2021-04-21 08:45] #920 closed

[2021-04-22 08:23] vasco-santos opened #925 "Better browser error handling when dial fails"
@D4nte commented on [Thu Apr 22 2021](https://github.com/libp2p/js-libp2p-websockets/issues/127)

When not passing any filter in the browser, I understand that filter `dnsWsOrWss` is being used.
When trying to connect to an `ip4` `ws` address, it fails due to the filter, however the error returned by libp2p is very obscure (see below).

Would there be a way to make this error point to the filter i

[2021-04-27 06:14] D4nte commented on #909
I am now getting `ReferenceError: TextDecoder is not defined` when:
- Using `libp2p:0.31.0-rc.3` and
- using `react-scripts` test (jest)
Is that a known issue?

[2021-04-27 07:26] vasco-santos commented on #909
Can you let me know your libp2p dependencies versions? Also do `npm ls multibase`

[2021-04-27 13:43] vasco-santos opened #928 "Strategy when dialling peers with a lot of addresses"
- **Version**: *
- **Platform**: *
- **Subsystem**: Dialer

#### Description:

When peer routing modules are configured, libp2p will try to leverage them to discover self closest peers and connect to them. Depending on the self peerId, different peers will obviously be discovered. Peers might advertise multiple multiaddrs in the wild (specially in some edge cases with UPnP behavior/Port mapping on

[2021-04-28 00:58] D4nte commented on #909
In the react app:

[code]

In the js-waku library that is used by the react app and brings in `libp2p`:

[code]

[2021-04-28 03:30] D4nte opened #931 "Secure WebSockets"
- **Version**: 0.31.0-rc.7
- **Platform**: Linux 5.10.30-1-MANJARO #1 SMP Wed Apr 14 08:07:27 UTC 2021 x86_64 GNU/Linux
- **Subsystem**: Transports (libp2p-websockets)

#### Type: Bug/Question

#### Severity: High

#### Description: Secure WebSockets does not seem to work

#### Steps to reproduce the error:

See #930 for the code reproducing the issue.

When trying to setup secure websockets after

[2021-04-28 07:14] vasco-santos commented on #909
This error comes from outdated multibase. You can already update everything in there except gossipsub (still needs https://github.com/ChainSafe/js-libp2p-gossipsub/pull/153 merged)

You can see on https://github.com/libp2p/js-libp2p/pull/912 what modules versions you should have. You can update everything except gossip, including new libp2p rc and you can experiment with gossipsub branch reference

[2021-04-28 12:44] CluEleSsUK opened #932 ""Error: no protocol with name: chat" when running the chat protocol example"
- **Version**:
0.31.0-rc.6

- **Platform**:
MacOS Big Sur

- **Subsystem**:
Firefox

#### Type:
High

#### Severity:

#### Description:
Hi there,
I'm attempting to implement my own protocol using libp2p, and stumbled across the example chat protocol here: https://github.com/libp2p/js-libp2p/blob/v0.27.3/examples/chat/src/dialer.js and the corresponding listener.
I've tried using the code here but

[2021-04-28 12:45] CluEleSsUK commented on #932
Another code snippet of my creation of a libp2p instance, in case I've done something incorrect there:
[code]

[2021-04-28 13:12] vasco-santos commented on #932
Hello @CluEleSsUK

The libp2p protocol is not part of a multiaddr. A multiaddr in libp2p will be the address of a peer to reach to and establish a libp2p connection in a given transport.

You can see a libp2p protocol handling in the same way as a rest endpoint. A node supporting a given protocol (chat in this case), will need to call `libp2p.handle` where you will code what happens when a connect

[2021-04-28 14:12] CluEleSsUK commented on #932
I have already implemented the `libp2p.handle` listener, as in my last snippet in the OP - I have pasted it here for posterity:
[code]

I understand that libp2p is not a part of multiaddr, but my understanding is that multiaddr is a dependency of libp2p and that both `libp2p.dialProtocol` and `libp2p.dial` create multiaddrs from any string passed in:
[code]
  Calling `dialProtocol` blows up, but w

[2021-04-28 15:48] vasco-santos commented on #932
Yes, but a libp2p protocol is not part of a multiaddr. Per the [chat example](https://github.com/libp2p/js-libp2p/blob/master/examples/chat/src/dialer.js#L33) you can see the dialled multiaddr is the network address of the peer. This will generate a libp2p connection, where we will be opening a stream with the given protocol.

You are doing:

[code]

instead of:

[code]

or

[code]

[2021-04-28 15:59] CluEleSsUK commented on #932
Ahhhhh sorry, I see what you mean now! That makes total sense, sorry for the confusion.

[2021-04-28 15:59] #932 closed

[2021-04-29 01:24] D4nte commented on #909
Looks like gossipsub is released too. However, it seems that peer-id is still bringing an old multibase version:

[code]

No worries, thanks for the quick turn around!

[2021-04-29 02:01] D4nte commented on #909
Wait, which multibase version is the outdated one?

[code]

[2021-04-29 02:04] D4nte commented on #909
I having the issue with multibase 4.0.4, the latest version. This is not expected, right?

[code]

[2021-04-29 07:35] vasco-santos commented on #909
4+

The error now looks different then before. What node version are you using?

---

A couple of other questions per latest dependency tree:

- any reason to use secio? We [deprecated](https://blog.ipfs.io/2020-08-07-deprecating-secio/) it one year ago and it should not be used.
- why do you have the PeerId version fixed? It should be in the latest as well

I think you need to reinstall the depen

[2021-04-30 05:58] D4nte commented on #909
Thanks. So there are still some multibase 3 coming from libp2p-noise for example:

[code]

The errors come from using `react-scripts@4.0.3`

Indeed, it was an unused dependency, now removed. Thanks!

Indeed, now removed.

[2021-04-30 07:06] vasco-santos commented on #909
You need to have some kind of lock file @D4nte

When you install `libp2p-noise` for example, it will install the latest of the [`0.19.x`](https://github.com/NodeFactoryIo/js-libp2p-noise/blob/master/package.json#L56) series of `libp2p-crypto`, which will be `0.19.4` and will come with multibase 4. Same for gossipsub and its PeerId

[2021-04-30 09:37] D4nte commented on #909
Yes I have a `package-lock.json` file but thank you for the tip, I'll play around with that!

[2021-04-30 14:57] vasco-santos commented on #679
This should be fixed with the new released we just fixed 🎉  If it is not the case, please reopen the issue

[2021-04-30 14:57] #679 closed

[2021-04-30 14:58] #909 closed

[2021-05-01 07:54] sahilpohare opened #936 "WebRTC-Star Example"
Guys please add a webrtc-star example.

[2021-05-03 07:14] vasco-santos commented on #936
Hello @sahilpohare

We have the `libp2p-in-the-browser` example, which should be what you are looking for: https://github.com/libp2p/js-libp2p/tree/master/examples/libp2p-in-the-browser

Let me know if this is not the case.

[2021-05-03 13:39] #910 closed

[2021-05-03 14:27] BigLep commented on #931
Thanks for letting know.  We'll followup in https://github.com/libp2p/js-libp2p/pull/930

[2021-05-03 14:27] #931 closed

[2021-05-06 01:41] D4nte opened #939 "Stream ending does not emit event"
- **Version**: 0.31.0

- **Platform**: Firefox 88.0 on Linux 5.10.32-1-MANJARO #1 SMP Wed Apr 21 14:54:10 UTC 2021 x86_64 GNU/Linux

- **Subsystem**: libp2p-mplex@0.10.3/libp2p-websockets@0.15.6

#### Severity: High

#### Description:

1. Start libp2p and listen on `peer:disconnect` and `error` events,

[code]

2. Connects to a remote libp2p node using `wss`.

[code]

2. The websocket connection i

[2021-05-06 02:33] D4nte commented on #939
Please note that it seems that pubsub is not aware that the stream is closed. Indeed, when a stream close, the peer should be removed from `pubsub.peers` as per

https://github.com/libp2p/js-libp2p-interfaces/blob/13f6ed6b3ecf9db98f82728359c529d7def61298/src/pubsub/index.js#L306

However, from local debugging + the fact that the `stream aborted` error is thrown a we can deduce the peer was not yet

[2021-05-06 08:10] vasco-santos commented on #939
Hey @D4nte

Thanks for creating this issue. It would be great to have a test case for this in gossipsub.

Starting by the expectations here. Two peers establish a libp2p connection, which will be used to create streams for given libp2p protocols (like identify, pubsub, ...). In other words, a connection will use a stream muxer to have multiple streams open within a connection. As a result, emittin

[2021-05-10 23:59] D4nte commented on #939
Hi @vasco-santos,

Thank you for the information. I am not quite sure how I can reproduce in test as the stream being aborted comes from nginx timeout, when used as a proxy.

I could play around with an `http` server and see if I can simulate nginx's behaviour. However, as we can see in https://github.com/libp2p/js-libp2p/pull/930 there seem to be some issues passing a http server to websockify tr

[2021-05-11 13:59] zeim839 commented on #827
@a1300

Are you sure `peerRouting.findPeer()` is the source of the issue? I was working on a potential fix that adds a comparison in the [findPeer()](https://github.com/libp2p/js-libp2p/blob/master/src/peer-routing.js#L102) function like so: `if (id == this._peerId) {
      throw errCode(new Error('Cannot dial self'), 'ERR_DIALED_SELF')
    }`. Running this on your repository still yields the orig

[2021-05-12 02:12] evgkul commented on #886
By injecting `console.trace("Connecting")` into Libp2p._dial managed to get better stacktrace:

[code]

[2021-05-12 02:55] evgkul commented on #886
Also inserted console.trace into findAndConnect:

[code]

[2021-05-12 04:18] evgkul commented on #886
Modifying findAndConnect ipfs-bitswap/src/network.js to be like this fixes the problem:

[code]

[2021-05-12 04:26] evgkul commented on #886
It seems that due to use of async iterator the promise can exist without error callback long enough to become rejected and produce unhandled rejection error

[2021-05-12 14:48] vasco-santos commented on #827
Closed by #942 and will be shipped in `libp2p@0.31.4`

[2021-05-12 14:48] #827 closed

[2021-05-12 17:40] zeim839 commented on #728
@jacobheun I've been working on a possible implementation that looks somewhat like this:
[code]
However, it seems that the keys/passwords are somehow bound together in the datastore, meaning I can't import keys into the new keychain with the new password (I'm getting the `Error: Cannot read the key, most likely the password is wrong` error).

There's also the issue of how to operate on the "self"

[2021-05-13 11:23] zeim839 commented on #728
Seems I was confused on how the the keychain and crypto functions work (`keychain.importKey()` vs `crypto.keys.import` and etc.). Anyway, I've come up with a rough solution that looks like this:

[code]
[src/keychain/index.js](https://github.com/zeim839/js-libp2p/blob/keychain-rotating-passphrase/src/keychain/index.js#L507)

What's left is to decide how to handle the "self" key (`this.importKey()`

[2021-05-13 17:04] #886 closed

[2021-05-13 18:01] achingbrain commented on #886
@evgkul I've merged & shipped your bitswap fix, thanks for submitting it.  This looks much more stable to me now - could you please verify and reopen if it's still happening?

[2021-05-14 23:50] BigLep commented on #939
@vasco-santos : should this issue be kept open, or will the work be tackled in #744 and #930?

[2021-05-17 09:51] vasco-santos commented on #939
Closing this as the initial question of not emitting close on a closedStream is answered. @D4nte if you have further problems in this, or if you think the work planned in #930 to keep the connection alive will not solve the issue, please reopen the issue or create a new one

[2021-05-21 09:25] vasco-santos commented on #907
Closing this. Feel free to reopen if this is still a problem

[2021-05-21 09:25] #907 closed

[2021-05-21 09:29] vasco-santos commented on #818
With the new release with type definitions, this should not happen anymore. Feel free to reopen if this is still a problem

[2021-05-21 09:29] #818 closed

[2021-05-21 09:34] vasco-santos commented on #704
This is partially implemented in `libp2p@0.30`.

[2021-05-21 09:37] vasco-santos commented on #599
This should be fixed with the latest libp2p release since we do type checking now. Feel free to reopen if this is still a problem

[2021-05-21 09:37] #599 closed

[2021-05-21 09:40] vasco-santos commented on #488
With the docs mentioned during this issue done, this should be improved.

[2021-05-21 09:40] #488 closed

[2021-05-21 09:41] vasco-santos commented on #429
This is done and the protocols are now stored on the ProtoBook

[2021-05-21 09:41] #429 closed

[2021-05-31 14:35] lidel commented on #790
(note from triage) nearly done, waiting for https://github.com/libp2p/js-libp2p/pull/866

[2021-06-06 19:24] mcclure opened #950 "Peer-And-Content-Routing example: Remove or better document 100ms delay"
This example
https://github.com/libp2p/js-libp2p/blob/master/examples/peer-and-content-routing
Involves running two scripts simultaneously; they then connect to each other. Each one does this before calling findPeers

[code]

This is fine for an example/test but is not good enough for production code. There's no indication how to modify this 100ms delay when moving the example code into production

[2021-06-10 13:10] nazarhussain commented on #659
@vasco-santos I will be working on adding typescript support to `js-peer-id` next. Please assign it to me here to avoid collision.

[2021-06-13 19:42] #790 closed

[2021-06-14 07:19] #779 closed

[2021-06-22 00:16] D4nte commented on #909
I am having the related issue again:

[code]

When running `npm run test:unit` from an example folder `examples/eth-dm`.
The `eth-dm` project does not have multibase installed:

[code]

And the parent project has latest multibase only:

[code]

and the multibase line that returns the error is indeed 4.0.4:

[code]

The code can be found at https://github.com/status-im/js-waku/pull/212

What am I m

[2021-06-22 07:37] vasco-santos commented on #909
Is this still a problem? The PR was merged

From an initial observation, the error seems different, probably using the latest https://github.com/multiformats/js-multibase/blob/master/src/util.js#L3 . So what environment is this running?

[2021-06-23 01:51] D4nte commented on #909
It's running in `react-scripts` which I assume is the source of the problem.
Apparently this error can appear when using older node versions but I use node 16.

[2021-06-23 13:09] vasco-santos commented on #936
Closing, feel free to reopen if this is not what you were looking for

[2021-06-23 13:09] #936 closed

[2021-06-23 13:10] vasco-santos commented on #857
The initial part of this work with pubsub was done. We still need to do the same for the remaining libp2p modules

[2021-06-24 08:32] vasco-santos commented on #728
This was shipped on https://github.com/libp2p/js-libp2p/releases/tag/v0.31.6

[2021-06-24 08:32] #728 closed

[2021-06-24 08:37] vasco-santos commented on #686
This was partially on https://github.com/libp2p/js-libp2p/pull/800 we should add the UserAgent though

[2021-06-24 09:28] montassarBoukraine commented on #7
libp2p doesn't work with 3g/4g .

[2021-06-25 17:46] Gozala opened #955 "Introduce PeerId interface"
Idea here is to introduce PeerId as an interface so that all APIs can produce / consume as opposed to specific implementation in form of https://github.com/libp2p/js-peer-id

[2021-06-25 18:20] Gozala commented on #955
I have initially started by adding interface defs to libp2p-interface repo, but I'm starting to recognize several problems in comparison to approach taken by https://github.com/ipfs/js-ipfs/tree/master/packages/ipfs-core-types:

1. libp2p-interface comes with [large number of dependencies](https://github.com/libp2p/js-libp2p-interfaces/blob/3042dc2a3b27ebe4a06c4c856f582f997d0bbe48/package.json#L56

[2021-06-26 08:10] Gozala commented on #955
Is anything actually uses [Connection class](https://github.com/libp2p/js-libp2p-interfaces/blob/master/src/connection/connection.js#L48) ? I can't seem to find a single place where it's utilized

[2021-06-28 07:36] vasco-santos commented on #955
@Gozala I am glad you raise these points. When we added `connection` and `topology` into the interfaces repo, it felt odd to me, as they are Types/Primitives, same for PeerId. We did this in the time that we were going to the direction of less repos is better, so let's not create a new one for now.

I think we should distinct between the interfaces that target libp2p modules, like transport, encry

[2021-06-28 18:14] Gozala commented on #955
If that is only place maybe implementation should move to js-lipbp2 instead and we can just keep interface and tests in the libp2p-interfaces ?

[2021-07-02 14:54] lidel commented on #955
Triage notes:
- avoid using js-libp2p-interfaces
  - risk: introducing dependency that gets pulled automatically by everything that uses it
- alternative approach:
  - make peerid an interface
  - make ipld depend on interface and pull implementation

[2021-07-02 15:32] Gozala commented on #955
risk: introducing dependency that gets pulled automatically by everything that uses it

@lidel I’m not sure I understand what is the problem though. Sure many libs will depend on libp2p-interfaces, but if there’s no runtime code pulled what’s the harm ?

Most libs already already depend e.g on aegir but that doesn’t seem to be a problem.

[2021-07-02 15:33] Gozala commented on #955
did you mean js-libp2p instead of ipld here ?

[2021-07-09 06:45] vasco-santos opened #956 "⚡️ 0.32 RELEASE 🚀"
# 🔦 Highlights

## 🆕 Multiformats update

We updated to the new [multiformats](https://github.com/multiformats/js-multiformats) stack, removing older multiformats modules that are no longer maintained. This is a library defining common interfaces and low level building blocks for various interrelated multiformat technologies (multicodec, multihash, multibase, and CID). They can be used to implemen

[2021-07-09 06:46] #928 closed

[2021-07-15 12:15] #956 closed

[2021-07-20 04:14] mcclure opened #959 "On opening stream with dialProtocol, a few bytes of random garbage are inserted"
Hello,
I am creating a test app that runs in a browser. A client browser-tab looks up a provider browser-tab using libp2p-kad-dht, then dials it up on a custom protocol using libp2p-mplex. The client tab sends a short query on the stream using it-pipe, and the provider tab reads the query then sends a response on the stream using it-pipe. What I find is that in my tests, one side or the other rece

[2021-07-20 04:25] mcclure commented on #959
Sorry, i forgot to mention my versions. The versions in my package-lock are:
* Libp2p: 0.31.6
* Libp2p-kad-dht: 0.22.0
* Libp2p-mplex: 0.10.3

[2021-07-21 05:44] holmesworcester commented on #261
Any update on this?

[2021-07-22 05:28] D4nte commented on #939
Hi @vasco-santos, is #930 the correct issue you meant?

[2021-07-22 06:17] D4nte commented on #939
I have been spending some time trying to recreate in test environment. It looks like the streams are closed after exactly 10min of idle (TCP timeout?). This is something I am getting systematically in a browser environment over ws but could not reproduce in test.

Something I do not understand is that:

When I look at `publish -> _sendRpc` : https://github.com/ChainSafe/js-libp2p-gossipsub/blob/df

[2021-07-26 14:42] vasco-santos commented on #939
Yes, I was thinking on #744 issue, apologies. More specifically, keeping connections alive.

Let me know if you get a reproducible test though

[2021-07-30 05:49] D4nte opened #961 "Usage with ReactJS/Jest: TypeError: Cannot read property 'base16' of undefined"
- **Version**: 0.32.1
- **Platform**: Linux 5.10.49-1-MANJARO #1 SMP PREEMPT Sun Jul 11 12:59:43 UTC 2021 x86_64 GNU/Linux

#### Severity: High

#### Description:

It does not seem possible to `react-scripts` to run testws when using libp2p in a ReactJS app.
The following error systematically appears: `TypeError: Cannot read property 'base16' of undefined`.

See steps below.

#### Steps to reprodu

[2021-07-30 05:56] D4nte commented on #961
Some relevant versions:

[code]

[2021-08-13 15:07] vasco-santos commented on #961
Hey @D4nte

I think this is because `react-scripts` is using webpack4. And I noticed a few days that it does not support package.json export maps, which means this kind of https://github.com/multiformats/js-multiformats/blob/master/package.json#L38-L96 is not working with webpack4, and is just supported from webpack5 onwards.

[2021-08-17 03:11] D4nte commented on #961
Thanks for the investigation.
Webpack 5 support is merged in react-scripts, just pending a new release: https://github.com/facebook/create-react-app/pull/11201

They mention alpha releases, I'll investigate there. Happy to close this for now.

[2021-08-17 03:11] #961 closed

[2021-08-19 10:39] dapplion opened #967 "TypeError: uint8ArrayFromString is not a function"
Lodestar broke in the docker nightly build image https://hub.docker.com/layers/chainsafe/lodestar/next/images/sha256-7b89deddd5395a3baad61aed305b5fb67e3b6ffb3fe01579b2fcb1e4d7bd821e?context=explore on start with

[code]

You can recreate by just running that image with the command `beacon`

In a dockerized build this import is incorrect, adding a console log after the import it prints that
[code]

[2021-08-19 10:41] vasco-santos commented on #967
@dapplion can you do `npm ls uint8arrays`  on lodestar?

`libp2p` did not update ti `uint8arrays@3.0.0` yet. However, this outputs seems like `uint8arrays@3.0.0` is the used version

[2021-08-19 10:45] mpetrunic commented on #967
@dapplion `yarn list --pattern "uint8arrays"` since we use yarn

[2021-08-19 10:48] dapplion commented on #967
@vasco-santos

[code]

[2021-08-19 10:49] dapplion commented on #967
Note that when running from source it does not break, it only breaks dockerized.

Our Dockerfile only installs
[code]
https://github.com/ChainSafe/lodestar/blob/master/Dockerfile

[2021-08-19 10:51] vasco-santos commented on #967
Interesting, this looks like something is not doing a good job on dependency resolution. The breaking change in `uint8arrays@3` makes the named exports as your docker output. But, `libp2p` is locked with 2 https://github.com/libp2p/js-libp2p/blob/master/package.json#L127

[2021-08-19 10:52] vasco-santos commented on #967
I can ship https://github.com/libp2p/js-libp2p/pull/965 and it should solve the "issue". But, something is wrong somewhere else

[2021-08-19 11:10] dapplion commented on #967
@vasco-santos Adding require.resolve, the dependency is from `/root/node_modules/libp2p/node_modules/uint8arrays/cjs/src/from-string.js`, which indeed it's 3.0.0. libp2p version from root node_modules is 0.30.12

[2021-08-19 11:11] dapplion commented on #967
I can recreate in a new container just by pulling the node image, and installing
[code]

[2021-08-19 11:15] vasco-santos commented on #967
https://github.com/libp2p/js-libp2p/blob/v0.30.12/package.json#L56 shows that we do not have an `uint8array` dependency but we used it https://github.com/libp2p/js-libp2p/blob/v0.30.12/src/identify/index.js#L12

So, it is probably getting `uint8arrays` from any other dependency which already updated. Bah, I can publish a `libp2p@0.30.13` adding uint8arrays to the package.json

[2021-08-19 11:16] dapplion commented on #967
@vasco-santos Please not sure how to unbreak out dockers otherwise

[2021-08-19 11:22] vasco-santos commented on #967
@dapplion on it. By the way, is there anything blocking you from updating `libp2p`?

[2021-08-19 11:30] vasco-santos commented on #967
`0.30.13` is out

[2021-08-19 14:04] dapplion commented on #967
Yes, but I have to check-in with @wemeetagain

[2021-08-20 03:07] wemeetagain commented on #967
I need to write up an issue. But there's an typescript issue between our version of `MuxedStream` and libp2p's version.

We're using a type like:
[code]

Libp2p has a type that looks like:
[code]

The real issues are `source`, `sink`. It's strange because even with the type issues, the code seems to work without runtime issues.

[2021-08-22 10:44] dapplion commented on #967
I confirm that the new libp2p release fixes the issue in our dockerized setup. Thank you @vasco-santos :+1:

[2021-08-26 04:37] Leask opened #970 "Failed using with `datastore-level`"
Failed while use with `datastore-level`.

- **Version**:

Latest Version

- **Platform**:

All platform

#### Severity:

Critical

#### Description / Steps to reproduce the error:

[code]

Error:

[code]

[2021-08-29 11:04] greenSnot opened #983 "peerRouting.getClosestPeers is not compatible with KadDHT router"
- **Version**: 0.32.4
- **Platform**: UNIX
- **Subsystem**: js-libp2p-kad-dht: 0.23.2

#### Severity: High
#### Description:

Once peerRouting.getClosestPeers is called, following errors occured.
`libp2p:peer-store:address-book:err peerId must be an instance of peer-id to store data...`
`libp2p:peer-routing:err Error: peerId must be an instance of peer-id...`

libp2p.peerRouting.getClosestPeers re

[2021-09-02 08:23] dapplion commented on #967
@vasco-santos I'm not sure how to prevent this from happening in the future. If you install any lodestar package on its own it will break because the dependencies are de-duped.

Env with yarn.lock
[code]
Installing from NPM
[code]

I would ask you to not do a breaking change on a sub-dependency while just doing a patch on the parent. But that doesn't seem a sustainable solution. How can we approac

[2021-09-03 01:37] tuyennhv commented on #967
@vasco-santos @dapplion
right now libp2p@0.31.7 declares `uint8arrays` as `devDependencies` so it's inconsistent for an application to decide which version of `uint8arrays` to install when it wants to use libp2p (proved by`yarn why` or `npm ls`), libp2p should declare it as `dependencies` instead https://github.com/libp2p/js-libp2p/blob/f7183e8afd49deb40d03fca708a3070c1f16610f/package.json#L168

n

[2021-09-03 08:07] vasco-santos commented on #967
I added hot fix for `0.30.x` line to get this fixed there. Not for `0.31.x` as we talked about updating to all the new stuff aka `0.32.x`.

Anyway, I just added also a hot fix for in `libp2p@0.31.8` that fixes this by putting uint8arrays as a dependency, as it should be

[2021-09-04 14:35] onichandame opened #986 "[bug] wrong dependency declaration"
### Problem

The `abortable-iterator` package is a direct dependency as it is required by `src/dialer/index.js`. But it is declared in the `devDependencies` section which results in a missing module error.

### Solution

move `abortable-iterator` from devDeps to deps

[2021-09-10 14:15] lidel commented on #967
@vasco-santos does this mean this issue can be closed?

[2021-09-17 00:49] itseasy21 commented on #986
bump

`D:/React-WorkSpace/COSC2410_SEM_2_2021/.yarn/cache/libp2p-npm-0.32.4-fe607aff53-99957c9e00.zip/node_modules/libp2p/src/dialer/index.js
Module not found: libp2p tried to access abortable-iterator, but it isn't declared in its dependencies; this makes the require call ambiguous and unsound.
`

[2021-09-17 08:43] achingbrain commented on #986
Could you open a PR that fixes this please?

[2021-09-17 09:08] onichandame commented on #986
I'd like to, but before that, I need to know whether `abortable-iterator` should be a `dependencies` or `peerDependencies`

[2021-09-17 09:35] achingbrain commented on #986
`dependencies`

[2021-09-17 16:48] achingbrain commented on #900
I'm still seeing this happen:

[code]

It's trying to dial a peer with more than 10x addresses:

[code]

We just need to handle peers like this.  Put the dials in a queue or increase the number of listeners or something.

[2021-09-20 13:00] #967 closed

[2021-09-21 07:36] #986 closed

[2021-09-22 17:44] dapplion opened #996 "Huge dial errors"
[code]

Produces huge wrongly formated errors.

[code]

In the above error `e.message` starts with a newline character and contains the entire stack trace. See below I'm printing `{ emessage: e.message }` after catching an error from dial()

[code]

This makes it very hard to render nice error messages in log driven applications

- **Version**:
`libp2p` v0.32.4

[2021-09-24 14:18] BigLep commented on #996
@dapplion : thanks for reporting.  Given current resourcing, I don't see PL maintainers getting to this soon.  A contribution is welcome here. Do you want to take this on?

[2021-10-01 11:54] achingbrain opened #1005 "Autonat support"
An implementation of Autonat compatible with https://github.com/libp2p/specs/tree/master/autonat and https://github.com/libp2p/go-libp2p-autonat is required.

See also: https://docs.libp2p.io/concepts/nat/

[2021-11-04 16:37] TheStarBoys opened #1014 "The content in js-libp2p/examples/auto-relay/README.md went wrong"
#### Description:

Some multiaddrs in the context in README.md file do not match.
#### Steps to reproduce the error:

when running the following:
`node relay.js`
We got this:
[code]
then running `node listener.js` with `the relay node's multiaddr`, so we should run the following:
`node listener.js /ip4/192.168.1.120/tcp/61592/ws/p2p/QmWDn2LY8nannvSWJzruUYoLZ4vV83vfCBwd8DipvdgQc3`
rather than:
`nod

[2021-11-08 14:41] achingbrain opened #1018 "docs: connection link is broken"
`Connection` link is broken in this section: https://github.com/libp2p/js-libp2p/blob/master/doc/API.md#libp2pconnectionmanager

[2021-11-10 14:23] christroutner opened #1019 "npm install fails: 'TS2349: This expression is not callable'"
- **Version**:

0.33.0

- **Platform**:

Linux trout-dev 5.11.0-34-generic #36~20.04.1-Ubuntu SMP Fri Aug 27 08:06:32 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

- **Subsystem**:

N/A

#### Severity:

High

#### Description:

Trying to install the `master` branch (commit a335fda) as well as the latest release (v0.33.0) commit, both fail on `npm install`

Node version: v14.17.6
npm version: 7.23.0
OS:

[2021-11-12 09:14] vasco-santos commented on #1019
Thanks for reporting this @christroutner

Likely some dependency creating this issue. I will get it fixed today

[2021-11-12 09:34] #1019 closed

[2021-11-12 09:35] vasco-santos commented on #1019
Temporarily added a ts ignore on our end until `private-ip` module gets fixed

[2021-11-12 15:28] BigLep opened #1021 "[Tracker] js-libp2p getting full Type Script support"
A few years ago we took the decision on TypeScript to not convert modules to the language, because it's not a standard, it's controlled by a single vendor, it requires lots of extra tooling and there were far more JavaScript developers than TypeScript developers, and all TypeScript developers could write JavaScript but the reverse was not always true.

We were going to use JSDoc comments to genera

[2021-11-12 15:48] BigLep commented on #955
Closing because https://github.com/libp2p/js-libp2p-interfaces/pull/107 was merged.

[2021-11-15 07:30] dapplion commented on #1021
:heart_eyes:

[2021-11-16 15:55] #1018 closed

[2021-11-19 15:10] lidel opened #1029 "Implement Circuit Relay v2 in JS"
go-ipfs 0.11 will ship with circuits v2, js-ipfs should be able to talk to them.

Ref. https://github.com/libp2p/specs/blob/master/relay/circuit-v2.md

[Update 2023-01-05] In-progress PR:
https://github.com/libp2p/js-libp2p/pull/1533

https://github.com/libp2p/js-libp2p/issues/1029#tasklist-block-70c5c890-a1dc-436c-91b8-47f5543d0b27

[2021-11-26 15:37] #1014 closed

[2021-11-26 16:03] koozcoo commented on #898
Hello, is this issue still relevant ? I am interested to be involved in this repo. Is there any live chat where we can discuss such things ? The discord invite seems outdated and on matrix #libp2p I can't reach anyone related to this project. Thank you

[2021-12-02 11:49] oed opened #1043 "Same pubsub messages propagated multiple times"
# Incident report from 3Box Labs team
The following issue was observed in our js-ipfs nodes which serves the Ceramic network. We have one shared pubsub topic across these nodes (and nodes run by other parties in the Ceramic network).

- **Version**:
[code]
- **Platform**:
We run js-ipfs in a Docker container hosted on AWS Fargate on Ubuntu Linux. The container instance has 4096 vCPU units and 8192

[2021-12-06 09:17] hnagrath09 opened #1049 "The property 'options.publicKeyEncoding.format' is invalid."
- **Version**: libp2p -> 0.35.1

- **Platform**: 20.6.0 Darwin Kernel Version 20.6.0: Mon Aug 30 06:12:21 PDT 2021; root:xnu-7195.141.6~3/RELEASE_X86_64 x86_64

#### Severity: Critical - System crash, application panic.

#### Description:
While following the getting started documentation for libp2p js, I got hit by this error when using `node src/index.js` command.

[code]

I switched to `0.34.0`

[2021-12-06 16:11] wemeetagain commented on #1043
I'm thinking it should be under gossipsub.

Looking at gossipsub, I don't see any 6 hr timeouts by default.
The [`seenCache`](https://github.com/ChainSafe/js-libp2p-gossipsub/blob/v0.12.1/ts/index.ts#L437) is what filters out duplicate messages, and by default, the TTL for cache entries is [30 seconds](https://github.com/ChainSafe/js-libp2p-gossipsub/blob/v0.12.1/ts/constants.ts#L217).

A few miti

[2021-12-06 18:25] vasco-santos commented on #959
Hello @mcclure

On a quick check (not tested at all), I believe you are missing to encode/decode the length-prefixed data in https://github.com/mcclure/ts-hello-bug/blob/dht-stream-garbage-bytes/src/index.tsx#L138

Have a look into the chat example https://github.com/libp2p/js-libp2p/blob/master/examples/chat/src/stream.js#L25  , probably also needs to the write side

[2021-12-06 19:03] achingbrain commented on #1049
Please upgrade to node 16.

[2021-12-06 19:54] #900 closed

[2021-12-07 09:30] oed commented on #1043
This seems like it could likely limit the impact, but not prevent the issue.

This is interesting, but we don't have timestamps in all of our messages so it wouldn't work universally.

Could this really explain messages being observed over 100 times?

[2021-12-11 07:08] hnagrath09 commented on #1049
Using `node v16.3.0`. I am not seeing this issue in a new project which is using `0.35.2` version of `libp2p`. I guess we can close this issue.

[2021-12-11 19:43] achingbrain opened #1060 "Per-component metrics"
I'd like to get some insight into what's going on inside a libp2p node.  At the moment the metrics are a bit limited, only focussing on bandwidth stats for peers and protocols and few other bits, from what I can see.

It would be really useful to be able to get component-specific metrics to really see what's going on.

How about something like:

[code]

This would set per-component metrics, eg:

[

[2021-12-14 09:02] vasco-santos commented on #1060
I think this is super valuable! For further iteration, we should look into getting this closer to what we want to have with https://github.com/libp2p/observer-toolkit/tree/master/packages/proto

On previous hack week, I did a small POC in the daemon https://github.com/libp2p/js-libp2p-daemon/pull/45 and I think this will likely be something we want to use in the daemon. But, there are useful thing

[2021-12-15 08:03] #1060 closed

[2021-12-19 13:57] zhaoyiming0803 opened #1066 "tutorial error"
I wrote a demo according to the official guide(https://docs.libp2p.io/tutorials/getting-started/javascript/), but an error occurred in terminal

- **Version**:

[code]

node.js version: v14.18.2

npm version: v6.14.15

Now, i do not want to upgrade the version of node.js and npm, is there any solution ?

- **Platform**:

``` macOS 11.6```

#### Severity:

High

#### Description:

This is the error

[2021-12-21 15:45] TimDaub commented on #1066
I get the same error

[2021-12-21 15:50] TimDaub commented on #1049
I can confirm that this works.

[2021-12-21 16:13] vasco-santos commented on #1066
Hey folks,

Thanks for reaching out. From `0.35` libp2p is only supported using Node15+ https://github.com/libp2p/js-libp2p/releases/tag/v0.35.0

Per https://nodejs.org/en/about/releases/#releases we are only supporting the Active releases of libp2p. Apologies for the inconvenience and let me know if this is a problem with a newer version of Node. Closing for now, but feel free to reopen

[2021-12-21 16:13] #1066 closed

[2021-12-21 16:13] vasco-santos commented on #1049
Hey folks,

Thanks for reaching out. From `0.35` libp2p is only supported using Node15+ https://github.com/libp2p/js-libp2p/releases/tag/v0.35.0

Per https://nodejs.org/en/about/releases/#releases we are only supporting the Active releases of libp2p. Apologies for the inconvenience and let me know if this is a problem with a newer version of Node. Closing for now, but feel free to reopen

[2021-12-21 16:13] #1049 closed

[2021-12-22 09:26] tuyennhv opened #1073 "Typescript build error"
- **Version**:
0.35.6

- **Platform**:
Mac OS X

- **Subsystem**:

#### Severity:
High - Lodestar could not compile

#### Description:
Compilation error when using v0.35.6 with lodestar:

[code]

#### Steps to reproduce the error:
We can see the same issue even in the `dist/src` folder of libp2p

[2021-12-23 03:23] tuyennhv commented on #1073
The 2nd error is related to the `native-abort-controller` package

[code]

[2021-12-23 13:11] TimDaub opened #1081 "sucessfully dialing a peer doesn't emit peer:connect event"
Something similar was also discussed in https://github.com/libp2p/js-libp2p-bootstrap/issues/109, but basically what I tried to do was to follow the bootstrapping example here: https://github.com/libp2p/js-libp2p/tree/master/examples/discovery-mechanisms#1-bootstrap-list-of-peers-when-booting-a-node

And using only js-libp2p-bootstrap, it is said that I should get logs of connecting peers. Here's

[2021-12-23 14:25] TimDaub commented on #104
What's the latest status?

[2021-12-24 14:46] #1073 closed

[2021-12-27 01:10] tuyennhv opened #1088 "Typescript build error"
This is a continuation of #1073

- **Version**:
0.35.6

- **Platform**:
Mac OS X

- **Subsystem**:

#### Severity:
High - Lodestar could not compile

#### Description:
Compilation error when using v0.35.6 with lodestar:

[code]

#### Steps to reproduce the error:
Build 0.35.6 with lodestar

[2021-12-27 01:10] tuyennhv commented on #1088
PR in progress https://github.com/achingbrain/native-abort-controller/pull/5

[2021-12-30 20:01] mcclure commented on #959
Hi @vasco-santos , thank you.

So, I think this misunderstands what the code is doing. I am not using it-length-prefixed. I am prefixing the length myself, using "uleb" (a [variable length int encoding](https://en.wikipedia.org/wiki/LEB128)). The sender [sends itPipe first the uleb-encoded length then the payload](https://github.com/mcclure/ts-hello-bug/blob/dht-stream-garbage-bytes/src/index.tsx#

[2022-01-02 03:59] mcclure commented on #959
@vasco-santos , to update , I have simplified the example further. [Here is the new branch](https://github.com/mcclure/ts-hello-bug/tree/dht-stream-garbage-bytes-no-uleb).

The length encoder now encodes a single-byte Uint8Array containing a single number for the length prefix. In this simplified version I still get garbage as the first received byte. So I now have on the sending side:

[code]

Th

[2022-01-03 03:11] Manwe-777 commented on #1066
@vasco-santos I am having the exact same error still, on a fresh install of the demo project using node `v16.5.0`, both on Windows and Ubuntu.
Also tested node 17, same result. any clues what might it be?

![image](https://user-images.githubusercontent.com/4711391/147897308-1b8582f5-7204-437d-ac4e-afcdee9f5be4.png)

[2022-01-03 03:50] tuyennhv commented on #1088
there's a work in progress to remove `abort-controller` dependencies https://github.com/ipfs/js-ipfs/issues/4001, need to confirm again after that's done

[2022-01-03 23:37] milahu opened #1103 "bump nat-api from 0.3.1 to 0.3.2"
note to future, since nat-api 0.3.2 is not yet released

why? merge bugfix https://github.com/alxhotel/nat-api/pull/23

this bug is blocking ipfs in my app

[2022-01-05 01:10] D4nte opened #1105 "`Peer` type not defined in`peer-store` since 0.34.0"
- **Version**: 0.34.0 to 0.35.8
- **Platform**: `Linux 5.10.84-1-MANJARO #1 SMP PREEMPT Wed Dec 8 09:50:30 UTC 2021 x86_64 GNU/Linux`

- **Subsystem**: peer-store
-
#### Severity: High
API breakage

#### Description:
Using TypeScript,  use the `Peer` type defined in `peer-store/index.js`. Working fine with 0.33.0.
Said `Peer` type is not present in peer-store/index.d.ts since 0.34.0 and onward.

#

[2022-01-07 08:47] vasco-santos commented on #959
Hey @mcclure

From your stdout it seems like it would be only the first entry of lengthBuffer:

[code]

Anyway, I just did a small test case:

[code]

Which logs:

[code]

Could you get this example script and change it to try to replicate your situation? It will be easier to diagnose in an isolated stream usage

[2022-01-09 19:50] gitaaron opened #1110 "go-js echo / plaintext fails to send message"
- **Version**: 0.35.8

- **Platform**: Darwin [REDACTED]-Mac-mini.local 20.5.0 Darwin Kernel Version 20.5.0: Sat May  8 05:10:31 PDT 2021; root:xnu-7195.121.3~9/RELEASE_ARM64_T8101 arm64

- **Subsystem**: Insecure

#### Severity: Medium

#### Description:
I tried to dial the [JS echo listener example](https://github.com/libp2p/js-libp2p/blob/master/examples/echo/src/listener.js) from the [Go echo

[2022-01-10 00:24] wemeetagain commented on #1021
Not sure what the current scope of this issue is, but would be nice to include lower level dependencies in this, too.
eg: @achingbrain 's `it` monorepo and @alanshaw 's `it-*` packages, things like that.

This would also be an opportunity to tighten up the types (remove `any` types).

[2022-01-10 20:20] mcclure commented on #959
Thank you, I will attempt this.
I do have a question.
When I run this script locally by itself, it does indeed print:

I notice the lengths of the received objects are the same as the length of the sent objects.
Is js-libp2p-mplex a stream of *bytes*?
Or is it a stream of known-length *byte arrays*?
I had been assuming it was a stream of bytes and therefore message length must be encoded separatel

[2022-01-11 09:02] vasco-santos commented on #959
Yes, by the protocol itself: https://github.com/libp2p/specs/tree/master/mplex#message-format The message size is also restricted https://github.com/libp2p/js-libp2p-mplex/blob/master/src/restrict-size.js

So per above yes, but it is transparent for the user. If you want for some reason to also know the lenght, you need to pass it as well.

[2022-01-11 09:03] vasco-santos commented on #959
I think the overall problem with your solution is that you are providing a number? to the source:

[code]

And it is transformed from number on the wire.

[2022-01-12 18:24] mcclure commented on #959
Vasco, I modified your script into a truly minimal example with DHT and web support added (to match the conditions where I saw the garbage bytes). This modified test **worked** without bugs. This implies strongly that the bug is at my end and not in libp2p, probably in my byte-reader wrapper.

(The new/minimal app is at the updated [no-uleb](https://github.com/mcclure/ts-hello-bug/tree/dht-stream-

[2022-01-13 15:37] vasco-santos commented on #959
Happy that helped decreasing the debugging surface. Feel free to re-open if you need further discussion regarding this.

I don't have any other ideas of where you should look into without going through all your codebase. So, I would suggest incremental adding your code on top of the branch working until you get to the root issue.

Yes please!

[2022-01-13 15:37] #959 closed

[2022-01-20 17:56] wemeetagain commented on #1021
Another angle worth tackling that may be revisited with better typescript tooling:
docs generation from types

[2022-01-20 17:56] stbrody commented on #1043
Just wanted to let you all know we've experienced this two more times in the last week.  We shut down all the nodes on out network at the same time, then brought them back online, and that seemed to resolve things.  We're going to look into increasing the `seenCache` TTL next and see if that helps

[2022-01-20 18:00] achingbrain opened #1134 "Flaky tests"
[code]

[2022-01-20 18:13] smrz2001 commented on #1043
Some additional information - we're seeing tens of thousands of messages like this one when the issue occurs:
[code]
This is not one of our nodes.

[2022-01-21 08:44] #1134 closed

[2022-01-21 15:03] wemeetagain commented on #1088
may be worth re-checking now

[2022-01-24 03:38] tuyennhv commented on #1088
@wemeetagain  latest master works with version 3.0.0 of timeout-abort-controller, I'm working on fixing types in lodestar.

@achingbrain waiting for a new release of js-libp2p to close this issue

[2022-01-24 11:09] tuyennhv commented on #1088
issue is fixed on master, closing

[2022-01-24 11:09] #1088 closed

[2022-01-25 16:27] #175 closed

[2022-01-28 16:08] lidel commented on #1043
@vyzo any ideas what data should we gather / look at to get closer to the cause here?

[2022-01-28 16:34] vyzo commented on #1043
A possible scenario where this can occur is when a message is resent outside the timecache/seen window.
Was there some very slow receivers involved?

The way to avoid this problem in general is to either increase the timecache window or to introduce a validator that can persist seen message ids to disk.
It might be worthwile plugging the backend for this into pubsub directly.

When there is a bloc

[2022-01-28 16:35] vyzo commented on #1043
note that the anomalous behaviour may well be a replay attack.

[2022-01-28 16:53] vyzo commented on #1043
also note that the disk persistent data structure should only be used after validation, to avoid DoS vectors tha clog it with invalid messages; this is why it is usually done in the validator.

[2022-01-29 11:01] achingbrain commented on #1021
@wemeetagain yes to generated docs! Further discussion here - https://github.com/ipfs/js-ipfs/issues/4021

[2022-01-30 11:34] D4nte commented on #1105
Now resolved

[2022-01-30 11:34] #1105 closed

[2022-01-31 16:53] stbrody commented on #1043
I have a half-baked theory here.  We know that js-ipfs has a memory leak - we consistently see memory usage grow over time on all our nodes, and we've had reports of similar from the community for nodes they are running.  My theory is that a node on the network is close to running out of memory, and is spending longer and longer on each garbage collection cycle.  This causes CPU usage to spike and

[2022-02-03 20:59] nazar-pc opened #1152 "[feature request] Yamux support"
Since there is no placeholder repository and no corresponding issue in this repo yet, I decided to create one here.

There is Yamux implementation in TypeScript at https://github.com/th-ch/yamux-js, it must be possible to create `js-libp2p-yamux` on top of it and make Yamux the go to implementation across Go/Rust/JS.

I don't have time and experience to do it right now, but if no one takes it, I m

[2022-02-04 16:01] lidel commented on #1043
Unless anyone comes up with repro/fix, need to close this – we are lacking an actionable next step here.

[2022-02-09 13:17] mpetrunic commented on #789
@jacobheun @lidel  I'm thinking of taking this on but wanted to check first. So to do this, when there is no relay specified, I'm supposed to send a CAN_HOP request to every connection in the connection manager to try to discover relay?

Should we prioritize this or #1029 ?

[2022-02-09 13:18] mpetrunic commented on #1152
@lidel I would love to take this if we make it priority^^

[2022-02-10 15:44] achingbrain commented on #1021
@BigLep yes, that one can be closed

[2022-02-10 16:46] jacobheun commented on #789
@mpetrunic I've been away from libp2p for a bit but I would say #1029 would be the priority. Circuit v2 will have more utility (although much more involved). The main reason this was a P1 when we created it was that it broke some existing behaviors folks were depending on with js-ipfs in browser being able to dial peers through a local go-ipfs node. This is handy if you have that local node, and i

[2022-02-10 19:25] BigLep commented on #659
Resolving in favor of https://github.com/libp2p/js-libp2p/issues/1021

[2022-02-10 19:25] #659 closed

[2022-02-11 11:14] mpetrunic commented on #1029
I would like to take this on. Should I rip circuit out of libp2p and develop it in separate repository?

[2022-02-11 15:33] BigLep commented on #1043
TODO: we'll create an issue in js-ipfs to increase the default to 2 min

[2022-02-15 09:52] mpetrunic commented on #1029
@achingbrain We agreed on a call to do it in a separate repo, but I just saw there is already https://github.com/libp2p/js-libp2p-circuit deprecated repo. Do you know why this stuff was pulled back into js-libp2p?
If we still wanna do it in a separate repo, should we unarchive this repo?

[2022-02-15 09:52] mpetrunic commented on #1029
cc @jacobheun maybe you can shed some light here.

[2022-02-15 10:52] jacobheun commented on #1029
@mpetrunic the original consolidation effort is at https://github.com/libp2p/js-libp2p/issues/384, and it links to a larger [discussion in js-ipfs](https://github.com/ipfs/js-ipfs/issues/2222). The main reasoning for pulling in these core modules to js-libp2p is to reduce the overhead of having to do independent releases and rollups for modules that don't provide any value as standalone modules. I

[2022-02-15 12:08] dapplion opened #1158 "uncaughtException: cb is not a function"
Lodestar users have reported issues with libp2p's dependency nat-api

See https://github.com/ChainSafe/lodestar/issues/2996

[code]

Does Nat manager do any other vital task besides calling UPnP to open ports? What are the consequences of disabling it?

[2022-02-15 12:40] mpetrunic commented on #1029
Honestly, my only reasoning was that we could do it in typescript and ease in migration to typescript. Will open PR with circuit v2 on libp2p repo!

[2022-02-15 19:02] dapplion commented on #1158
@twopercent Thanks! Are you running Mainnet or Prater?

If you are running a testnet you can run the latest nightly build which includes a fix [#3761](https://github.com/ChainSafe/lodestar/pull/3761) . Note that this release is not guaranteed to be stable https://hub.docker.com/layers/chainsafe/lodestar/next/images/sha256-176030b7081b9409e8b84302eb50ba4fc4703d62e42dc76dabcdc85b12def65e?context=exp

[2022-02-17 02:49] twopercent commented on #1158
Mainnet.

It has been running for most of today so I will leave it. If it crashes again, I will fire up a testnet with the fix.

[2022-02-17 04:05] dapplion commented on #1158
Then stay at your current version. This error is just an annoyance should not cause issues to the node performance. However we merged this PR so in the next stable release you will not see this errors again? https://github.com/ChainSafe/lodestar/pull/3761

[2022-02-17 04:06] #1158 closed

[2022-02-18 16:10] lidel commented on #1110
@gitaaron what is the problem / use case  you are trying to solve?

[2022-02-18 21:33] gitaaron commented on #1110
hi @lidel thanks for looking at this!  The use case is to assist in development/debugging go-js interop issues.

Here is a little more context in case it is helpful.  I was looking at go-js webrtc interop which I believe is still an [issue](https://github.com/libp2p/js-libp2p-webrtc-direct/issues/127) tagged with help wanted.

To assist myself in debugging the problem I figured it might help to lo

[2022-02-20 17:35] odesenfans opened #1160 "Task to find closest peers fails when no peer is connected"
- **Version**: 0.36.2

- **Platform**: Linux odesenfans-desktop 5.13.0-28-generic 20.04.1-Ubuntu SMP x86_64 x86_64 x86_64 GNU/Linux
- **Subsystem**: Peer Routing

#### Severity: Low

#### Description:

The `_findClosestPeersTask` task from the peer routing module throws an error when no peer is connected. I am using the JS libp2p daemon for an application and I noticed errors in the logs when star

[2022-02-22 03:45] aomini opened #1162 "Getting started javascript example from the docs does not work."
The issue is in the package build of libp2p-mplex.
The code below from the [official tutorial ](https://docs.libp2p.io/tutorials/getting-started/javascript/) results into error. The error message is `Error [ERR_PACKAGE_PATH_NOT_EXPORTED]: No "exports" main defined in C:\[...]\node_modules\libp2p-mplex\package.json`.

**Versions**
[code]

This is probably happening because the package.json of `libp

[2022-02-23 09:59] mxinden commented on #1029
:wave: libp2p steward, rust-libp2p maintainer here. I was involved in the final steps of the protocol design and implemented Circuit Relay v2 on the Rust side recently. Happy to help from the libp2p side, e.g. with deployments to test against. Unfortunately we don't have a test-suite you could develop against. @mpetrunic feel free to ping me here or on the various other communication channels.

[2022-02-24 12:59] Rio-Lv commented on #1162
I just changed some dependencies versions in package.json
These versions seem to work
`{
    "name": "what ever you want",
    "version": "1.0.0",
    "description": "",
    "main": "src/index.js",
    "scripts": {
        "test": "echo \"Error: no test specified\" && exit 1"
    },
    "keywords": [],
    "author": "",
    "license": "ISC",
    "dependencies": {
        "libp2p": "^0.34.0",

[2022-02-24 13:01] Rio-Lv commented on #1162
I changed some dependency versions in package.json
these ones seems to work so far
[code]

[2022-02-24 14:03] mpetrunic commented on #1029
@mxinden Hey, tnx a lot for the offer, will ping you if I don't find anything. I'm currently struggling to get js-js test to pass 😅
Do you have some interop setup in you use?

[2022-02-28 04:24] D4nte opened #1167 "WebRTC Direct example does not work with Firefox"
- **Version**: 6a3e37f2506e0ae07a0b154dc9e127e30d65d7c2
- **Platform**: Linux 5.10.98-1-MANJARO #1 SMP PREEMPT Sun Feb 6 12:22:54 UTC 2022 x86_64 GNU/Linux with Firefox 97.0.1 (64-bit)

- **Subsystem**: js-libp2p-webrtc-direct

#### Severity: Critical: Connection fails due to thrown error

#### Description:

When running https://github.com/libp2p/js-libp2p/tree/master/examples/webrtc-direct with F

[2022-02-28 14:58] mxinden commented on #1029
Unfortunately not. We are working on interop tests via https://github.com/testground/testground though that is still far from complete.

For now I can only offer Circuit Relay v2 deployments to test against @mpetrunic.

[2022-03-03 05:05] marten-seemann commented on #1152
*Maintainer of go-libp2p here* 👋

This would be **super** valuable for the entire libp2p ecosystem. mplex is a terrible muxer, yet we've been keeping support for it, just because JS didn't have support for any other muxer.

Do we have any data on how spec-compliant / reliable https://github.com/th-ch/yamux-js is? The repo doesn't have many stars or users, so there might be some bugs lurking in the

[2022-03-03 09:14] mpetrunic commented on #1152
I think  https://github.com/th-ch/yamux-js is a good start, but honestly, I would rather fork it, convert it to use Uint8Array (instead of Buffer) to be in line with the rest of js-libp2p (and for the smaller bundle in browser) and export js-libp2p compliant muxer interface.

@BigLep Since there is quite some work on #1166 should I pause this and focus on this issue instead? Seems like this is a l

[2022-03-03 17:08] vasco-santos commented on #1029
@mpetrunic there are some interop tests go<->js via IPFS: https://github.com/ipfs/interop/tree/master/test/circuit

You can link libp2p in that repo and test it

[2022-03-03 23:51] BigLep commented on #1152
@mpetrunic : thanks for raising.  I started a public Discord thread on priorities here with my thoughts: https://discord.com/channels/806902334369824788/949091153247084605/949091166694027294 .  We can also discuss more tomorrow during js-libp2p triage.

[2022-03-04 19:55] lidel commented on #1043
@oed I am afraid I don't have the full context here, mind closing this issue and filling one https://github.com/ipfs/js-ipfs about changing the default?

[2022-03-11 15:59] lidel commented on #1152
Triage note:
- done: researched https://github.com/th-ch/yamux-js - identified gaps around working with streams
- next: implementing gaps + migrating forked yamux-js to async/iter

[2022-03-11 22:17] stbrody commented on #1043
I opened up a PR on the js gossipsub implementation: https://github.com/ChainSafe/js-libp2p-gossipsub/pull/200

[2022-03-15 19:27] gluax opened #1169 "Typescript example"
Hey all, finding the typescript docs/information for this project is not the best.

I'm trying to follow the examples while typing it via scouring issues and google to various degrees of mixed success. It would help if there were actual examples for typescript(even if it's mixed with some js at the moment) as I'm getting numerous errors that I cannot find the solution to.

I'll attach my code here

[2022-03-17 16:20] gluax commented on #1169
For those looking for an example I managed to get around typing issues with the following code:

[code]

[2022-03-17 20:07] zeroxbt opened #1170 "peer-routing getClosestPeers returns more than K nodes when using kad dht"
The `getClosestPeers` function in `peer-routing.js` returns more than K nodes when using the kad dht module.

The reason for this is that the `getClosestPeers` function in the kad-dht module yields not only `FINAL_PEER` events, but also `DIALING_PEER, PEER_RESPONSE and SENDING_QUERY`events. In order to be compatible, either `getClosestPeers` from kad-dht module should return only `FINAL_PEER` even

[2022-03-29 14:32] #1021 closed

[2022-04-03 16:02] dapplion commented on #1021
Let's goo! Excuse my past self for some pushy comments while asking for this some months ago. Thank you so much to the whole team for the hard work. You've made a downstream dev really happy :pray:

![bring-in-celebration-meme](https://user-images.githubusercontent.com/35266934/161436850-4c71b5e5-b394-4a09-b00a-647e6036dbdd.jpg)

[2022-04-05 15:45] mpetrunic commented on #1167
@D4nte is this resolved with https://github.com/libp2p/js-libp2p-webrtc-direct/pull/147 ?

[2022-04-05 15:45] mpetrunic commented on #1081
@TimDaub is this still happening with latest libp2p version?

[2022-04-05 15:56] mpetrunic commented on #1162
Triage notes: @Rio-Lv could you open PR to fix this?

[2022-04-06 03:46] D4nte commented on #1167
Fixed with https://github.com/libp2p/js-libp2p-webrtc-direct/pull/147

[2022-04-06 03:46] #1167 closed

[2022-04-11 17:03] b1018043 opened #1189 "Behavior of LIBP2P_FORCE_PNET"
- **Version**: N/A

- **Platform**: N/A

- **Subsystem**: N/A

#### Severity: Low

#### Description:

js-libp2p throw error when LIBP2P_FORCE_PNET is 0 and don't use Protector. Because, 0 (string) is true and js-libp2p enforce to use private network. However, go-libp2p don't throw an error when LIBP2P_FORCE_PNET is 0.

I think it should be that for intuitive dealing
[code]
or if it should be the s

[2022-04-15 10:16] elvinest commented on #1162
I have a problem with libp2p-mdns
`
const MulticastDNS=require('libp2p-mdns');
......
peerDiscovery:[
                new MulticastDNS({
                    interval: 2000
                })
            ]
......
`
throw new Error('needs own PeerId to work')

I checked on github the version is 1.0.4 (https://github.com/libp2p/js-libp2p-mdns/blob/master/package.json) and the version I installed is 0

[2022-04-20 19:22] aurium commented on #599
It was not solved. Try `ipfs.stats.bw({...})`

[2022-04-27 05:12] mubeenghauri opened #1197 "Unable to dial peer when on alternate ip versions"
- **Version**: `0.36.2`

- **Platform**: Chrome 100.0.4896.75  @ Ubuntu 21.04

- **Subsystem**:  **Dialer**

#### Severity: High

#### Description:

I am using orbitdb to make a small chat app. Over the internet, i have to ipfs.swarm.connect to reach a peer. This usually works, except for a specif case i.e when i have an ipv4 address and the peer i'm trying to dial (swarm.connect uses libp2p.dial

[2022-05-01 14:39] piboistudios opened #1202 "Relay Storage"
https://github.com/libp2p/js-libp2p/blob/d16817ca443443e88803ee8096d45debb14af91b/src/circuit/circuit/hop.ts#L70

Does the TODO here refer to storing messages that cannot be delivered? (e.g. destination peer not online)

I am wondering because I'd like to implement this functionality for my own use cases and am not sure if this is where such logic should ultimately go, or if it fits better elsewhe

[2022-05-03 15:27] BigLep commented on #1152
This work is happening in https://github.com/ChainSafe/js-libp2p-yamux

[2022-05-03 15:57] BigLep commented on #1189
2022-05-03 conversation: ultimately we want to be consistent with environment variable handling in the codebase (do we coerce numbers/strings to booleans?).  The current maintainers are not up on this and need to look into it since we don't use many environment variables.

@b1018043: feel free to poke around for what other patterns you see in the codebase.

[2022-05-03 16:00] BigLep commented on #1189
2022-05-03 followup: @achingbrain will provide more comments.

[2022-05-03 16:10] achingbrain commented on #1189
See https://github.com/libp2p/js-libp2p/pull/1174#issuecomment-1116276348

[2022-05-03 16:10] #1189 closed

[2022-05-03 18:00] BigLep commented on #1152
2022-05-03 conversation: for testing this work against a go-libp2p implementation, it would be easiest if https://github.com/libp2p/go-libp2p-daemon/issues/266 was handled.

[2022-05-04 14:20] TimDaub commented on #1081
sorry I sadly don't have time to look into this right now, but the repository where this happened is public at https://github.com/rugpullindex/rugpulld

[2022-05-10 15:34] mpetrunic commented on #1081
Closing unless somebody tries it out and it doesn't work.

[2022-05-10 15:34] #1081 closed

[2022-05-16 15:57] achingbrain commented on #1021
This has shipped in `libp2p@0.37.0` 🍾

[2022-05-17 15:44] mpetrunic commented on #1197
@mubeenghauri Could you send us a reproducible example?

It would be great if you could add it as a test here: https://github.com/libp2p/js-libp2p/blob/master/test/dialing/direct.node.ts

[2022-05-18 09:26] sneaker1 opened #1218 "peerstore.peers is undefined"
- **Version**:
v0.36.2

- **Platform**:
Ubuntu 22.04 Chrome Version 101.0.4951.54

- **Subsystem**:
peerstore.peers

#### Severity:

#### Description:
Since upgrading to v0.36.2 peerstore.peers is undefined.

[2022-05-18 12:26] achingbrain opened #1219 "Flaky metrics test"
This test fails intermittently, it should be fixed:

[code]

[2022-05-18 12:27] achingbrain commented on #1218
That is correct, please see the [PeerStore interface](https://github.com/libp2p/js-libp2p-interfaces/blob/master/packages/libp2p-interfaces/src/peer-store/index.ts#L226-L244) for available methods and properties.

[2022-05-18 12:27] #1218 closed

[2022-05-18 12:33] achingbrain commented on #1202
The current implementation is of Circuit Relay v1 - there's a v2 in the works here - https://github.com/libp2p/js-libp2p/pull/1166

It's going to ultimately replace v1 which will be removed since go-libp2p has no longer supports v1 so if you'd like to help out, getting the v2 PR up to speed is where your effort would be best directed.

[2022-05-19 22:42] Apple1204 opened #1222 "Error: At least one transport module is required"
- **0.37.0**:

- ** 64-bit (Windows)**:

file:///D:/My%20Data/Apple(Project)/0x21/backend/node_modules/libp2p/dist/src/config.js:81
        throw errCode(new Error(messages.ERR_TRANSPORTS_REQUIRED), codes.ERR_TRANSPORTS_REQUIRED);
                      ^

Error: At least one transport module is required
    at validateConfig (file:///D:/My%20Data/Apple(Project)/0x21/backend/node_modules/libp2p/dis

[2022-05-24 15:46] achingbrain commented on #1222
Please can you post your config?  You should be including at least one transport module otherwise you cannot send or receive messages.  See the [transports example](https://github.com/libp2p/js-libp2p/blob/master/examples/transports/1.js#L7-L26) if this doesn't make sense.

[2022-05-24 15:47] wemeetagain commented on #1110
linked to https://github.com/libp2p/js-libp2p/pull/1111

[2022-05-24 15:51] wemeetagain commented on #1169
Please try the latest version of libp2p, now written in Typescript. The types should be a lot better. Feel free to open a new issue if you find other type issues.

[2022-05-24 15:51] #1169 closed

[2022-05-24 15:52] wemeetagain commented on #1170
@zeroxbt can you open a PR to fix this? :pray: :pray:

[2022-05-24 16:00] wemeetagain commented on #1202
Closing in favor of #1166
No more changes will be made to relay v1 bc its being deprecated/removed.

[2022-05-24 16:00] #1202 closed

[2022-05-24 16:18] achingbrain commented on #1222
Are you using `libp2p@37.x.x`?  If so the config object has changed in this release - please see the [upgrade guide](https://github.com/libp2p/js-libp2p/blob/master/doc/migrations/v0.36-v.037.md) for the changes.

Also note that most of the `libp2p` modules have been renamed - where they were `libp2p-tcp` they are now `@libp2p/tcp`, `libp2p-websockets` is now `@libp2p/websockets` and so on.

[2022-05-24 16:21] Apple1204 commented on #1222
thanks for your help...
The issue was solved....

[2022-05-24 16:22] #1222 closed

[2022-05-26 13:49] wemeetagain opened #1228 "Configuration page needs updates"
Issues seen while migrating lodestar to latest libp2p:

- configuration page references peer store "persistence", no longer an option, should use `PersistentPeerStore` instead
- `persistent: boolean` listed in an unused interface in `src/index.ts`
- `dialer: {...}` referenced in configuration page, should instead be under `connectionManager`
- ...

[2022-05-26 20:39] sneaker1 opened #1229 "Discovery mechanisms example: Pubsub-Peer-Discovery not discovering peers."
In the discovery mechanism example Part 3 Pubsub based Peer Discovery is a problem.

https://github.com/libp2p/js-libp2p/tree/master/examples/discovery-mechanisms#3-pubsub-based-peer-discovery

If i run the 3.js i can not discover other peers.
Here is my output:
[code]
As you can see only the bootstrap peer-id is discovered.
The peer-ids of node 0 and node 1 are not discovered.

According to the e

[2022-05-30 07:27] D4nte commented on #939
I wonder if https://github.com/libp2p/js-libp2p/pull/1221 helps with this issue.

[2022-05-31 04:34] BigLep commented on #1152
@wemeetagain : I know it's been discussed at js-libp2p triage, but since various folks are watching this issue, can you provide an update on how this is going?  Is there any milestones or checkpoints here or a sense of timing?  Thanks.

[2022-05-31 15:49] wemeetagain commented on #1152
I've been busy with many competing priorities, I'm sorry.

I've pushed the latest progress here: https://github.com/ChainSafe/js-libp2p-yamux

I'd estimate its ~30% complete. The following is implemented:
- basic scaffolding of the muxer, management of streams
- frame decoding pipeline
- frame type handling
- stream closing / reseting

I'm working towards passing compliance tests, which would be a

[2022-05-31 16:00] mpetrunic commented on #1103
We aren't using nat-api lib anymore.

[2022-05-31 16:00] #1103 closed

[2022-06-02 20:05] wemeetagain commented on #1152
It's now passing the js-libp2p stream-muxer compliance tests.

I'll now be working on handling of window updates and additional features for parity with go-libp2p's implementation.

[2022-06-07 15:53] BigLep commented on #1197
@mubeenghauri : we're going to close for now given don't have a reproducible example.  Feel free to reopen if you're able to provide one.  Thanks.

[2022-06-07 15:53] #1197 closed

[2022-06-07 15:55] BigLep commented on #1160
@odesenfans : closing for now since haven't received confirmation that it's an issue in the latest version.  Feel free to reopen if it is.

[2022-06-07 15:55] #1160 closed

[2022-06-08 15:47] #1219 closed

[2022-06-10 18:14] sethhrbek commented on #1229
I believe the issue is that the `broadcast` function is publishing a message in a different format than `onMessage` is expecting to receive.

In versions prior to 5 (>= 4), `broadcast` was broadcasting via:
`publish(topic, encodedPeer)`

As of version 5 it is doing:
[code]

`onMessage` has signature:
`  _onMessage (event: CustomEvent<Message>)`

And `Message` interface is:

[code]

[2022-06-14 02:23] noliveira95 opened #1242 "Failed to resolve entry for package "libp2p". The package may have incorrect main/module/exports specified in its package.json"
- **Version**: libp2p 0.37.3

- **Platform**: macOS Monterey v12.4, Darwin Kernel Version 21.5.0: Tue Apr 26 21:08:22 PDT 2022; root:xnu-8020.121.3~4/RELEASE_X86_64 x86_64, Brave Version 1.39.120 Chromium: 102.0.5005.99 (Official Build) (x86_64)

- **Subsystem**: libp2p-in-the-browser

#### Severity: Medium

#### Description: When attempting to run the libp2p-in-the-browser example, I cloned the j

[2022-06-16 04:01] noliveira95 commented on #1242
Ran new test, appears to be resolved

[2022-06-16 04:01] #1242 closed

[2022-06-19 18:19] wemeetagain opened #1854 "Compliance test cases should be commented"
Failing a compliance test often looks like:
[code]

Not particularly helpful. Debugging involves navigating to the source.

Ideally, each `expect` would be annotated with language relating the expectation

eg:
[code]

Or perhaps this issue could be rephrased more broadly to: "Review debugging experience for compliance tests"

[2022-06-21 17:06] achingbrain commented on #369
I'm looking at implementing this piece of functionality, `"keep-alive"` sounds good, but I think `"priority"` needs a bit more to it, in terms of connection pruning at least.

If you have two components that mark the same peer as `"priority"` but then one finds a better peer and cleans up after itself, removing the `"priority"` tag, the other component will get rug-pulled.

Instead tags could be s

[2022-06-22 10:55] achingbrain commented on #996
At the time this issue was opened, libp2p used [p-any](https://www.npmjs.com/package/p-any) to [dial every valid multiaddr](https://github.com/libp2p/js-libp2p/blob/1c2e4d89acbbd657f4dd44c93933d1a531a059f8/src/dialer/dial-request.js#L66) a given peer had which is where the error is coming from.

`p-any` depends on [p-some](https://www.npmjs.com/package/p-some), which depends on [aggregate-error](h

[2022-06-22 10:55] #996 closed

[2022-06-22 19:24] wemeetagain opened #1269 "Use/create a more intuitive `errcode`"
Current usage of errcode is not intuitive.
example:
[code]

Prefer an implementation like:
[code]

with usage then like:
[code]

[2022-06-22 21:13] wemeetagain opened #1853 "Stream interface suggestions"
1. Remove `abort` and merge behavior with `close`. (Behavior would be similar to `muxer.close`.) If the error is provided, the behavior is like `abort` is now. If the error is not provided, the behavior is like `close` now.

2. Rename `reset` to `destroy`. Current naming is somewhat confusing.

Thoughts from reviewing https://github.com/chainsafe/js-libp2p-yamux/pull/2 with @dapplion

[2022-06-24 11:28] jellllly420 commented on #1242
same error on wsl2 :(
wonder how you fix it
just retry?
thank you

[2022-06-24 11:56] jellllly420 opened #1273 "[ERROR] [plugin vite:dep-scan] Failed to resolve entry for package "libp2p"."
- **Version**:

0.37.3

- **Platform**:

Ubuntu 20.04LTS on wsl2

#### Severity:

High

#### Description:

I tried to run the example libp2p-in-the browser following the README.
However, vite threw an error after I run `npm start`. Details are as below:
[code]
![2022-06-24](https://user-images.githubusercontent.com/64725601/175528888-6d36c99e-3400-461d-9592-655990dcbd0c.png)
I expected it could ru

[2022-06-24 13:36] achingbrain commented on #1273
You may need to run:

[code]

[2022-06-24 13:39] achingbrain commented on #1228
Hand-written docs do get out of sync from time to time.  Would you like to submit a PR that brings everything up to date?

[2022-06-24 14:04] jellllly420 commented on #1273
Thanks!!

[2022-06-24 14:04] #1273 closed

[2022-06-28 15:54] BigLep commented on #680
2022-06-28 conversation: in general, it has been intentional for js-libp2p to not just strings to avoid ambiguity around peerIds, multiaddrs, etc.  There have been improvements in recent js-libp2p releases.  Another look at the Lodestar performance impacts will be taken once https://github.com/ChainSafe/lodestar/pull/4114 is addressed.

[2022-07-01 09:17] freddi301 opened #1286 "No "exports" main defined in <redacted>/node_modules/libp2p/package.json v 0.37.3"

[2022-07-01 10:43] freddi301 commented on #1286
will commonjs modules be supported?

[2022-07-04 09:48] limingth opened #1288 "bug report: examples/pubsub/message-filtering/1.js"
I just tested this example and found a bug, here is the origin code

[code]

addEventListener(**topic**,

this first param should be fixed as "message", not topic.

==> addEventListener(**"message"**,

[code]

[2022-07-04 21:13] danicuki opened #1291 "ping is not responding on local tcp node"
- **Version**:
[code]
- **Platform**:
MacOS

- **Subsystem**:
#### Severity:
  High - The main functionality of the application does not work, API breakage, repo format breakage, etc.

#### Description:
I am trying to run the base tutorial `ping` project. When I try to ping the node, it never returns:

[code]

#### Steps to reproduce the error:
run the following `index.js` file
[code]
Terminal 1:

[2022-07-04 21:15] danicuki commented on #1291
the same code using old version with CommonJS works fine:

[code]

[code]

[2022-07-12 17:01] dmitryame commented on #874
have you found a solution to your problem? I'm running into similar issues.

[2022-07-12 18:15] mpetrunic commented on #874
libp2p-noise should work now as we dropped bcrypto

[2022-07-13 07:29] achingbrain commented on #1286
CommonJS is supported for `libp2p@0.36.x` and below.  `libp2p@0.37.x` and later is [ESM only](https://gist.github.com/sindresorhus/a39789f98801d908bbc7ff3ecc99d99c).

[2022-07-13 07:29] #1286 closed

[2022-07-13 07:29] achingbrain commented on #1288
Good spot, thanks!  Would you like to open a PR that updates the example?

[2022-07-14 14:54] tabcat opened #1295 "would like to export the keystore"
#### Severity:
Low - An optional functionality does not work

#### Description:
would like to be able to use the keystore in our project by exporting it from libp2p/src/keystore. this is currently blocked by the package.export field.

[2022-07-14 23:24] achingbrain commented on #1295
Generally exposing internals like this makes it harder to refactor the code as it exported modules become part of the public API.

Are you using libp2p in your project or just the keystore?

[2022-07-15 16:35] #686 closed

[2022-07-20 04:39] kalikho opened #1299 "All links to the resource under Talks section of the README are un-accessible"

[2022-07-20 09:13] achingbrain commented on #1299
It looks like the Ethereum Foundation domain has gone away 😢

Would you like to open a quick PR to remove the broken links?

[2022-07-20 09:20] achingbrain commented on #1295
The libp2p keychain is not exposed directly via `ipfs-http-client` but it's operations are part of the [key API](https://github.com/ipfs/js-ipfs/blob/master/docs/core-api/KEY.md) which is callable via the `ipfs-http-client` (with the exception of `key.export` and `key.info`.

[2022-07-20 09:20] #1295 closed

[2022-07-21 22:24] nickreynolds opened #1302 "Unable to Create Stream (`dialProtocol`) Between Listener/Dialer in a Browser Environment"
- **Version**:
`    "@chainsafe/libp2p-noise": "^7.0.1",
    "@libp2p/bootstrap": "^2.0.0",
    "@libp2p/mplex": "^4.0.0",
    "@libp2p/peer-id-factory": "^1.0.16",
    "@libp2p/webrtc-star": "^3.0.0",
    "@libp2p/websockets": "^3.0.1",
    "libp2p": "^0.37.3",
    "libp2p-websockets": "^0.16.2",
    "peer-id": "^0.16.0",
    "react": "^18.2.0",`

- **Platform**:
`Chrome on OSX`

- **Subsystem**:

[2022-07-23 13:41] wemeetagain opened #1303 "Excessive time spent `slice`ing `Uint8ArrayList`"
Profiling https://github.com/ChainSafe/lodestar/pull/4114 shows there is now excessive time spent `slice`ing `Uint8ArrayList`s.
[code]

[2022-07-25 07:44] tuyennhv commented on #1303
For more information, `uint8arraylist` is not a direct dependency of js-libp2p, it's from
[code]

[2022-07-26 11:03] calummoore opened #1306 "npm @latest is a broken release"
#### Version:
0.37.3

#### Platform:
Mac OSX arm64 (m1) Monterey

#### Severity:
Critical

#### Description:
If you install `npm i libp2p` you get a broken version of libp2p. You have published a later working version (`0.37.3-05e8e7e`), but that is not tagged with latest, so most people are still downloading the broken version.

#### Steps to reproduce the error:
`npm install libp2p`

Use code fr

[2022-07-26 14:09] calummoore opened #1307 "Interop between node/go"
#### Version / Platform:
Go: 1.18 / github.com/libp2p/go-libp2p v0.20.3
Node: v16.15.0 / libp2p@0.37.3-05e8e7e

#### Severity:
High

#### Description:
Using the basic chat example for both `node` and `go`, I can get it working for node-to-node and go-to-go, but when I try and communicate between node and go, I get an error.

✅ Node listener, node dialer
✅ Go listener, go dialer

❌ Node listener, g

[2022-07-26 14:40] calummoore commented on #1307
As per https://github.com/libp2p/go-libp2p/issues/1662, I think we can close this. I'm going to double check that this works before closing.

Might be worth adding somewhere in the docs.

[2022-07-26 15:02] calummoore commented on #1307
Adding mplex to `go` half fixes the issue. For some reason, messages from `node` -> `go` show up, but message from `go` -> `node` do not. This happens regardless of which one is dialer/listener.

Any ideas what might be causing that?

[2022-07-26 15:49] calummoore commented on #1307
Needed to send bytes rather than string, it's now working!

[2022-07-26 15:49] #1307 closed

[2022-07-26 21:29] nickreynolds commented on #1306
I can confirm that installing version `0.37.3-05e8e7e` instead of `latest` fixes issue #1302

[2022-07-30 02:37] RafaRed commented on #1306
Using 0.37.3-05e8e7e also fixed the chat example for me.

[2022-08-05 17:47] ckousik opened #1318 "Allow access to Components/Registrar from DialOptions/ListenerOptions when creating a new transport"
When creating a new transport, we are unable to register any new streams with the registrar, or fetch handles for any incoming streams. We are also unable to find the list of supported protocols, incoming and outgoing stream limits, and track metrics. Currently, transport implementations implement the `MultiaddrConnection` interface and use the upgrader for muxing, encryption, and handling streams

[2022-08-06 06:26] craigbroadbear commented on #1306
Using latest or  0.37.3-05e8e7e fails for me.  Running on windows 11,  node v16.15.1

 `import process from 'node:process'
import { createLibp2p } from 'libp2p'
import { TCP } from '@libp2p/tcp'
import { Noise } from '@chainsafe/libp2p-noise'
import { Mplex } from '@libp2p/mplex'
import { multiaddr } from 'multiaddr'

const node = await createLibp2p({
  addresses: {
    // add a listen address (lo

[2022-08-08 01:16] tmpfs commented on #1306
Using the tagged version also fixed my problems dialing peers, can you please publish a fixed version so this won't affect other people?

[2022-08-08 08:50] fryorcraken opened #1319 "Failed to upgrade outbound connection RangeError: index is out of bounds (browser, websockets)"
- **Version**: 0.37.3-05e8e7e

[code]

- **Platform**:
  - `Linux 5.18.13-200.fc36.x86_64 #1 SMP PREEMPT_DYNAMIC Fri Jul 22 14:03:36 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux`
  - Chromium Version 103.0.5060.134 (Official Build) (64-bit)

- **Subsystem**: `@libp2p/websockets`/`@libp2p/multistream-select`

#### Severity: Critical (failed to upgrade outbound connection)

#### Description:

Using libp2

[2022-08-09 23:25] PhillyWebGuy opened #1327 "@parcel/core: Failed to resolve '@libp2p/logger'"
I know little about Parcel nor libp2p, so my apologies for not giving more info than the error:

@parcel/core: Failed to resolve '@libp2p/logger' from './node_modules/ipfs-core/src/components/index.js'

What other info can I provide to help troubleshoot this?

[2022-08-10 14:09] achingbrain commented on #1318
If your transport implements [Initializable](https://github.com/libp2p/js-libp2p-components/blob/master/src/index.ts#L17-L19) it'll get handed a [Components](https://github.com/libp2p/js-libp2p-components/blob/master/src/index.ts#L43) instance after construction - that'll give you access to the `Registrar` and other libp2p components.

At that point you should be able to do stream/connection gatin

[2022-08-10 14:38] ckousik commented on #1318
Yes, thank you! We can close this issue.

[2022-08-10 14:38] #1318 closed

[2022-08-11 09:52] Alexis-ROYER commented on #950
Also interested in this info.

I've tracked my experimentations on that topic through a dedicated repo: https://github.com/Alexis-ROYER/js-libp2p-content-routing-delay

According to my observations:
- No need to await for "propagation" in the given examples, in as much as there is a single intermediate node.
- Still, time must be awaited after the connection is established with the remote:
    1.

[2022-08-11 18:19] Alexis-ROYER opened #1342 "Transfer times got twice longer between js-libp2p@0.36.2 and js-libp2p@0.37.3"
- **Version**: js-libp2p@0.36.2 and js-libp2p@0.37.3
- **Platform**: Windows + node v16.13.2
- **Subsystem**: (to be identified)

#### Severity:

Medium (performance issue)

#### Description:

According to my experimentations, transfer times got twice longer between js-libp2p@0.36.2 and js-libp2p@0.37.3.

If I am true:
- Is the reason known for it? (additional features? refactorings? ...)
- What i

[2022-08-11 18:28] Alexis-ROYER commented on #1342
Possibly related to #1303.

[2022-08-11 18:53] Alexis-ROYER opened #1343 "js-libp2p@0.37.3 does not support chunks bigger than 2Mb anymore"
- **Version**: js-libp2p@0.37.3 (vs js-libp2p@0.36.2)
- **Platform**: Windows + node v16.13.2
- **Subsystem**: @libp2p/mplex? (to be confirmed)

#### Severity:

Low

#### Description:

When receiving chunks of data bigger than 2Mb from a stream, `Error: message size too large!` errors are raised,
while with js-libp2p@0.36.2, we could exchange chunks of 10Mb at least.

Not really an operational pro

[2022-08-11 18:58] Alexis-ROYER commented on #1343
For the info, I came up through this while measuring the impact of chunk sizes on transfer rates, which gave me the graph below:

![p2p902-2022-08-11a](https://user-images.githubusercontent.com/41943581/184217869-d66e3e5a-523b-4d76-a782-c748be603900.png)

We can see on this graph that orange dots (js-libp2p@0.37.3) stop at 2Mb, while blue dots go up to 10Mb.

[2022-08-11 20:17] wemeetagain commented on #1342
@Alexis-ROYER having not looked at your case specifically, so I can't say 100% that the problem is #1303 but its very likely most of it is.
Other notable regression is protobuf encoders/decoders.

We're actively working on resolving the performance issues, and most of the work has landed in our nightly version. This is our current focus (along with stabilizing the types) before pushing out a v0.38

[2022-08-11 20:20] wemeetagain opened #1344 "SyntaxError: Named export 'isReactNative' not found."
Using the latest nightly I get this error at runtime
[code]

[2022-08-11 20:26] wemeetagain commented on #1344
This `wherearewe` dependency was added in https://github.com/libp2p/js-libp2p/pull/1296

[2022-08-12 12:45] mpetrunic commented on #1343
You scripts are initializing Mplex with default max message size value, you should set it to something higher:
https://github.com/libp2p/js-libp2p-mplex/blob/v1.1.2/src/index.ts#L11

[2022-08-12 12:45] mpetrunic commented on #1343
@Alexis-ROYER

[2022-08-12 15:39] shishirhome opened #1348 "Not able to Dial Node due to error: ERR_MUXER_UNAVAILABLE"
Hi Team

We are getting this error while dialling a node:

Environment:
- Node.js v16.14.0.
- MacBook Pro, Processor 2 GHz Quad-Core Intel Core i5, 16 GB

`import { createLibp2p } from 'libp2p'
import { TCP } from '@libp2p/tcp'
import { Noise } from '@chainsafe/libp2p-noise'
import { Mplex } from '@libp2p/mplex'
import { toString as uint8ArrayToString } from 'uint8arrays/to-string'
import { fromSt

[2022-08-12 17:23] shishirhome commented on #1348
I got this fixed by downgrading the libp2p version:

npm i libp2p@0.37.3-6630cb1

Thanks
Shishir

[2022-08-12 17:23] #1348 closed

[2022-08-13 14:05] kalikho commented on #1327
Paste your code snippet here or detail the steps to reproduce the error.

[2022-08-13 20:10] hskang9 opened #1351 "Being a dependabot here, `node-forge` is making so many vulnerabilities including cryptography"
- **Version**:
Every recent js-libp2p published version

- **Platform**:
in all platform

- **Subsystem**:
in all subsystem

#### Severity:
From low to High

#### Description:

- What you did
I was auditing my oracle / p2p client and ran `yarn audit` in this repo https://github.com/digitalnativeinc/lumen
- What happened
I got audit report from this one `node-forge` package creating every problem f

[2022-08-14 16:23] Zero-Qi opened #1353 "in example auto relay,why change:multiaddrs events no happend in peerStore.on?"
const Libp2p = require("libp2p");
const { NOISE } = require("libp2p-noise");
const Websockets = require("libp2p-websockets");
const Mplex = require("libp2p-mplex");
const relayAddr = process.argv[2]
if (!relayAddr) {
  throw new Error('replayaddr没有输入！！！！')
}

const main = async () => {
  const node = await Libp2p.create({
    modules: {
      transport: [Websockets],
      streamMuxer: [Mplex],

[2022-08-15 06:58] Zero-Qi opened #1354 "js-libp2p npm run build"
git clone js-libp2p
npm install
npm run build

[code]

[2022-08-15 10:45] hskang9 commented on #1351
@achingbrain  please update `node-forge` like #1133

[2022-08-15 10:54] achingbrain commented on #1351
The node-forge version libp2p [depends on](https://github.com/libp2p/js-libp2p/blob/master/package.json#L154) is `^1.2.1`, which means you'll get `1.3.0` when you do an `npm install libp2p`.  Are you seeing something different?

[2022-08-15 17:27] nickreynolds opened #1356 "Unable to use `libp2p` with `ts-jest`"
- **Version**:
0.37.3

- **Platform**:
Windows - Node.js

#### Severity:
High

#### Description:
When I attempt to include this project (or any related package, for that matter, such as `it-pipe`), I get a build error when trying to run my tests (using jest). I have only found this issue when importing packages related to `libp2p`. All other packages installed via npm have not had compatibility is

[2022-08-16 07:31] Alexis-ROYER commented on #1343
Thanks for the info @mpetrunic.

To compare with the Mplex coming along with js-libp2p@0.36.2 (libp2p-mplex@0.10.7 on my side):
- I guess it means that the default max message size was different?
- Or possibly this *max message size* limit did not exist?

[2022-08-16 07:52] fryorcraken commented on #1319
Fixed by upgrading to latest version

[2022-08-16 07:52] #1319 closed

[2022-08-16 09:02] mpetrunic commented on #1343
Not sure honestly. maybe something was overriding that limit

[2022-08-16 09:02] #1343 closed

[2022-08-16 09:57] inverted-capital commented on #950
In a system designed to operate with intermittent network connectivity, giving an error because you have no peers currently seems odd ?

Would a PR be accepted on this topic, if it added an abortable smart retry whenever there were no peers ?

For example, if no peers are found, we cache the request, and await the internal event (which is not exposed, but can be seen from enabling DEBUG='libp2p:*'

[2022-08-16 15:54] mpetrunic commented on #1356
Your typescript is probably getting compiled to cjs. It would be best if you compiled to ESM code or maybe look into this: https://kulshekhar.github.io/ts-jest/docs/guides/esm-support/

[2022-08-16 15:55] #1344 closed

[2022-08-16 19:19] hskang9 commented on #1351
I still get this audit message after running `npm install libp2p` in the monorepo or inside `p2p` package.

[code]

[2022-08-16 19:20] hskang9 commented on #1351
Can we just change the number in the package.json file you refer [here](https://github.com/libp2p/js-libp2p/blob/master/package.json#L154)?

[2022-08-16 19:21] hskang9 commented on #1351
if node-forge version still does not change with `^`,  I think there might be other packages who fixes the version to 1.2.1

[2022-08-16 22:39] inverted-capital commented on #950
Or, is the design intent of libp2p that retry functionality should be left up to the user, in which case we would aim to provide a module that could wrap the dht implementation by offering local persistence with retry ?  @vasco-santos what are your thoughts ?

Our opinion is that if a repo was supplied to libp2p, the user intends for long term persistence, and that this implicitly means long term

[2022-08-17 09:09] mpetrunic commented on #1356
@nickreynolds It would seem that problem lies somewhere on ts-jest side so it might be worth opening issue there.
I've played around with your repo and:
- if I use tsc to compile src and tests and run `node --experimental-vm-modules ./node_modules/.bin/jest build/tests`, tests will pass
- uuid test is passing because uuid is not pure ESM module
- ts-jest doesn't seem to care about changes in tscon

[2022-08-17 14:41] achingbrain commented on #1351
You can find this out by running `npm ls node-forge` and seeing which packages are pulling in which versions.

When I run it in a `my-project` directory that has had `ipfs-core` installed in it, I see:

[code]

So `node-forge@1.3.1` is installed as expected.

PRs are gratefully accepted. Though this should not be necessary as it an in-range semver update.

[2022-08-17 14:59] #1356 closed

[2022-08-17 19:27] #1351 closed

[2022-08-18 01:32] inverted-capital commented on #950
We've had a chat about this, and would like to present a summary here.

Our belief is that libp2p presents a virtualized model of the conventional network as an ideal network node.  The turmoil of the real world is gracefully abstracted away by libp2p and the developer can concentrate on the application logic, trusting that libp2p will eventually do what the developer asked.  The tradeoff for this

[2022-08-18 12:00] olimdzhon opened #1361 "Tutorial multiaddrs fix"
multiaddrs from this example is undefined. Need to use getMultiaddrs() instead. Also there is no such function as toB58String() but when i used toString() func it seems it was something base58 encoded.

const node = await createNode()

// At this point the node has started
console.log('node has started (true/false):', node.isStarted())
// And we can print the now listening addresses.
// If you are

[2022-08-21 09:07] kalikho commented on #1361
@olimdzhon can you please provide some more details to reproduce the issue. Which script file to execute ? Also please provide screenshot of the error in the console if any.

[2022-08-23 08:18] olimdzhon commented on #1361
it was from Transports readme https://github.com/libp2p/js-libp2p/tree/master/examples/transports. i found solution in 1.js file after. example files was fixed. but not readme itself.

[2022-08-29 08:38] bakhshandeh opened #1363 "Atomic and transactional read/write"
I want to implement a global lock in Libp2p. Is it possible?
any way to atomically read/write DHT records?

[2022-08-30 08:33] #1288 closed

[2022-08-30 15:35] achingbrain commented on #1327
This is because parcel does not support the exports map - please see https://github.com/parcel-bundler/parcel/issues/4155

A possible solution is to switch to a different bundler that does support the exports map like vite or similar.

[2022-08-30 15:35] #1327 closed

[2022-08-30 15:44] mpetrunic commented on #1361
@olimdzhon Would you be willing to open PR to fix README?

[2022-08-30 15:44] mpetrunic commented on #1354
@Zero-Qi What versions of nodejs are you using?

[2022-08-30 15:48] mpetrunic commented on #1353
@Zero-Qi You should try to set the listener before dialing relayAddr.
But in any case, you should use the latest libp2p version!

[2022-08-30 15:49] mpetrunic commented on #1342
@Alexis-ROYER Could you try with the latest 0.38 version?

[2022-08-30 15:50] mpetrunic commented on #1306
We published a new version 0.38!

[2022-08-30 15:50] #1306 closed

[2022-08-30 15:50] mpetrunic commented on #1299
@kalikho ^^

[2022-08-30 15:56] mpetrunic commented on #1291
@calummoore does this still happening with latest version of dependencies?

[2022-08-30 16:01] mpetrunic commented on #1229
@sneaker1 We think it's fixed in the latest libp2p version, can you try using latest version?

[2022-08-30 16:49] danicuki commented on #1291
in fact, when I changed the lib versions to these bellow, it worked:
[code]

[2022-08-30 16:58] danicuki commented on #1291
I created a PR to the existing docs to explicitly add lib versions: https://github.com/libp2p/docs/pull/173

[2022-08-30 21:55] zargarzadehm commented on #1229
I tested that but exist this problem yet :((

[code]

I am running the most recent versions. Here are the dependencies from my package.json:

[code]

[2022-08-31 06:51] juliangruber opened #1364 "`npm run build` error"
- **Version**:
`master`

- **Platform**:
`Darwin Julians-MacBook-Pro.local 21.6.0 Darwin Kernel Version 21.6.0: Wed Aug 10 14:25:27 PDT 2022; root:xnu-8020.141.5~2/RELEASE_X86_64 x86_64`

- **Subsystem**:

#### Severity:
High

#### Description:
[code]

Full output:

https://gist.github.com/juliangruber/eddb2e9fbc1c96a5f935170c4336d9b5

#### Steps to reproduce the error:
Run `npm run build` with no

[2022-08-31 06:58] juliangruber commented on #1364
This error survives `rm -Rf node_modules && npm cache clean --force && npm install && npm run build`

[2022-08-31 12:43] mpetrunic commented on #1364
Could you delete the package-lock.json file and node_modules before installing dependencies?

[2022-08-31 12:43] mpetrunic commented on #1364
@juliangruber

[2022-08-31 13:12] juliangruber commented on #1364
Ah, removing `package-lock.json` fixed it. Thanks!

I was surprised to find it in `.gitignore`, is there a particular reason to ignore it?

[2022-08-31 13:12] #1364 closed

[2022-09-02 23:59] p-shahi opened #1367 "Code snippet in Getting Started does not work"
[This code snippet on the js-libp2p GitHub Getting Started document](https://github.com/libp2p/js-libp2p/blob/master/doc/GETTING_STARTED.md#running-libp2p) doesn’t work

First reported by here: https://discuss.libp2p.io/t/response-to-a-recent-twitter-debate/1517/6

### Exit Criteria

As a user, I can successfully run the tutorial locally

### Nice to Have

Test the example in CI (not necessary to

[2022-09-05 14:17] #1229 closed

[2022-09-05 16:32] wemeetagain commented on #1228
I have a branch in progress. waiting on a fix for https://github.com/bbc/typescript-docs-verifier/issues/22

[2022-09-06 14:04] #1299 closed

[2022-09-06 15:29] achingbrain commented on #1342
Closing as the issue should be resolved - please re-open if you continue to observe it.

[2022-09-06 15:29] achingbrain commented on #1303
Closing as the issue should be resolved - please re-open if you continue to observe it.

[2022-09-06 15:29] #1303 closed

[2022-09-06 15:50] achingbrain commented on #1363
Could you expand a little more on your use case?  Presumably you'd need to handle failures, rollback, prevent deadlocks, etc.

This isn't something we have planned currently.

[2022-09-06 15:59] BigLep commented on #1302
@nickreynolds : can you please try this using the latest version?  We believe our test suite covers this case.

[2022-09-06 16:03] nickreynolds commented on #1302
Yep. As I commented on #1306, using a different version than the previously broken one fixes my issue. I can close this now.

[2022-09-06 16:03] #1302 closed

[2022-09-07 01:01] tabcat commented on #1295
I'd still like to be able to import this and use it locally. Will be forking the package until i find a better solution like bypassing the package.exports field.

[2022-09-09 10:27] #1152 closed

[2022-09-09 21:55] Alexis-ROYER commented on #1342
I've updated my measures with js-libp2p@0.38.0 and js-libp2p@0.39.0:
![p2p901-2022-09-09b](https://user-images.githubusercontent.com/41943581/189450866-9aee83c6-a64b-4d1c-b5c9-22d7e3331146.png)
![p2p901-2022-09-09c](https://user-images.githubusercontent.com/41943581/189450876-00e35780-8ddb-45f3-b8f0-098e163f96b8.png)

Transfer times are still about those of js-libp2p@0.37.3, higher than js-libp2p@

[2022-09-09 21:58] Alexis-ROYER commented on #1342
@achingbrain Could you please re-open the issue? I can't on my side.

[2022-09-10 00:30] BigLep commented on #369
@achingbrain : I know there has been work here since your last comment.  A few things:
1. Where did we land?
2. What is remaining on the original issue?
3. Does a js-libp2p node now have ALLOW-list functionality so it can ignore the world except for some designated peers?  Basically can this be used as a an eclipse attack prevention mechanism like go-libp2p added here: https://github.com/libp2p/go

[2022-09-10 00:42] BigLep opened #1378 "Add documentation on mechanisms for node monitoring and protection"
# Done Criteria
1. There is an easily discoverable way for a js-libp2p node operator to find the monitoring options available to them
2. We have a document we can point js-libp2p operators to in defense of or response to various resource exhaustion attacks (DoS, eclipse).

## Why Important
1. These are concepts that are best thought about in advance to prevent successful attacks.
2. If there is an

[2022-09-11 18:20] zeroxbt commented on #1170
@wemeetagain I made a PR for this, and also found a bug that slows down kad dht find closest peers quite a bit. Please take a look when you have some time :)

[2022-09-12 12:29] achingbrain commented on #1342
I've put a test bed together here: https://github.com/ipfs-shipyard/js-libp2p-transfer-performance

It takes a slightly different approach to the two files in the OP - notably it doesn't configure a DHT since it's not needed and uses the plaintext connection encrypter instead of noise as it's simpler.

It transfers 100MiB of data between the two nodes using increasing chunk sizes, recording how lo

[2022-09-12 13:08] mpetrunic commented on #1342
I will run some.profilling tools today to see what the hot paths are

[2022-09-13 15:39] BigLep commented on #1342
2022-09-13 converation: @mpetrunic has done some profiling but libp2p dependencies aren't showing up with clinic.

@Alexis-ROYER: thanks for reporting this as clearly there is an issue.  We're curious how you noticed this and if this is having an impact on any applications/uses you have with js-libp2p.  This will help us gage where to prioritize this work.  And certainly any help digging into the

[2022-09-13 15:46] BigLep commented on #369
2022-09-13 triage conversation: we need to summarize where we got to and discuss what can now be done.  We believe we provided the functionality originally outlined and now it's about leveraging it i other areas like gossipsub.  That will likely translate to a new issue in gossipsub.

[2022-09-13 15:49] BigLep commented on #1354
Closing since didn't receive input.

[2022-09-13 15:49] BigLep commented on #1353
Closing since no response.

[2022-09-14 16:17] achingbrain commented on #1170
If you're only interested in the closest peers, you should disregard all events that are not `FINAL_PEER`.  The others are useful for tracing and diagnostics, and for giving the user some feedback their query has not stalled but should not be treated as actual results.

[2022-09-14 16:17] #1170 closed

[2022-09-16 06:32] saul-avikar commented on #1361
My PR #1379 should resolve this and the other issues related to outdated code in the example READMEs.

[2022-09-16 11:48] Alexis-ROYER commented on #1342
@BigLep My pleasure.

I was actually investigating on performance issues of an app I'm working on.
Among others, I'm tunnelling other protocols inside a libp2p connection between two peers.
Since it's a tunnelling process, chunks of data are those of the embedded protocols, which are about 5-10kB.

With some big data to transfer, things got stuck in while with libp2p@0.36.2.
When I upgraded with l

[2022-09-16 20:56] MarcoPolo opened #1382 "Supporting transports with native encryption/multiplexing"
## Context
js-libp2p upgrader makes assumptions that the upgradee needs security and multiplexing. For webtransport we don't need to add multiplexing/security because we already get this natively. How can I get the benefits of using the upgrader (connection gater, metrics, limits) without it adding encryption/multiplexing? Along with WebRTC, this might be one of the first time in JS we don't want

[2022-09-18 20:33] bakhshandeh commented on #1363
Something like this:
https://redis.io/commands/setnx/

There is a network with N nodes. One node(N1) can acquire a lock for T seconds to run an operation. While the lock is not expired, other nodes can't acquire the lock.

Deadlocks and rollback could be handled by the application. I just want to know that this use case is feasible or not?

[2022-09-19 17:22] MarcoPolo opened #1384 "Stream Muxer should be allowed to return a promise"
[code]

Sometimes a stream muxer needs to do some async work before it can return a new stream (as is the case with webtransport). The current implementation already calls `newStream` from an async function, so it wouldn't be a big change. In fact, the connection interface already returns a `Promise<Stream>` when a user calls `newStream(...)`, so this is inline with that async context.

[2022-09-20 16:22] achingbrain commented on #1363
If you're talking about an application-level lock, it sounds like you'd need to implement a custom protocol that does the lock operations which is totally feasible.

If this is something that would meet your needs, you could look at the [fetch protocol](https://github.com/libp2p/js-libp2p/tree/master/src/fetch) for an example - it's a very simple request/response protocol that [sends](https://gith

[2022-09-21 08:44] zeroxbt opened #1385 "Not able to dial peers behind NAT"
- **Version**: 0.38

- **Platform**: Linux  5.4.0-1029-aws 30-Ubuntu SMP Tue Oct 20 10:06:38 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

- **Subsystem**: Nat manager

#### Severity:
High

#### Description:
After updating libp2p to the latest version we are experiencing issues where peers are not able to dial other peers that are behind NAT. These peers are found in our node's lan routing table, but n

[2022-09-22 17:40] #1361 closed

[2022-09-22 17:40] #1367 closed

[2022-09-23 07:02] BigLep commented on #1342
I removed the relevant labels so this doesn't get auto closed.

[2022-09-23 19:19] achingbrain commented on #1342
What I have found is that between `0.36.x` and `0.37.x` we have started sending about twice as many chunks of data as before.

In mplex we yield every encoded Uint8Array - in the current release that's [one for the header](https://github.com/libp2p/js-libp2p-mplex/blob/master/src/encode.ts#L46) and [one (or more) for the data](https://github.com/libp2p/js-libp2p-mplex/blob/master/src/encode.ts#L47

[2022-09-27 02:15] MrLuit opened #1393 "Broken pubsub type when using external pubsub library"
- **Version**: 0.39.2

- **Platform**: N/A (all platforms)

- **Subsystem**: js-libp2p or js-libp2p-interfaces

#### Severity: Low

#### Description:

As described in your example [examples/pubsub/message-filtering](https://github.com/libp2p/js-libp2p/blob/0ecc02b2a426b6dfec7b6f46d565fde41ad66954/examples/pubsub/message-filtering/README.md), when using `@chainsafe/libp2p-gossipsub`, you should be

[2022-09-27 02:29] MrLuit opened #1394 "Incorrect return value in pubsub validate example"
- **Version**: 0.39.2

- **Platform**: N/A (all platforms)

- **Subsystem**: js-libp2p (examples)

#### Severity: Very Low

#### Description:

Currently, the example in [examples/pubsub/message-filtering](https://github.com/libp2p/js-libp2p/tree/master/examples/pubsub/message-filtering) does not work because of the missing return value for the validate function. The documented code is as follows:

[2022-09-27 15:48] p-shahi commented on #1385
In discussion with @achingbrain , we think this is because you have not added your public IP as an announce address. The relevant documentation: https://github.com/libp2p/js-libp2p/blob/master/doc/CONFIGURATION.md#customizing-libp2p

Until we [ship AutoNAT](https://github.com/libp2p/js-libp2p/pull/1298), you'll need to add the address as specified. That should resolve your issue.

[2022-09-29 08:28] zeroxbt commented on #1385
Hi @p-shahi, thanks for the response. I've just tested your solution and everything is now working as expected.

[2022-09-29 08:28] #1385 closed

[2022-10-04 10:39] coder11 opened #1399 "js-libp2p fails to build from master branch"
js-libp2p fails to build. It is true for at least this commit: `6ac62da025b5bf20f559cf241deb0fb9020e1418`

[code]

- **Platform**:
Ubuntu 22.04. But same issue on 20.04 and macs
[code]

#### Severity:
Seems to be:
  Critical - System crash, application panic.

#### Description:
Just build the library according to instructions in repo's readme

#### Steps to reproduce the error:
[code]

[2022-10-04 10:40] coder11 commented on #1399
Seems to be present in CI jobs: https://github.com/libp2p/js-libp2p/actions/runs/3174803424/jobs/5172050698

[2022-10-04 10:45] folex commented on #1399
I think having `package-lock.json` is a must for preventing this kind of problems. Without `package-lock.json` any transitive dependency update risks libp2p-js build to fail.

[2022-10-04 15:33] BigLep commented on #1228
@wemeetagain : we're unblocked here now right?

[2022-10-04 15:34] mpetrunic commented on #1399
@folex you should delete your package-lock.json to be able to receive new package versions that would fix the build.

[2022-10-04 15:34] #1399 closed

[2022-10-04 16:01] mpetrunic commented on #1393
@MrLuit Does this https://github.com/ChainSafe/js-libp2p-gossipsub/pull/348  resolve this issue?

[2022-10-04 17:50] MrLuit commented on #1393
No,  types are still broken for any new feature they add since gossipclient types are not passed

[2022-10-04 20:02] coder11 commented on #1399
@mpetrunic  could you please try cloning the repo afresh and build it according to the instructions?

[2022-10-05 02:09] #1363 closed

[2022-10-05 09:32] mpetrunic commented on #1399
@coder11 sorry about that seems like there was a interface release that broke build but should be fixed by #1404

[2022-10-05 15:14] achingbrain commented on #1269
This is a great first issue that would suit someone looking to get started helping build libp2p!

To complete this:

1. Create a new repo
2. Export `CodeError` class (defined in OP)
3. Write tests
4. Open PRs to `@libp2p/*` repos using the new class

[2022-10-05 15:20] achingbrain commented on #10
Closing due to (extreme) staleness.  If this is still relevant perhaps it can be picked up by [ResNetLab](https://github.com/protocol/ResNetLab).

[2022-10-05 15:20] #10 closed

[2022-10-05 15:22] #8 closed

[2022-10-05 15:25] achingbrain commented on #106
Closing due to staleness & the mesh project was abandoned.

[2022-10-05 15:25] #106 closed

[2022-10-05 15:27] #173 closed

[2022-10-05 15:28] achingbrain commented on #172
Closing due to staleness - if this is still a piece of functionality that would be useful to have please open a new issue.

[2022-10-05 15:29] achingbrain commented on #118
Closing as https://github.com/libp2p/js-libp2p-utp exists (though is unmaintained). If this transport is still desirable, please continue further development in that repo.

[2022-10-05 15:29] #118 closed

[2022-10-05 15:32] achingbrain commented on #200
Closing due to staleness.  The current approach is to use a combination of uPNP NAT traversal, if available, and if not to use autonat + socket timing - see https://blog.ipfs.tech/2022-01-20-libp2p-hole-punching/

[2022-10-05 15:32] #200 closed

[2022-10-05 15:34] #213 closed

[2022-10-05 15:37] #237 closed

[2022-10-05 15:38] achingbrain commented on #197
Closing because #22 has further developments on this topic.

[2022-10-05 15:38] achingbrain commented on #223
This has been refactored.  Closing due to staleness.

[2022-10-05 15:38] #223 closed

[2022-10-05 15:40] mpetrunic commented on #425
Closing as stale, circuit relay has been implemented and we have version 2 on the wall #1029

[2022-10-05 15:40] #425 closed

[2022-10-05 15:46] achingbrain commented on #245
Closing as this is specific to the websocket transport - please see https://github.com/libp2p/js-libp2p-websockets/issues/77 to continue.

[2022-10-05 15:46] #245 closed

[2022-10-05 15:51] #852 closed

[2022-10-05 15:52] mpetrunic commented on #852
https://github.com/libp2p/js-libp2p/blob/master/src/config.ts#L72

[2022-10-05 15:57] achingbrain commented on #263
`.dialProtocol` is a useful convenience API.  It does introduce some redundancy in the codebase as the methods chain together but removing it makes the API slightly less ergonomic and will force people using it to refactor which may outweigh the benefits of removing the method.  Please reopen if you disagree (strongly).

[2022-10-05 16:01] #180 closed

[2022-10-05 16:03] achingbrain commented on #276
Gossipsub has much better protection against misbehaving peers and bad actors on the network.  Floodsub should not be used as it does not have these things.

For interested readers, see the [Gossipsub spec](https://github.com/libp2p/specs/tree/master/pubsub/gossipsub).

[2022-10-05 16:03] #276 closed

[2022-10-05 16:04] achingbrain commented on #267
Closing due to staleness.  Please ask further "how do I"-type questions on https://discuss.libp2p.io/

[2022-10-05 16:04] #267 closed

[2022-10-05 16:08] achingbrain commented on #268
Closed as complete, please open a new issue if the problem persists.

[2022-10-05 16:08] #268 closed

[2022-10-05 16:13] achingbrain commented on #314
This issue is quite stale, the API has been refactored, everything has types now and things like enabling the DHT is a lot more straightforward.

Please reopen with feedback on the current version.

[2022-10-05 16:13] #314 closed

[2022-10-05 16:13] achingbrain commented on #323
Closing as complete

[2022-10-05 16:14] achingbrain commented on #327
Closing as complete - please re-open if the problem is still observed

[2022-10-05 16:14] #327 closed

[2022-10-05 16:20] achingbrain opened #1408 "Update README to add section detailing people using libp2p"
A section should be added to the readme detailing users building useful and innovative tools on top of js-libp2p.

Some projects to include are:

* https://github.com/ChainSafe/lodestar
* https://github.com/hoprnet
* https://github.com/ipfs/js-ipfs

And others.

[2022-10-05 16:20] achingbrain commented on #142
This is great - I think there should be a link to `hopr` from the readme somewhere - I've created https://github.com/libp2p/js-libp2p/issues/1408 to track this.

[2022-10-05 16:20] #142 closed

[2022-10-05 16:21] #332 closed

[2022-10-05 16:29] achingbrain commented on #341
This is an interesting use case that would open up scenarios like `curl` or `wget` on the command line for sending packets of data to peers.

When the node is started lots of things happen like contacting DHT peers or interacting with the datastore (via the peer store, etc) so it may not be possible without some extra overhead.

It's not something the current implementation is designed around but

[2022-10-05 16:33] achingbrain commented on #331
All APIs now accept `Uint8Array`s so this is complete.

[2022-10-05 16:33] #331 closed

[2022-10-05 16:34] achingbrain commented on #31
This looks like a closed project now and we have https://github.com/libp2p/js-libp2p-kad-dht so there's nothing left to do here.

[2022-10-05 16:34] #31 closed

[2022-10-06 08:07] dapplion opened #1409 "Duplicated addresses in _createDialTarget"
- **Version**: 0.39.2 https://github.com/ChainSafe/lodestar/blob/ca27458b59c66c9d3da7dd95322e479f78407269/packages/beacon-node/package.json#L144

- **Platform**: Linux

- Severity: High

#### Description:
Running local devnets with Lodestar nodes couldn't dial with each other due to this error
[code]

I manually called dial submitting a single Multiaddr with `/ip4/127.0.0.1/tcp/9000/p2p/16Uiu2HAm6

[2022-10-06 16:28] wemeetagain commented on #1228
Yes this is unblocked.
It may be useful to break this work up into separate PRs since there's a lot of changes required.
I can start with `doc/CONFIGURATION.md`.

[2022-10-08 23:56] bakhshandeh opened #1419 "DHT example not working"
I am trying to store something in DHT.
Here is the code:

[code]

dht.get is not working and the output is this:

[code]

Dependencies:

[code]

[2022-10-10 10:14] tuyennhv opened #1420 "Performance issue using abortableSource()"
- **Version**:
0.39.2

- **Platform**:
Linux 5.15.0-25-generic #25-Ubuntu SMP Wed Mar 30 15:54:22 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

- **Subsystem**:

#### Severity:
High

#### Description:
The `abortableSource()` api is used across libp2p stacks and it takes more than 7.5% of lodestar cpu time, which causes the I/O lag issue in lodestar. I think this is too much considering this is not a co

[2022-10-10 10:18] tuyennhv commented on #1420
attaching the detail of time used in `aboratableSource()` function of `abortable-iterator` package

![](https://cdn.discordapp.com/attachments/721401943473520741/1028854184625307748/Screen_Shot_2022-10-10_at_09.18.09.png)

[2022-10-10 12:54] dapplion commented on #1420
A core value in Rust is "zero cost abstractions". As Javascript developers we must be mindful that in this language this is not the case. I worry that in the current libp2p implementation a single package requires a very high amount of iterator cycles, just for a single package.

More investigation is needed to understand the costs, but on a preliminary review it's a apparent that the amount of Pr

[2022-10-12 20:21] MarcoPolo opened #1428 "Identify Service isn't enabled if only using webtransport"
If a node is configured to only use WebTransport, then this check: https://github.com/libp2p/js-libp2p/blob/master/src/libp2p.ts#L170 fails (we don't have a stream muxers configured since we don't need them).

A workaround is to configure some stream muxers (even though they won't be used).

[2022-10-13 17:37] p-shahi opened #1438 "js-libp2p 2022 Q4/2023 Q1 Roadmap"
children:
* https://github.com/libp2p/js-libp2p/issues/1463
* https://github.com/libp2p/js-libp2p/issues/1461
* https://github.com/libp2p/js-libp2p/issues/1458

eta: 2023Q2

### Current status of Roadmap
2022-10-20: Accepted. Internal js-libp2p stakeholders have aligned on this roadmap.

### Description
This issue is intended to capture discussion around the [js-libp2p 2022 Q4/2023 Q1 Roadmap](htt

[2022-10-17 07:53] ratik21 opened #1442 "Can't discover/connect new peers using webrtc-star on `v0.39.5`"
Peer discovery and connections are not happening with the latest libp2p version (after esm upgrade).

I have created a failing test for both versions (before & after esm), with screenshots - [https://github.com/ratik21/p2p-webrtc-star-test](https://github.com/ratik21/p2p-webrtc-star-test). Please check it out. Thanks.

Related discussion thread :: [https://discuss.libp2p.io/t/cant-discover-peers-w

[2022-10-17 09:02] dadepo opened #1443 "TypeScript Compilation issues with Mplex and Noise"
- **Version**:

[code]

- **Platform**:

[code]

- **Subsystem**:

#### Severity:

Critical - System crash, application panic.

#### Description:

Creating a minimal typescript project based off the code in the example [here](https://github.com/libp2p/js-libp2p/blob/master/examples/pubsub/1.js), but unfortunately compiling does not work as it seems the type does not line up quite right. Is this a

[2022-10-18 14:28] achingbrain commented on #1443
Please upgrade to `libp2p@0.40.x` - see the [upgrade guide](https://github.com/libp2p/js-libp2p/blob/master/doc/migrations/v0.37-v0.40.md).

[2022-10-18 14:28] #1443 closed

[2022-10-18 14:41] dapplion opened #1454 "Failed to upgrade outbound connection Error: missing newline"
- **Version**: 0.39.2 https://github.com/ChainSafe/lodestar/blob/ca27458b59c66c9d3da7dd95322e479f78407269/packages/beacon-node/package.json#L144

- **Platform**: Linux

- Severity: High

#### Description:

In a local Ethereum beacon chain devnet with 1 Lodestar and 1 Lighthouse, Lodestar is unable to connect to Lighthouse directly erroring with

[code]

Line throwing the error is https://github.co

[2022-10-18 17:12] achingbrain commented on #1442
You need to configure the peer discovery component of the WebRTCStar transport for it to work:

For `libp2p@0.37.0-0.39.0` and `@libp2p/webrtc-star@4.x.x`:

[code]

For `libp2p@0.40.0` and `@libp2p/webrtc-star@5.x.x`:

[code]

The README for v5 is hopefully a bit clearer.

[2022-10-19 08:32] ratik21 commented on #1442
@achingbrain thanks for responding.

With the changes you have suggested the discovery is working (for `libp2p@0.37.0-0.39.0` and `@libp2p/webrtc-star@4.x.x`). But the **connection** is still not happening (sc attached).

<img width="882" alt="image" src="https://user-images.githubusercontent.com/33264364/196638520-95a184ea-fa66-4faf-b753-efd73c09ebfe.png">

I was wondering if this is the case now

[2022-10-19 08:34] ratik21 commented on #1442
@achingbrain one more thing (side note), i start getting this influx of discovery logs and it never stops, after discovery (for any transport/peer discovery mechanism)

<img width="816" alt="image" src="https://user-images.githubusercontent.com/33264364/196639571-1ae0631c-30fb-488d-90f5-6a654dd56d19.png">

This is the event handler code (taken from `node1.js` from my repo)
[code]

[2022-10-19 08:59] achingbrain commented on #1442
Discovered nodes are no longer dialled automatically - please see the upgrade guide - https://github.com/libp2p/js-libp2p/blob/master/doc/migrations/v0.37-v0.40.md#autodial

[2022-10-19 09:03] achingbrain opened #1455 "Docs: use Aegir + TypeDoc to generate and serve documentation in CI"
## Done Criteria
- [ ] Update js-libp2p to use Aegir + TypeDoc
- [ ] Use GitHub actions to serve new documentation on GitHub pages for each new release of js-libp2p and components

### Original issue
Docs: multaddrs property has been replaced with getMultiaddrs
The docs are out of date, the new getter needs documenting: https://github.com/libp2p/js-libp2p/blob/master/doc/API.md#multiaddrs

[2022-10-19 09:09] ratik21 commented on #1442
@achingbrain i tested on `libp2p@0.37.0-0.39.0` :)

[2022-10-19 09:28] ratik21 commented on #1442
Furthur more, if i try to manually dial after discovery, i get this error
[code]

Update to source code:

[code]

[2022-10-19 09:38] dadepo commented on #1443
FYI given the following versions:

[code]

The following from the guide did not compile:

[code]

The errors was:

[code]

What compiled was:

[code]

[2022-10-19 10:53] achingbrain commented on #1443
The guide will be correct when https://github.com/ChainSafe/js-libp2p-noise/pull/229 and https://github.com/ChainSafe/js-libp2p-gossipsub/pull/360 are merged, sorry for the confusion.

[2022-10-19 17:58] achingbrain commented on #824
Some related modules have been grouped together as monorepos since this was opened:

* https://github.com/libp2p/js-libp2p-daemon
* https://github.com/libp2p/js-libp2p-interfaces
* https://github.com/libp2p/js-libp2p-peer-id
* https://github.com/libp2p/js-libp2p-webrtc-star

The primary piece of learning from `js-ipfs` is that choosing what to add to a monorepo is very important, and that you shou

[2022-10-20 22:17] p-shahi opened #1458 "C. 🔮 Ergonomic Observability"
eta: 2022Q4

**Why:** Though we already expose [per-component metrics](https://github.com/libp2p/js-libp2p/issues/1060) in js-libp2p, the overhead of recording metrics is high (excessive object allocation per metric to record). This will be helpful to [our users](https://github.com/chainsafe/lodestar) who record metrics on the order of thousands/second.

**Goal:**
We make the lives of js-libp2p ea

[2022-10-20 22:25] p-shahi opened #1459 "Add support for QUIC"
- Depends on QUIC support in node.js https://github.com/nodejs/node/pull/44325
- Hole punching is [more reliable with UDP (therefore QUIC)](https://www.notion.so/pl-strflt/NAT-Hole-punching-Success-Rate-2022-09-29-Data-Analysis-8e72705ca3cc49ab983bc5e8792e3e98#5b76991da8d24736abd486aa93e85a97) than TCP.

[2022-10-20 22:34] p-shahi opened #1460 "Use DCUtR to synchronize hole punching"
- Spec: https://github.com/libp2p/specs/blob/master/relay/DCUtR.md

[2022-10-20 22:34] p-shahi opened #1461 "B. 🥊 Decentralized Hole Punching"
**Why:**  P2P networks can have a combination of both public and private nodes. While private nodes can dial nodes on the public Internet, they are unreachable from the outside as they are behind a NAT or a firewall. We need a mechanism to dial them. A [previous DHT crawl found that almost 63%](https://github.com/libp2p/specs/blob/master/ROADMAP.md#-hole-punching-on-tcp-and-quic) of the network wa

[2022-10-20 22:37] p-shahi opened #1462 "WebRTC: Browser to Browser"
Support WebRTC Browser to Browser as a first class transport in js-libp2p and deprecate [webrtc-star](https://github.com/libp2p/js-libp2p-webrtc-star) and [webrtc-direct](https://github.com/libp2p/js-libp2p-webrtc-direct).

- [x] support Circuit Relay v2: https://github.com/libp2p/js-libp2p/pull/1533
- [x] https://github.com/libp2p/js-libp2p-webrtc/pull/90

[2022-10-20 22:39] p-shahi opened #1463 "A. 📺 Universal Browser Connectivity"
eta: 2023Q2

**Why**: A huge part of “the Web” is happening inside the browser. As a universal p2p networking stack, libp2p needs to be able to offer solutions for browser users.

**Goal**: js-libp2p supports both WebTransport and (libp2p-) WebRTC protocols, enabled by default. This allows connections between browsers and public nodes, and eventually between browsers and non-public nodes and in be

[2022-10-25 21:40] ratik21 commented on #1442
@achingbrain I have upgraded the `js-libp2p` version on [this](https://github.com/ratik21/p2p-webrtc-star-test/blob/main/after-esm/node1.js) test, but I am still getting the same issue as above.

As an alternative, could you please suggest what protocol to use for connection b/w two peers where one is behind a NAT? Before the esm upgrade webrtc-star servers were working fine. Anyway, can we use ci

[2022-10-25 22:27] achingbrain commented on #1428
Fixed by #1440

[2022-10-25 22:27] #1428 closed

[2022-10-27 21:29] JoshuaCWebDeveloper commented on #762
Documentation for logging in libp2p would be super helpful!

What I figured out after a bit of searching was that I could also use the `@libp2p/logger` module to configure logging at runtime:

[code]

[2022-10-28 13:30] #1382 closed, assigned to nobody

[2022-10-28 20:14] ratik21 commented on #1442
@achingbrain -- any update on this?

[2022-10-28 20:41] dapplion opened #1469 "identify + identify/push sanity checks"
Multiple items to protect us:
- Provide an allow list of protocols, ignore all else
- Limit total count of protocols stored per peer (overlaps with above) in peer store
- Limit total count of addresses per peer in peer store
- Modify Identify protobuf decoder to apply limits above at decode time
- Add rate limit for built-in enabled by default protocols, at least identity, identify/push. Rate limi

[2022-11-07 22:41] p-shahi commented on #1029
This is being taken up by @ckousik now, but for some reason set the assignee

[2022-11-08 00:23] p-shahi commented on #1454
Did you mean to link to https://github.com/libp2p/js-libp2p-multistream-select/blob/master/src/multistream.ts#L85
The error indicates it's using the TS library
`    at read (file:///home/lion/Code/eth2.0/lodestar/node_modules/@libp2p/multistream-select/src/multistream.ts:85:19)`

[2022-11-08 00:42] p-shahi commented on #1455
@achingbrain are these docs updated manually?
I was poking around and generated this using [Typedoc](https://github.com/TypeStrong/typedoc)
<img width="1246" alt="image" src="https://user-images.githubusercontent.com/50885601/200445932-fcb15ea8-a4ef-4bc6-a2e7-85edb3f10cd9.png">

Is this something you'd want added to js-libp2p?

[2022-11-08 08:34] achingbrain commented on #1455
Yes please, the typedoc story has always been a bit hit & miss with JSDoc-style typing but it’s much better with pure typescript.

Aegir has a docs command that generates typedocs and uploads them to gh-pages, that’s be the place to do it, then run that in each repo on release.

[2022-11-08 16:30] p-shahi commented on #1458
@mpetrunic Let's use this tracking issue to help fill out the remaining metrics work

[2022-11-08 17:03] mpetrunic commented on #1409
Triage: mdns is not really up to spec: https://github.com/libp2p/js-libp2p-mdns/issues/101
but this looks like bug with duplicates.

[2022-11-08 17:28] wemeetagain commented on #1409
I think this is a bug here, worth keeping this open to investigate.

It's probably the case that mdns is populating our peerstore with local dns multiaddrs.
Those are then being 'resolved' by the dialer into duplicate ip addresses.

[2022-11-08 18:16] maschad commented on #1455
I created a [Draft PR](https://github.com/libp2p/js-libp2p/pull/1476) but it is currently blocked by [an issue](https://github.com/ipfs/aegir/issues/1105) that I created on AEgir.

[2022-11-08 19:55] p-shahi commented on #1442
@ratik21 We likely won't pursue this issue since we are actively working to support WebRTC transport https://github.com/little-bear-labs/js-libp2p-webrtc/ and deprecate WebRTC-star (and direct) as a result.

[2022-11-10 09:47] ratik21 commented on #1442
@p-shahi Ok, thanks for responding. few questions :-

+ Does [js-libp2p-webrtc](https://github.com/little-bear-labs/js-libp2p-webrtc/) work for server <-> browser, server <-> server as well? Or is it only browser <-> browser?

+ Assuming browser to browser only, will this transport be able to discover & connect to "new" peers (not known peers but peers who join the network), behind NAT's ? It seem

[2022-11-10 17:43] p-shahi opened #1478 "WebRTC: Browser to Server"
- [x] https://github.com/little-bear-labs/js-libp2p-webrtc/pull/4

Refactoring to use `Upgrader` interface:
  - https://github.com/libp2p/js-libp2p-interfaces/pull/290#issuecomment-1259305581
  - https://github.com/libp2p/js-libp2p/pull/1411
  - https://github.com/little-bear-labs/js-libp2p-webrtc/pull/29
- [x] Testing via Testground
  - [x] https://github.com/testground/testground/issues/1386
  -

[2022-11-10 19:21] p-shahi commented on #1442
@ratik21 That implementation (tracked here https://github.com/libp2p/js-libp2p/issues/1478 now) is for browser to server
How it behaves is specified here: https://github.com/libp2p/specs/tree/master/webrtc

The browser to browser aspect is just beginning to get underway. See https://github.com/libp2p/js-libp2p/issues/1462. It's not specified yet but necessary parts like supporting Circuit Relay v2

[2022-11-11 00:07] ratik21 commented on #1442
@p-shahi thanks! I will try [js-libp2p-webrtc](https://github.com/little-bear-labs/js-libp2p-webrtc/) for server to server, and browser to browser for new discovery and connections

[2022-11-11 08:42] dapplion commented on #1454
Yes right

[2022-11-13 16:41] iliyaZelenko commented on #1354
Same on Node `v14.18.1`

[2022-11-15 07:24] p-shahi commented on #1442
@ratik21 I'll close this issue for now.

[2022-11-15 07:24] #1442 closed

[2022-11-15 16:00] mpetrunic commented on #1454
@dapplion Could you try with latest version. https://github.com/libp2p/js-libp2p-multistream-select/pull/30 should give us better info in logs.

[2022-11-15 16:36] mpetrunic commented on #1110
Triage notes: @gitaaron could you try with latest version and [Plaintext encryption](https://github.com/libp2p/js-libp2p/blob/master/src/insecure/index.ts#L95)?

[2022-11-15 17:53] dapplion commented on #1454
This will log as hex? Not familiar with debug formating internals `log.error('%s', buf.subarray())`

@wemeetagain do we have this version on Lodestar? not yet I imagine

[2022-11-16 11:41] mpetrunic commented on #1454
I tried in test, and produces [82, 14] but should be easy enough to write a script to convert to utf8 to debug

[2022-11-18 12:20] sk1122 opened #1481 "ERR_PACKAGE_PATH_NOT_EXPORTED while using libp2p through js-libp2p guide"
- **Version**:

[code]

- **Platform**:

Ubuntu 22.04 LTS

- **Subsystem**:

#### Severity:

High

#### Description:

I was following libp2p js guide from https://docs.libp2p.io/guides/getting-started/javascript/, tried start node but got this error on first run
`Error [ERR_PACKAGE_PATH_NOT_EXPORTED]: No "exports" main defined in /home/satyam/Desktop/code/js-libp2p/node_modules/libp2p/package.json

[2022-11-18 21:50] p-shahi commented on #1481
@sk1122 can you trying running `npm update` and see if that resolves your issue?

[2022-11-19 05:09] sk1122 commented on #1481
@p-shahi yeah tried it already

[2022-11-19 05:23] p-shahi commented on #1481
Can you modify the code snippets in the guide locally per: https://github.com/libp2p/js-libp2p/blob/master/doc/migrations/v0.39-v0.40.md and report back? Looking at the guide, it doesn't account for js-libp2p switching to using dependency injection for constructors

[2022-11-19 10:05] achingbrain commented on #1481
What version of node are you using?

[2022-11-19 10:28] sk1122 commented on #1481
I am using node v18 and @p-shahi tried that, still same issue, removed node_modules and yarn.lock and reinstalled all the packages, but still not working

[2022-11-19 14:02] achingbrain commented on #1481
Can you share a small demo repo that has the code you are running please?

[2022-11-19 15:45] sk1122 commented on #1481
@achingbrain  https://github.com/sk1122/js-libp2p-example, let me know if you face same issue

[2022-11-21 03:19] fryorcraken opened #1484 "Autodialer uses `0.0.0.0` address"
- **Version**: `0.40.0`

- **Platform**: Firefox 106.0.4 (64-bit) Fedora Linux

- **Subsystem**:  `AutoDialler`/`Dialer`/`Websocket`

#### Severity:  **High**

#### Description:

Using libp2p with websockets in the browser, connecting to remote peer:

[code]

Goes fine, after ~10min the websocket connection drops.

I can see that the autodialer kicks in and try to re-dial the target. However, inst

[2022-11-21 04:33] fryorcraken commented on #1484
Investigation so far:

I can see that `addrs` at https://github.com/libp2p/js-libp2p/blob/5e9dcf3d404a975d01ee7171305cc2ab07ea7307/src/connection-manager/dialer/index.ts#L238 contains the `0.0.0.0` ip.

I am logging it as soon as it is set:

On first dial:
[code]

On redial (by killing other libp2p node)
[code]

[2022-11-21 04:37] fryorcraken commented on #1484
One step earlier,

[code]

When logging what is returned by the address book at https://github.com/libp2p/js-libp2p/blob/5e9dcf3d404a975d01ee7171305cc2ab07ea7307/src/connection-manager/dialer/index.ts#L240

So it means that the right address is never added to the address book (but it is present in the peer store when I do `peerStore.all()`).

[2022-11-21 05:16] fryorcraken commented on #1484
More investigation:

1. I use `@libp2p/bootstrap@5.0.0`
2. When a peer is discovered, I use `libp2p.dial` but only pass the **peer id**

This `add`s the address to the address book (not sure how)

[code]

4. the peer store returns the right address in `dialer.dial`:
[code]

5. Then, shortly after, it sets the multiaddrs to `0.0.0.0`:

[code]

6. Then, connection stops and it needs to get the multi

[2022-11-21 05:32] fryorcraken commented on #1484
Ok, found the issue:

https://github.com/libp2p/js-libp2p/blob/a74d22a2cddf9ffdca26447fe21a62b5d13e773d/src/identify/index.ts#L365

As this is part of the identify protocol. It means that somehow we are already connected to the remote peer.

Hence, if there is no signed peer record, is it really best for a `addressBook.set` to be done, shouldn't it be `addressBook.add` to not override existing add

[2022-11-21 06:01] fryorcraken commented on #1484
Confirmed that no issue redialing with this fix: https://github.com/libp2p/js-libp2p/pull/1485

[2022-11-21 14:02] mpetrunic commented on #1409
Dial obtains peerId from multiaddr and fetches all ma from peerstore connected to that peerId.

I don't think it's possible to store duplicate ma in peerstore as they all end https://github.com/libp2p/js-libp2p-peer-store/blob/master/src/store.ts#L197 and you cannot have duplicate keys.

It seems like that only possibility to create duplicates is here: https://github.com/libp2p/js-libp2p/blob/v0.3

[2022-11-21 21:52] wemeetagain commented on #1409
yup, I haven't confirmed, but I think mdns is adding `something.local` dns multiaddrs for found peers, and those are being resolved to duplicate ip addrs.

[2022-11-21 22:30] gitaaron commented on #1110
Unfortunately, still not working for me.

When I try to dial from Go to JS over plaintext echo I see the following error msg in Go -
[code]
When I try to dial  JS to Go I see the following error message -
[code]

Last I looked into it there was a mismatch in the protobuf 'Exchange' message where on the JS side the 'pubkey' seemed to be nested as an additional Exchange.

[2022-11-22 08:20] BigLep commented on #1458
@achingbrain : what's the done criteria for this issue and do we have the list of work items to get there?  For work items, is it the list of related items/links, or are there additional items to add?

[2022-11-22 09:35] mpetrunic commented on #1458
Look at related prs and issues in original description. Seems like only https://github.com/libp2p/js-libp2p-tcp/issues/226 is left and it's waiting to be merged

[2022-11-22 12:18] achingbrain commented on #1409
The current behaviour is a little confusing - I think if you dial a PeerId it should do this, if you dial one or more multiaddrs it should probably only dial that/those multiaddrs.  If dialing multiple multiaddrs it needs to assert that they all are for the same remote peer as well, since you only get one connection back.

I think ignoring seemingly arbitrary addresses might make failures hard to

[2022-11-22 12:36] mpetrunic commented on #1409
I think there is another option for concurrency called maxParallelDials which is used to obtain tokens but I cannot find where they are used.

I feel like the current setup is some way to refresh old peers with a lot of old addresses but if the user submitted ma to dial, it makes sense to use that one and maybe a few old ones.

For now I would just add filtering duplicated so we fix this bug and m

[2022-11-22 12:37] achingbrain commented on #1409
Yes, filtering duplicate addresses and looking at dialing logic more holistically can be tackled separately.

[2022-11-22 12:39] achingbrain commented on #1409
`maxParallelDials` is used [here](https://github.com/libp2p/js-libp2p/blob/5e9dcf3d404a975d01ee7171305cc2ab07ea7307/src/connection-manager/dialer/index.ts#L110) to control the number of dial tokens that are available globally in a single libp2p node.

[2022-11-22 12:44] mpetrunic commented on #1409
Yes but I cannot find usage of getTokens and releaseTokens methods

[2022-11-22 12:46] achingbrain commented on #1409
In the dial request:

[getTokens](https://github.com/libp2p/js-libp2p/blob/0218acfae26fa69475b2ce0678b1c754c7eda605/src/connection-manager/dialer/dial-request.ts#L49)

[releaseToken](https://github.com/libp2p/js-libp2p/blob/0218acfae26fa69475b2ce0678b1c754c7eda605/src/connection-manager/dialer/dial-request.ts#L89)

[releaseToken](https://github.com/libp2p/js-libp2p/blob/0218acfae26fa69475b2ce0678b

[2022-11-22 13:35] bajtos opened #1487 "Missing peer dependency `undici`"
- **Version**: `libp2p 0.40.0`, `pnpm 7.17.0`

- **Platform**: `Darwin komp21x.local 21.6.0 Darwin Kernel Version 21.6.0: Thu Sep 29 20:13:56 PDT 2022; root:xnu-8020.240.7~1/RELEASE_ARM64_T6000 arm64`

- **Subsystem**: 🤷🏻

#### Severity:

Low

#### Description:

Run `pnpm add libp2p`

An issue with peer dependencies deep in the dependency tree is reported:

[code]

I think the issue is in @achingb

[2022-11-22 13:36] bajtos commented on #1487
The same problem applies to `pnpm add '@libp2p/tcp'` too.

[code]

[2022-11-22 15:05] achingbrain commented on #1487
Thanks for reporting this.  This module doesn't depend on `native-fetch` - `dns-over-http-resolver` does so that's where the missing peer dep should be added.

This is the repo - https://github.com/vasco-santos/dns-over-http-resolver - would you like to put a quick PR together?

[2022-11-22 15:07] #1481 closed

[2022-11-22 15:13] achingbrain commented on #1458
`@libp2p/tcp` is leading the charge on the metrics integration, but once it's settled down similar metrics will also need to be added to other transports:

- [@libp2p/websockets](https://github.com/libp2p/js-libp2p-websockets)
- [@libp2p/webtransport](https://github.com/libp2p/js-libp2p-webtransport)
- [@libp2p/webrtc](https://github.com/little-bear-labs/js-libp2p-webrtc)

We should also be collec

[2022-11-22 16:12] tinytb commented on #1005
backlog grooming: nearly done, but needs some time spent on it.

[2022-11-23 10:58] bajtos commented on #1487
Makes sense. I found an existing issue in dns-over-http-resolver repo that seems to describe the same problem: https://github.com/vasco-santos/dns-over-http-resolver/issues/44

Let's continue the discussion there.

[2022-11-23 11:40] achingbrain commented on #1487
Fixed by https://github.com/vasco-santos/dns-over-http-resolver/pull/78

[2022-11-23 11:40] #1487 closed

[2022-11-23 16:40] mpetrunic opened #1490 "Revisit dialing logic"
The current behaviour is a little confusing - I think if you dial a PeerId it should do this, if you dial one or more multiaddrs it should probably only dial that/those multiaddrs.  If dialing multiple multiaddrs it needs to assert that they all are for the same remote peer as well, since you only get one connection back.

I think ignoring seemingly arbitrary addresses might make failures hard to

[2022-11-23 16:41] mpetrunic commented on #1490
The submitted ma also get's dialed but we add all addresses from address book and all resolved addresses which can easily exceed max number of addresses

I think there is another option for concurrency called maxParallelDials which is used to obtain tokens but I cannot find where they are used.

I feel like the current setup is some way to refresh old peers with a lot of old addresses but if the u

[2022-11-23 18:55] achingbrain commented on #1342
Good news, with #1491 and libp2p/js-libp2p-mplex#233 both applied streaming performance is fixed, not only that but it's now faster than `libp2p@0.36.x` with smaller message sizes for both mplex and yamux.  This will be all be in the next release.

<img width="593" alt="image" src="https://user-images.githubusercontent.com/665810/203625536-6941b3fb-cff5-4ba7-978b-4d524c7b38bc.png">

[2022-11-24 10:04] #1342 closed

[2022-11-24 11:25] wangfaguo opened #1492 "Error: Cannot find module 'readable-stream'"
- **Version**: js-libp2p 0.40.0

- **Platform**: Mac mini (M1, 2020)

- **Subsystem**:  Mac OS 12.5.1  ,Nodejs v18.12.1

#### Severity: Critical

#### Description:

I got this error after ` git clone https://github.com/libp2p/js-libp2p.git`  ` cd js-libp2p` ` npm install`

xxxxx@xxxxxdeMac-mini js-libp2p-0.40.0 % npm install
npm ERR! code 1
npm ERR! path /Users/xxxxx/Downloads/js-libp2p-0.40.0/nod

[2022-11-24 16:35] nuel77 opened #1493 "Not recieving floodsub messages and error on gossipsub"
Hello,
I am trying to chat with in the browser using lib2p i tried with the example listed here. but i was not able to recive any messages.
i am not sure where i am doing wrong. my code is as follows.
[code]

if i try changing the floodsub to gossipsub
[code]
i am getting this error
[code]
So basically, both floodsub and gossipsub are not working for me for some reason. my package.json is attached

[2022-11-25 15:07] AlexMesser opened #1496 "Connection drop causes pubsub to stop working."
- **Version**: 0.40.0

- **Platform**:  MacOS, Node v16.14.0

- **Subsystem**: Pubsub, Relay, ConnectionManager

#### Severity: High

#### Description:

I have two peers - Alice and Bob, both connected to the same relay server and subscribed to the same topic.

I need to find all peers subscribed to a given topic, e.g. I call `libp2p.pubsub.getSubscribers("my_topic")` from the Alice side and expec

[2022-11-25 15:14] #1409 closed

[2022-11-25 15:44] achingbrain commented on #1484
Signed peer records exist so I can (for example) as peer A, receive a record from peer B and give it to peer C.  Since the record is signed by peer B's key, peer C does not need to trust me.

During identify you only receive addresses directly from the remote peer.  It's not in the remote peer's interest to send you false addresses as you'll then not be able to dial it later on.  Bad addresses cou

[2022-11-25 18:17] achingbrain opened #1497 "Dialing a multiaddr should only dial that multiaddr"
Currently if we dial a `PeerId`, we check the peer store address book for any known addresses for the `PeerId` and dial them all.

If we dial a `Multiaddr`, we extract the `PeerId` from the `Multiaddr`, add the `Multiaddr` to the peer store then check the peer store for addresses for the `PeerId` and then dial them all.

This is inefficient and also probably not what the user intended.

Instead if

[2022-11-25 18:31] achingbrain opened #1499 "Start node by default"
Most of the time, after `createLibp2p` is called, the next thing called is `node.start()`.  Sometimes this [catches users out](https://github.com/libp2p/js-libp2p/pull/1477#issuecomment-1321713030).

`createLibp2p` is async so we can just start the node in that function and save the user the trouble.

We can pass `{ start: false }` as an option to disable this behaviour.

[2022-11-28 11:41] fryorcraken commented on #1484
Thank you @achingbrain. I agree with your statement and that the isue is more likely to be the remote peer sending `0.0.0.0` in the `listenAddrs` of the identify message.

Other implementation is nwaku/nim-libp2p. Will follow-up on this side.

I can see that a `signedPeerRecord` is expected in the identify message but it's not part of the spec https://github.com/libp2p/specs/tree/master/identify a

[2022-11-28 11:51] fryorcraken commented on #1484
Issue reported upstream: https://github.com/waku-org/nwaku/issues/1427.

I am happy to close this or keep it open until it's 100% clarified but explanation provided for js-libp2p's behaviour seems fair.

[2022-11-29 16:33] achingbrain commented on #1454
Triage: waiting for @dapplion to try with the latest version with enhanced logging

[2022-11-30 08:56] #1497 closed

[2022-11-30 09:11] #1499 closed